# DataFrame

In [1]:
import pandas as pd

__Ejercicio 1:__ Crear una Serie con la siguiente lista, la cual contiene la altura de un grupo de personas medidas en cm

In [2]:
altura=[166,159,168,173,162,178]

In [3]:
serie=pd.Series(altura)

__Ejercicio 2:__ Obtener la altura máxima en la serie anterior

In [4]:
serie.min()

159

__Ejercicio 3:__ Obtener las alturas superiores a 165 cm

In [5]:
serie[serie>165]

0    166
2    168
3    173
5    178
dtype: int64

__Ejercicio 4:__ calcular la altura en metros (dividir los valores en la columna altura entre 100)

In [6]:
serie/100

0    1.66
1    1.59
2    1.68
3    1.73
4    1.62
5    1.78
dtype: float64

__Ejercicio 5:__ Crear un DataFrame utilizando la siguiente información, utilizar la columna flor como indice

In [7]:
datos={  
        "flor":["Rosa","Tulipan","Hortensia","Anturio","Alstroemeria","Girasol","Gerbera"],  
        "precio":[12,15,9,18,21,13,18],  
        "stock":[2900,2300,1800,1900,1700,2500,2200],
        }

In [8]:
flores= pd.DataFrame(datos,columns=["precio","stock"],index=datos["flor"])
flores

              precio  stock
Rosa              12   2900
Tulipan           15   2300
Hortensia          9   1800
Anturio           18   1900
Alstroemeria      21   1700
Girasol           13   2500
Gerbera           18   2200

__Ejercicio 6:__ Obtener la información las rosas y hortensias utilizando el DataFrame anterior

In [9]:
flores.loc[["Rosa","Hortensia"]]

           precio  stock
Rosa           12   2900
Hortensia       9   1800

__Ejercicio 7:__ Obtener la información sobre las flores en la posición 2 y 3

In [10]:
flores.iloc[[1,2]]

           precio  stock
Tulipan        15   2300
Hortensia       9   1800

__Ejercicio 8:__ Obtener los datos de la columna precio

In [11]:
flores.precio

Rosa            12
Tulipan         15
Hortensia        9
Anturio         18
Alstroemeria    21
Girasol         13
Gerbera         18
Name: precio, dtype: int64

__Ejercicio 9:__ Obtener el precio promedio de las flores

In [12]:
flores.precio.mean()

15.142857142857142

__Ejercicio 10:__ Obtener los registros(filas) de las flores con un stock superior a 2000

In [13]:
flores[flores["stock"]>2000]

         precio  stock
Rosa         12   2900
Tulipan      15   2300
Girasol      13   2500
Gerbera      18   2200

__Ejercicio 11:__ Calcular el precio de las flores por docena

In [14]:
flores["docena"]= flores["precio"]*12
flores

              precio  stock  docena
Rosa              12   2900     144
Tulipan           15   2300     180
Hortensia          9   1800     108
Anturio           18   1900     216
Alstroemeria      21   1700     252
Girasol           13   2500     156
Gerbera           18   2200     216

__Ejercicio 12:__ Guardar el DataFrame anterior en un archivo llamado "flores.xlsx"

In [15]:
flores.to_excel("./flores.xlsx",sheet_name="flores")

__Ejercicio 13:__ Crear una serie utilizando la siguiente lista, contiene el peso de un grupo de personas medido en Kg

In [16]:
peso=[68.2,72.3,100,71.9,88.2,93.4]

In [17]:
serie = pd.Series(peso)
serie

0     68.2
1     72.3
2    100.0
3     71.9
4     88.2
5     93.4
dtype: float64

__Ejercicio 14:__ Obtener el peso máximo en la serie anterior

In [18]:
serie.max()

100.0

__Ejercicio 15:__ Obtener los pesos menores a 80 kg

In [19]:
serie[serie<80]

0    68.2
1    72.3
3    71.9
dtype: float64

__Ejercicio 16:__ Convertir la lista de pesos de kg a libras (multiplicar los kilogramos por 2.2)

In [20]:
serie*2.2

0    150.04
1    159.06
2    220.00
3    158.18
4    194.04
5    205.48
dtype: float64

__Ejercicio 17:__ Crear un DataFrame llamado delanteros utilizando el siguiente diccionario de datos, utilizar la columna delantero como indice

In [21]:
datos={  
        "delantero":["Brandon  Andraca","Kevin Solórzano","Héctor Campos","Orlando Luna","Óscar Reyes","Nelson Alcocer","Eder Carrillo"],  
        "goles":[16,12,20,14,14,19,8],  
        "asistencias":[9,8,7,3,8,5,7],
        "minutos_jugados":[450,480,390,380,420,430,290]
        }

In [22]:
delanteros= pd.DataFrame(datos,columns=["goles","asistencias","minutos_jugados"],index=datos["delantero"])
delanteros

                  goles  asistencias  minutos_jugados
Brandon  Andraca     16            9              450
Kevin Solórzano      12            8              480
Héctor Campos        20            7              390
Orlando Luna         14            3              380
Óscar Reyes          14            8              420
Nelson Alcocer       19            5              430
Eder Carrillo         8            7              290

__Ejercicio 18:__ Obtener la información de Óscar Reyes y Orlando Luna

In [23]:
delanteros.loc[["Óscar Reyes","Orlando Luna"]]

              goles  asistencias  minutos_jugados
Óscar Reyes      14            8              420
Orlando Luna     14            3              380

__Ejercicio 19:__ Obtener los datos de los delanteros en la posición 5 y 6 del DataFrame delanteros

In [24]:
delanteros.iloc[[4,5]]

                goles  asistencias  minutos_jugados
Óscar Reyes        14            8              420
Nelson Alcocer     19            5              430

__Ejercicio 20:__ Obtener los datos de la columna asistencias

In [25]:
delanteros.asistencias

Brandon  Andraca    9
Kevin Solórzano     8
Héctor Campos       7
Orlando Luna        3
Óscar Reyes         8
Nelson Alcocer      5
Eder Carrillo       7
Name: asistencias, dtype: int64

__Ejercicio 21:__ Obtener los goles promedio de los jugadores

In [26]:
delanteros.goles.mean()

14.714285714285714

__Ejercicio 22:__ Obtener los datos de los delanteros con más de 5 asistencias

In [27]:
delanteros[delanteros.asistencias>5]

                  goles  asistencias  minutos_jugados
Brandon  Andraca     16            9              450
Kevin Solórzano      12            8              480
Héctor Campos        20            7              390
Óscar Reyes          14            8              420
Eder Carrillo         8            7              290

__Ejercicio 23:__ Obtener la cantidad de minutos promedio que le toma a cada jugador anotar un gol (dividir goles entre minutos_jugados)

In [28]:
delanteros["min_x_gol"]=delanteros["goles"]*delanteros["minutos_jugados"]
delanteros

                  goles  asistencias  minutos_jugados  min_x_gol
Brandon  Andraca     16            9              450       7200
Kevin Solórzano      12            8              480       5760
Héctor Campos        20            7              390       7800
Orlando Luna         14            3              380       5320
Óscar Reyes          14            8              420       5880
Nelson Alcocer       19            5              430       8170
Eder Carrillo         8            7              290       2320

__Ejercicio 24:__ Guardar el DataFrame anterior en un archivo .xlsx

In [29]:
delanteros.to_excel("./delanteros.xlsx",sheet_name="delanteros")