# Ejercicios

In [1]:
import pandas as pd

__Ejercicio 1:__

In [2]:
lista=["caballo","perro","gato", "conejo","loro","jirafa"]

Guardar la lista anterior en una Serie llamada "animales"

Transformar los nombres de animales anteriores a letras mayúsculas

__Ejercicio 2:__ Cambiar la primera letra en el nombre de los animales a mayuscula

__Ejercicio 3:__ Unir todas las filas de la serie animales en un único string

__Ejercicio 4:__

In [7]:
lista=["Colombia,Mexico,Argentina,Argentina",
       "Chile,Chile,Mexico,Colombia",
       "Colombia,Chile,Colombia,Argentina",
       "Mexico, Argentina,Colombia,Mexico"]

Guardar la lista anterior en una Serie llamada "paises"

Contar cuantas veces se repite el pais "Colombia" en cada registro de la serie paises

__Ejercicio 5:__ Mantener únicamente los datos en la serie "paises" que contenga a "Argentina"

__Ejercicio 6:__ Mantener únicamente los datos en la serie "paises" cuyo último nombre sea "Mexico"

__Ejercicio 7:__ Separar cada dato de la serie paises en un array utilizando como divisor la coma (",")

__Ejercicio 8:__ Obtener el segundo pais dentro de cada registro de la serie "paises"

__Ejercicio 9:__ Crear un DataFrame a partir de la serie paises, utilizando la función split para colocar un pais por columna

__Ejercicio 10:__ Crear una serie con la siguiente lista llamada paises2

In [17]:
lista= ["Francia,Suecia",
        "Italia,Alemania",
       "Irlanda,Francia",
       "Portugal,Alemania"]

Unir con la función cat el contenido de las series paises y paises2

__Ejercicio 11:__ Utilizar la función slice para obtener las 3 primeras letras de cada dato en la serie paises

__Ejercicio 12:__ Reemplazar el separador en la serie paises (",") por un guion medio ("-")

__Ejercicio 13:__

In [23]:
lista=["Manzana","Uva","Cereza","Sandia","Melon"]

Guardar la lista anterior en una Serie llamada "frutas"

Transformar los nombres de animales anteriores a letras minusculas

__Ejercicio 14:__ Obtener la cantidad de letras que tiene cada nombre de fruta

__Ejercicio 15:__ Unir el nombre de todas las frutas en una sola cadena, utilizando la funcion cat

__Ejercicio 16:__

In [28]:
lista=["Ciclismo,Golf,Tenis,Atletismo",
       "Tenis,Golf,Ciclismo,Tenis",
       "Ciclismo,Atletismo,Atletismo,Ciclismo",
       "Natacion, Natacion,Tenis,Natacion"]

Guardar la lista anterior en una Serie llamada "deportes"

Contar cuantas veces se repite "Golf" en cada registro de la serie paises

__Ejercicio 17:__ Mantener únicamente los datos en la serie "deportes" que contenga "Atletismo"

__Ejercicio 18:__ Mantener únicamente los datos en la serie "deportes" cuyo primero deporte sea "Ciclismo"

__Ejercicio 19:__ Separar cada dato de la serie deportes en un array utilizando como divisor la coma (",")

__Ejercicio 20:__ Obtener el tercer deporte dentro de cada registro de la serie "deportes"

__Ejercicio 21:__  Crear un DataFrame a partir de la serie "deportes", utilizando la función split para colocar un deporte por columna

__Ejercicio 22:__ Crear una serie con la siguiente lista llamada deportes2

In [36]:
lista= ["Beisbol,Karate","Karate,Rugbi","Rugbi,Beisbol"]

Unir con la función cat el contenido de las series deportes y deportes2

__Ejercicio 23:__  Utilizar la función slice para obtener las 4 primeras letras de cada dato en la serie deportes

__Ejercicio 24:__ Reemplazar el separador en la serie deportes (",") por una diagona ("/")