# Strings

In [2]:
import pandas as pd

__Ejercicio 1:__

Guardar la lista anterior en una serie llamada numeros

In [1]:
lista=[10,22,21]

Convertir el tipo de dato en la serie anterior a String

__Ejercicio 2:__

In [7]:
lista=["Daniel Israel","Rocio del Carmen","Paulina Isabelle", "Elias Israel"]

Guardar la lista anterior en una serie llamada __"nombres"__

Obtener la longitud de todos los nombres (Ej. Pedro=5)

Cambiar todas las letras en los nombres a minuscula

Cambiar todas las letras en los nombres a mayúscula

__Ejercicio 3:__

Cambiar la primera letra de cada palabra a mayúscula

Cambiar la primera letra de cada registro a mayúscula (Ej. manuel jesus= Manuel jesus)

__Ejercicio 4:__ Obtener la cantidad de veces que se repite la letra "a" en cada nombre

__Ejercicio 5:__ Evaluar si los nombres anteriores empiezan con la cadena de caracteres "Daniel"

__Ejercicio 6:__ Evaluar si los nombres contienen la cadena de caracteres "Israel"

__Ejercicio 7:__

Crear una serie llamada __apellidos__ en base a la siguiente lista:

In [20]:
lista=["Romero","Aguilar","Mejia","Rojas"]

Evaluar si los apellidos empiezan por la letra "R"

Evaluar si los apellidos terminan por la letra "a"

Obtener una serie nueva únicamente con los apellidos que terminan con la letra "a"

__Ejercicio 8:__ Concatenar las serie con los nombres y los apellidos

__Ejercicio 9:__ Obtener las 3 primeras letras de los apellidos

__Ejercicio 10:__ Obtener las 3 primeras letras de los apellidos y agregar un punto al final

__Ejercicio 11:__

In [29]:
lista=["171","Daniel","Romero","23","True"]

Guardar la lista anterior en una serie llamada "datos"

Evaluar cuales de los datos en la serie anterior pueden transformarse a numeros

Obtener una serie nueva únicamente con los registros númericos dentro de "datos"

Unir todos los datos de la serie "datos" en un único string

__Ejercicio 12:__

In [ ]:
lista=["12-12-2020","08-11-2021","15-01-2019"]

Guardar la lista anterior en una serie llamada fechas

Reemplazar los separadores "-" por "/" en las fechas anteriores (Ej. "12-12-2020" ="12/12/2020")

__Ejercicio 13:__ Separar la fecha en dia, mes y año, utilizando la función split

__Ejercicio 14:__ Obtener el año de cada fecha

__Ejercicio 15:__ Generar un DataFrame a partir de la serie fechas, utilizando la funcion split

__Ejercicio 16:__

In [43]:
lista=["Raul Jose","Sofía Yasmin","Julia Carmen", "Roberto Miguel"]

Guardar la lista anterior en una serie llamada nombres

Cambiar a letras minusculas los nombres que terminen en la letra "n"

Cambiar a letras mayusculas los nombres que empiecen con la letra "R"

__Ejercicio 17:__

Importar los datos del archivo "mascotas.xlsx" utilizando pandas y guardarlos en un DataFrame llamado "mascotas"

Cambiar las letras a mayusculas en el dato de la columna "tipo" si contiene la silaba "rro"

__Ejercicio 18:__ Cambiar las letras a minusculas en el dato de la columna "tipo" si empieza con la silaba "Ga"