# Ejercicios con fechas Pandas

In [2]:
import pandas as pd

In [3]:
import datetime as dt

__Ejercicio 1:__ Obtener la fecha de hoy con Timestamp.now:

In [11]:
pd.Timestamp.now()

Timestamp('2021-12-27 19:26:15.180639')

__Ejercicio 2:__ Crear una variable llamada "hoy" con la fecha actual:

In [5]:
hoy = pd.Timestamp(2021, 12,27,2,14,9 )
print("El día de hoy es:",hoy)

El día de hoy es: 2021-12-27 02:14:09

__Ejercicio 3:__ Obtener el año, mes y día de la fecha de hoy utilizando la variable anterior:

In [17]:
dia= hoy.day
mes= hoy.month
año= hoy.year
#print("El día de hoy es",dia,"del mes",mes,"del año",año)

__Ejercicio 4:__ Obtener el mes en español

In [40]:
meses_esp = {1: 'Enero', 
             2: 'Febrero',
             3: 'Marzo',
             4: 'Abril',
             5: 'Mayo',
             6: 'Junio',
             7: 'Julio',
             8: 'Agosto',
             9: 'Septiembre',
             10: 'Octubre',
             11: 'Noviembre',
             12: 'Diciembre'}

def traductor(mes):
    return meses_esp[mes]

traductor(hoy.month)

'Diciembre'

__Ejercicio 5__ Nombrar todos los días de la siguiente semana utilizando pandas date_range:

In [ ]:
semana = pd.Timestamp("2021-12-29")
pd.date_range(hoy, semana)

DatetimeIndex(['2021-12-22', '2021-12-23', '2021-12-24', '2021-12-25',
               '2021-12-26', '2021-12-27', '2021-12-28', '2021-12-29'],
              dtype='datetime64[ns]', freq='D')

__Ejercicio 6:__ Crear un dataframe de fechas con una diferencia de 5 días entre cada elemento

In [110]:
pd.date_range(hoy, freq="5D", periods=4)

DatetimeIndex(['2021-12-22', '2021-12-27', '2022-01-01', '2022-01-06'], dtype='datetime64[ns]', freq='5D')

__Ejercicio 7:__ Sumar 2 días y 9 semanas a la fecha de hoy:

In [19]:
 hoy + pd.Timedelta(days=2,weeks=9)

Timestamp('2022-02-25 00:00:00')

__Ejercicio 8:__ Utilizar strftime para obtener el día de la semana en letras del día de hoy

In [104]:
hoy.strftime("%X")
hoy.strftime("%c")
hoy.strftime("%a")
#https://docs.python.org/3/library/datetime.html#module-datetime

'Wed'

__Ejercicio 9:__

Utilizar datetime.datetime.strftime para obtener la fecha en un formato personalizado (Ej. "Fecha: 10/02/15")

In [138]:
dt.datetime.strftime(hoy,"Fecha: %d/%m/%Y")

'Fecha: 27/12/2021'

__Ejercicio 10__:

Importar el archivo fecha.xlsx

In [4]:
fecha= pd.read_excel("./fecha.xlsx",index_col="Fecha")

In [6]:
#fecha.head()

Agregar al dataframe una columna con el día, otra con el mes y finalmente una con el año de cada fecha:

In [29]:
fecha["Año"] =fecha.index.year
fecha["Mes"] =fecha.index.month
fecha["Dia"] =fecha.index.day

##Es importante que sea en indice porque si no algunos metodos fallarán, por ejemplo, isocalendar que verémos más adelante

In [31]:
#fecha.head()

__Ejercicio 11:__ Obtener el año y el mes en una sola columna utilizando el indice del DataFrame anterior

In [42]:
def convertir(indice):
    return indice.strftime("%Y/%m")


fecha["FechaMes"]= fecha.index.map(convertir)

__Ejercicio 12:__ Obtener el año, la semana y el día utilizando isocalendar sobre el DataFrame anterior:

In [11]:
fecha.index.isocalendar()

            year  week  day
Fecha
2020-10-22  2020    43    4
2020-10-23  2020    43    5
2020-10-24  2020    43    6
2020-10-25  2020    43    7
2020-10-26  2020    44    1
2020-10-27  2020    44    2
2020-10-28  2020    44    3
2020-10-29  2020    44    4
2020-10-30  2020    44    5
2020-10-31  2020    44    6
2020-11-01  2020    44    7
2020-11-02  2020    45    1
2020-11-03  2020    45    2
2020-11-04  2020    45    3

__Ejercicio 13:__

Importar los datos del archivo "columna.xlsx"

In [7]:
columna= pd.read_excel("./columna.xlsx")

In [9]:
#columna.head()

Obtener el año y el mes en una sola columna utilizando el indice del DataFrame anterior

In [ ]:
columna["FechaMes2"]= columna["Fecha"].apply(convertir)

__Ejercicio 14__:

Importar la información del archivo "datos.xlsx"

In [49]:
datos= pd.read_excel("./datos.xlsx")
#datos

Crear una columna llamada fecha, que sea la unión del año, mes y día del dataframe anterior:

In [50]:
datos["fecha"]=pd.to_datetime(datos[["year", "month", "day"]])
#datos["fecha"]=pd.to_datetime(datos) Podemos no especificar las columnas, pero solo funciona si
#la base de datos contiene unicamente las columnas a utilizar

#datos

In [44]:
#fecha.head()

__Ejercicio 15:__ Crear una variable con la funcion pd.Timestamp que contenga la fecha "15-05-2022"

In [32]:
fecha = pd.Timestamp(2022, 5,15 )

In [34]:
#fecha

__Ejericio 16:__ Obtener el año, día y mes de la fecha anterior

In [36]:
fecha.year
fecha.month
fecha.day

15

__Ejericio 17:__ Obtener el nombre del mes en español utilizando la fecha anterior (Ej. "Enero"):

In [41]:
traductor(fecha.month)

'Mayo'

__Ejercicio 18:__ Obtener una lista con todas las fechas entre "2022-8-13" y "2022-8-24" con pd.date_range

In [44]:
inicio = pd.Timestamp("2022-08-13")
fin = pd.Timestamp("2022-08-24")
pd.date_range(inicio,fin)

DatetimeIndex(['2022-08-13', '2022-08-14', '2022-08-15', '2022-08-16',
               '2022-08-17', '2022-08-18', '2022-08-19', '2022-08-20',
               '2022-08-21', '2022-08-22', '2022-08-23', '2022-08-24'],
              dtype='datetime64[ns]', freq='D')

__Ejercicio 19:__ Obtener una lista con 6 fechas empezando el día "2022-09-15" utilizando pd.date_range, cada fecha debe ser 5 días siguientes a la anterior

In [45]:
inicio = pd.Timestamp("2022-09-15")
pd.date_range(inicio, freq="5D", periods=6)

DatetimeIndex(['2022-09-15', '2022-09-20', '2022-09-25', '2022-09-30',
               '2022-10-05', '2022-10-10'],
              dtype='datetime64[ns]', freq='5D')

__Ejercicio 20:__ Sumar 4 días y 2 semanas a la fecha "2022-12-22"

In [49]:
inicio = pd.Timestamp("2022-12-22")
inicio + pd.Timedelta(days=4,weeks=2)

Timestamp('2023-01-09 00:00:00')

__Ejercicio 21:__ Obtener la el día de la semana en la fecha "2023-02-28" (Ej. Thursday)

In [53]:
fecha=pd.Timestamp("2023-02-28")
fecha.strftime("%A")

'Tuesday'

__Ejercicio 22:__ Utilizar datetime.datetime.strftime para obtener la fecha en el formato "22/03/2020":

In [56]:
fecha=pd.Timestamp("2020-03-22")
dt.datetime.strftime(fecha,"%d/%m/%Y")

'22/03/2020'

__Ejercicio 23:__

Importar el archivo "Ejercicio 23.xlsx", utilizando la columna Fecha como indice:

In [59]:
fechas= pd.read_excel("./Ejercicio 23.xlsx",index_col="Fecha")

Utilizando el DataFrame anterior, crear una columna que contenga el mes de cada fecha:

In [61]:
fechas["Mes"]= fechas.index.month

In [63]:
#fechas

__Ejercicio 24:__ Utilizando el DataFrame anterior, crear una columna únicamente con el año y día de cada fecha (Ej. 2020-13)

In [64]:
def convertir(indice):
    return dt.datetime.strftime(indice,"%Y/%d")

fechas["FechaDia"]= fechas.index.map(convertir)

In [65]:
fechas

            Mes FechaDia
Fecha
2020-01-22    1  2020/22
2020-01-23    1  2020/23
2020-01-24    1  2020/24
2020-01-25    1  2020/25
2020-01-26    1  2020/26
2020-01-27    1  2020/27
2020-01-28    1  2020/28
2020-01-29    1  2020/29
2020-01-30    1  2020/30
2020-01-31    1  2020/31
2020-02-01    2  2020/01
2020-02-02    2  2020/02

In [ ]:
Agregar una fecha en formato japones (Ej. 2020-20)

In [8]:
fecha =pd.to_datetime("2020-10-20", format="%Y-%m-%d")

In [7]:
pd.to_datetime("10/1/2021", format="%m/%d/%Y")

Timestamp('2021-10-01 00:00:00')

In [9]:
fecha.strftime("%B %d ")

'October 20 '

In [ ]:
#https://docs.python.org/3/library/datetime.html#strftime-and-strptime-behavior