# Python: Fechas

Importar pandas y datetime:

In [1]:
import pandas as pd
import datetime as dt

## Crear fechas

__Ejercicio 1:__  Obtener la fecha de hoy con Timestamp.now()

In [2]:
ahora=pd.Timestamp.now()
ahora

Timestamp('2022-02-20 16:10:33.674189')

__Ejercicio 2:__ Obtener la fecha mínima y máxima en pandas Timestamp:

In [3]:
pd.Timestamp.min

Timestamp('1677-09-21 00:12:43.145224193')

In [4]:
pd.Timestamp.max

Timestamp('2262-04-11 23:47:16.854775807')

__Ejercicio 3:__ Crear una variable con la fecha "2021-12-28" utilizando pd.Timestamp

In [5]:
fecha=pd.Timestamp(2021,12,28)
fecha

Timestamp('2021-12-28 00:00:00')

In [6]:
fecha=pd.Timestamp("2021-12-28")
fecha

Timestamp('2021-12-28 00:00:00')

__Ejercicio 4:__ Sumar 5 días y 2 semanas a la fecha anterior:

In [7]:
fecha2=fecha+pd.Timedelta(days=5, weeks=2)
fecha2

Timestamp('2022-01-16 00:00:00')

In [8]:
fecha

Timestamp('2021-12-28 00:00:00')

In [9]:
fecha3=fecha+pd.Timedelta("19 days")
fecha3

Timestamp('2022-01-16 00:00:00')

__Ejercicio 5__: Crear una lista de fechas con los días entre "2020/6/13" y "2020/6/16" utilizando date_range

In [10]:
inicio=pd.Timestamp(2020,6,13)
fin=pd.Timestamp(2020,6,16)
pd.date_range(inicio,fin)

DatetimeIndex(['2020-06-13', '2020-06-14', '2020-06-15', '2020-06-16'], dtype='datetime64[ns]', freq='D')

__Ejercicio 6:__ Crear una lista con los 5 días siguientes a la fecha "2020-6-13"

In [11]:
pd.date_range(inicio, periods=5)

DatetimeIndex(['2020-06-13', '2020-06-14', '2020-06-15', '2020-06-16',
               '2020-06-17'],
              dtype='datetime64[ns]', freq='D')

__Ejercicio 7:__ Crear una lista con 4 fechas utilizando date_range, a partir del día "2020-6-13", con una frecuencia de 3 días (Ej. "2020-6-13","2020-6-16","2020-6-19",...)

In [12]:
pd.date_range(inicio,periods=4, freq="3m")

DatetimeIndex(['2020-06-30', '2020-09-30', '2020-12-31', '2021-03-31'], dtype='datetime64[ns]', freq='3M')

## Inspeccionar fechas

__Ejercicio 8:__

Guardar en una variable llamada "hoy" la fecha actual:

In [13]:
fecha=pd.Timestamp.now()
fecha

Timestamp('2022-02-20 16:10:33.851216')

Utilizando la variable hoy calcular el día, el mes y el año:

In [14]:
fecha.day

20

In [15]:
fecha.month

2

In [16]:
fecha.year

2022

__Ejercicio 9:__

Utilizando la variable hoy obtener el día de la semana(Ej. Si es lunes el resultado será 0):

In [17]:
fecha.dayofweek

6

Traducir el día de la semana al español (Ej. Martes):

In [18]:
dia_esp = {0: 'Lunes', 
           1: 'Martes',
           2: 'Miercoles',
           3: 'Jueves',
           4: 'Viernes',
           5: 'Sabado',
           6: 'Domingo'}

In [19]:
def traducir(x):
    return dia_esp[6]

In [20]:
traducir(fecha.dayofweek)

'Domingo'

__Ejercicio 10:__ Utilizar strftime para obtener la fecha de hoy en el formato "dd/mm/yy" (Ej. 15/01/98):

In [21]:
fecha.strftime("%d/%m/%y-%A")

'20/02/22-Sunday'

In [22]:
fecha

Timestamp('2022-02-20 16:10:33.851216')

__Ejercicio 11:__ Obtener la hora de la variable hoy en el formato "hh AM/PM" (Ej. 11 AM):

In [23]:
dt.datetime.strftime(fecha,"%d/%m/%y-%A %I %p")

'20/02/22-Sunday 04 PM'

## Crear fechas 2

__Ejercicio 12:__ Crear una fecha utilizando pd.to_datetime con el formato "mm/dd/yyyy"

In [24]:
pd.to_datetime("12/01/1992",format="%d/%m/%Y")

Timestamp('1992-01-12 00:00:00')

__Ejercicio 13:__ Crear una fecha utilizando pd.to_Datetime con el formato "dd/mm/yyyy"

In [25]:
pd.to_datetime("01/12/1992",format="%m/%d/%Y")

Timestamp('1992-01-12 00:00:00')

## Trabajar fechas en series

__Ejercicio 14:__

Crear una serie llamada "fechas" en base a la siguiente lista

In [26]:
lista=["2021-12-31","2022-01-01","2022-01-02"]
lista

['2021-12-31', '2022-01-01', '2022-01-02']

In [27]:
fechas=pd.to_datetime(lista)
fechas

DatetimeIndex(['2021-12-31', '2022-01-01', '2022-01-02'], dtype='datetime64[ns]', freq=None)

Obtener el día, mes y año de la serie

In [28]:
fechas.day

Int64Index([31, 1, 2], dtype='int64')

In [29]:
fechas.month

Int64Index([12, 1, 1], dtype='int64')

In [30]:
fechas.year

Int64Index([2021, 2022, 2022], dtype='int64')

__Ejercicio 15:__

Sumar 5 dias y dos semanas a cada fecha de la serie anterior

In [31]:
fechas+pd.Timedelta(days=5, weeks=2)

DatetimeIndex(['2022-01-19', '2022-01-20', '2022-01-21'], dtype='datetime64[ns]', freq=None)

__Ejercicio 16:__

Utilizar strftime para convertir todas las fechas en la variable "fechas" al formato estadounidense (mm/dd/yy)

In [32]:
fechas.strftime("%m/%d/%y")

Index(['12/31/21', '01/01/22', '01/02/22'], dtype='object')

## Trabajar fechas en DataFrames

__Ejercicio 17:__

Importar los datos del archivo "Fechas.xlsx", utilizar la columna Fecha como indice

In [33]:
fechas=pd.read_excel("./Fechas.xlsx", index_col="Fecha")
fechas

Empty DataFrame
Columns: []
Index: [2020-10-22 00:00:00, 2020-10-23 00:00:00, 2020-10-24 00:00:00, 2020-10-25 00:00:00, 2020-10-26 00:00:00, 2020-10-27 00:00:00, 2020-10-28 00:00:00, 2020-10-29 00:00:00, 2020-10-30 00:00:00, 2020-10-31 00:00:00, 2020-11-01 00:00:00, 2020-11-02 00:00:00, 2020-11-03 00:00:00, 2020-11-04 00:00:00]

Agregar una columna al DataFrame anterior con el año en cada fecha:

In [34]:
fechas["año"]=fechas.index.year
fechas["dia de la semana"]=fechas.index.dayofweek
fechas

             año  dia de la semana
Fecha
2020-10-22  2020                 3
2020-10-23  2020                 4
2020-10-24  2020                 5
2020-10-25  2020                 6
2020-10-26  2020                 0
2020-10-27  2020                 1
2020-10-28  2020                 2
2020-10-29  2020                 3
2020-10-30  2020                 4
2020-10-31  2020                 5
2020-11-01  2020                 6
2020-11-02  2020                 0
2020-11-03  2020                 1
2020-11-04  2020                 2

__Ejercicio 18:__ Crear una columa que obtenga el día y el mes en la fecha (Ej. 10/15)

In [35]:
def convertir(x):
    return x.strftime("%m/%Y")

In [36]:
fechas["dia/mes"]=fechas.index.map(convertir)
fechas

             año  dia de la semana  dia/mes
Fecha
2020-10-22  2020                 3  10/2020
2020-10-23  2020                 4  10/2020
2020-10-24  2020                 5  10/2020
2020-10-25  2020                 6  10/2020
2020-10-26  2020                 0  10/2020
2020-10-27  2020                 1  10/2020
2020-10-28  2020                 2  10/2020
2020-10-29  2020                 3  10/2020
2020-10-30  2020                 4  10/2020
2020-10-31  2020                 5  10/2020
2020-11-01  2020                 6  11/2020
2020-11-02  2020                 0  11/2020
2020-11-03  2020                 1  11/2020
2020-11-04  2020                 2  11/2020

__Ejercicio 19:__

Importar los datos del archivo "Fechas.xlsx", no utilizar una columna como indice

In [37]:
fechas=pd.read_excel("./Fechas.xlsx")
fechas

        Fecha
0  2020-10-22
1  2020-10-23
2  2020-10-24
3  2020-10-25
4  2020-10-26
5  2020-10-27
6  2020-10-28
7  2020-10-29
8  2020-10-30
9  2020-10-31
10 2020-11-01
11 2020-11-02
12 2020-11-03
13 2020-11-04

Crear una columa que obtenga el mes y el dia en la fecha (Ej. 10/15)

In [38]:
def convertir(x):
    return x.strftime("%m/%d")

In [39]:
fechas["mes/dia"]=fechas.Fecha.map(convertir)
fechas

        Fecha mes/dia
0  2020-10-22   10/22
1  2020-10-23   10/23
2  2020-10-24   10/24
3  2020-10-25   10/25
4  2020-10-26   10/26
5  2020-10-27   10/27
6  2020-10-28   10/28
7  2020-10-29   10/29
8  2020-10-30   10/30
9  2020-10-31   10/31
10 2020-11-01   11/01
11 2020-11-02   11/02
12 2020-11-03   11/03
13 2020-11-04   11/04

__Ejercicio 20:__

Crear una columa que obtenga el mes, dia y año  en la fecha (Ej. 10/15/2030)

In [40]:
fechas["mes/dia/año"]=fechas.Fecha
fechas

        Fecha mes/dia mes/dia/año
0  2020-10-22   10/22  2020-10-22
1  2020-10-23   10/23  2020-10-23
2  2020-10-24   10/24  2020-10-24
3  2020-10-25   10/25  2020-10-25
4  2020-10-26   10/26  2020-10-26
5  2020-10-27   10/27  2020-10-27
6  2020-10-28   10/28  2020-10-28
7  2020-10-29   10/29  2020-10-29
8  2020-10-30   10/30  2020-10-30
9  2020-10-31   10/31  2020-10-31
10 2020-11-01   11/01  2020-11-01
11 2020-11-02   11/02  2020-11-02
12 2020-11-03   11/03  2020-11-03
13 2020-11-04   11/04  2020-11-04

In [41]:
def convertir(x):
    return x.strftime("%m/%d/%Y")

In [42]:
fechas["mes/dia/año"]=fechas.Fecha.map(convertir)
fechas

        Fecha mes/dia mes/dia/año
0  2020-10-22   10/22  10/22/2020
1  2020-10-23   10/23  10/23/2020
2  2020-10-24   10/24  10/24/2020
3  2020-10-25   10/25  10/25/2020
4  2020-10-26   10/26  10/26/2020
5  2020-10-27   10/27  10/27/2020
6  2020-10-28   10/28  10/28/2020
7  2020-10-29   10/29  10/29/2020
8  2020-10-30   10/30  10/30/2020
9  2020-10-31   10/31  10/31/2020
10 2020-11-01   11/01  11/01/2020
11 2020-11-02   11/02  11/02/2020
12 2020-11-03   11/03  11/03/2020
13 2020-11-04   11/04  11/04/2020