# Group By

In [1]:
import pandas as pd

__Ejercicio 1:__

Importar el archivo "Ajedrez.xlsx" en la variable Ajedrez

In [2]:
Ajedrez = pd.read_excel("./Ajedrez.xlsx",index_col="Id")

Ajedrez

,Nombre,Categoria,Salon,P. J.,Victorias,Empates,Derrotas
Id,,,,,,,
1000,Edison Marin,Avanzado,2021-B,37,8,7,22
1001,Elena Soberon,Intermedio,2021-B,30,9,11,10
1002,Yolanda Berlanga,Avanzado,2020-B,32,22,6,4
1003,Yire Cuenca,Principiante,2020-B,37,7,9,21
1004,Cielo Leon,Avanzado,2020-B,32,6,5,21
...,...,...,...,...,...,...,...
1520,Rusel Vilar,Intermedio,2021-A,46,27,8,11
1521,Martina Barragan,Intermedio,2021-A,46,28,8,10
1522,Kunico Gomez,Principiante,2021-A,41,27,2,12
1523,Deisy Montalvo,Avanzado,2021-A,43,28,3,12
1524,Aldo Palacios,Intermedio,2021-A,47,30,3,14

Obtener el valor mínimo en cada columna utilizando la función min

In [4]:
Ajedrez.min()

Nombre       Aaron Ramirez
Categoria         Avanzado
Salon               2019-A
P. J.                   18
Victorias                0
Empates                  0
Derrotas                 0
dtype: object

Obtener el valor mínimo en cada columna utilizando la función max

In [5]:
Ajedrez.max()

Nombre        oscar Gomez
Categoria    Principiante
Salon              2022-A
P. J.                  50
Victorias              30
Empates                35
Derrotas               42
dtype: object

__Ejercicio 2:__

Utilizar groupby para obtener el valor maximo en todas las columnas de cada salon

In [6]:
Ajedrez.groupby("Salon").max()

                  Nombre     Categoria  P. J.  Victorias  Empates  Derrotas
Salon
2019-A    Yasmin Rudomin  Principiante     50         25       29        42
2019-B       oscar Gomez  Principiante     50         24       27        41
2020-A   Yessica Infante  Principiante     49         26       25        37
2020-B  Yulisa Contreras  Principiante     50         25       29        34
2021-A       Yuri Alonso  Principiante     49         30       35        35
2021-B    angel Martinez  Principiante     50         25       24        39
2022-A    angel Hinojosa  Principiante     50         25       19        37

Utilizar groupby para obtener el valor minimo en todas las columnas de cada salon

In [7]:
Ajedrez.groupby("Salon").min()

                 Nombre Categoria  P. J.  Victorias  Empates  Derrotas
Salon
2019-A  Agustin Saldaña  Avanzado     25          0        0         0
2019-B     Alastor Alva  Avanzado     25          0        1         0
2020-A     Abel Verdejo  Avanzado     25          0        0         0
2020-B    Aaron Ramirez  Avanzado     25          0        1         1
2021-A  Abelardo Alonso  Avanzado     25          0        0         1
2021-B      Alan Aranda  Avanzado     18          0        1         0
2022-A    Ana  Campillo  Avanzado     25          1        1         0

__Ejercicio 3:__

Utilizar groupby para obtener la cantidad de estudiantes en cada salon

In [8]:
Ajedrez.groupby("Salon").size()

Salon
2019-A    75
2019-B    75
2020-A    82
2020-B    80
2021-A    77
2021-B    70
2022-A    66
dtype: int64

In [9]:
Ajedrez.groupby("Salon").count()

        Nombre  Categoria  P. J.  Victorias  Empates  Derrotas
Salon
2019-A      75         75     75         75       75        75
2019-B      75         75     75         75       75        75
2020-A      82         82     82         82       82        82
2020-B      80         80     80         80       80        80
2021-A      77         77     77         77       77        77
2021-B      70         70     70         70       70        70
2022-A      66         66     66         66       66        66

__Ejercicio 4:__

Utilizar groupby para obtener el valor promedio en todas las columnas de cada salon

In [13]:
Ajedrez.groupby("Salon").mean(numeric_only=True)

            P. J.  Victorias   Empates   Derrotas
Salon
2019-A  39.360000  15.320000  8.720000  15.320000
2019-B  38.373333  14.946667  8.480000  14.946667
2020-A  37.048780  14.560976  7.926829  14.560976
2020-B  38.050000  14.737500  8.575000  14.737500
2021-A  38.389610  15.688312  7.012987  15.688312
2021-B  37.571429  14.800000  7.971429  14.800000
2022-A  37.000000  14.939394  7.121212  14.939394

Utilizar groupby para obtener la cantidad total de partidas jugadas, victorias, empates y derrotas de cada salon

In [16]:
suma = Ajedrez.groupby("Salon").sum(numeric_only=True)

In [17]:
suma

        P. J.  Victorias  Empates  Derrotas
Salon
2019-A   2952       1149      654      1149
2019-B   2878       1121      636      1121
2020-A   3038       1194      650      1194
2020-B   3044       1179      686      1179
2021-A   2956       1208      540      1208
2021-B   2630       1036      558      1036
2022-A   2442        986      470       986

__Ejercicio 5:__

Filtrar el DataFrame anterior, conservando los salones donde se jugaron mas de 2800 partidas

In [20]:
suma[suma['P. J.'] > 2800]

        P. J.  Victorias  Empates  Derrotas
Salon
2019-A   2952       1149      654      1149
2019-B   2878       1121      636      1121
2020-A   3038       1194      650      1194
2020-B   3044       1179      686      1179
2021-A   2956       1208      540      1208

__Ejercicio 6:__

Utilizar groupby para obtener los datos de los estudiantes en cuyo salón, el máximo número de victorias fue 25.

In [23]:
def calcular(group):
    return group['Victorias'].max() == 25


Ajedrez.groupby("Salon").filter(calcular).groupby("Salon").max()

                  Nombre     Categoria  P. J.  Victorias  Empates  Derrotas
Salon
2019-A    Yasmin Rudomin  Principiante     50         25       29        42
2020-B  Yulisa Contreras  Principiante     50         25       29        34
2021-B    angel Martinez  Principiante     50         25       24        39
2022-A    angel Hinojosa  Principiante     50         25       19        37

__Ejercicio 7:__

Utilizar groupby para obtener los datos de los 2 primeros estudiantes en cada salon

In [24]:
Ajedrez.groupby("Salon").head(2)

,Nombre,Categoria,Salon,P. J.,Victorias,Empates,Derrotas
Id,,,,,,,
1000,Edison Marin,Avanzado,2021-B,37,8,7,22
1001,Elena Soberon,Intermedio,2021-B,30,9,11,10
1002,Yolanda Berlanga,Avanzado,2020-B,32,22,6,4
1003,Yire Cuenca,Principiante,2020-B,37,7,9,21
1005,Cielo Guak,Principiante,2019-B,46,20,22,4
1007,Cielo Cuenca,Principiante,2019-B,45,0,6,39
1011,Maira Sandoval,Principiante,2022-A,49,8,5,36
1012,angel Hinojosa,Principiante,2022-A,43,7,7,29
1018,Valentina Barajas,Intermedio,2021-A,29,6,11,12
1020,Yessica Infante,Intermedio,2020-A,43,7,17,19
1021,Julian Vera,Principiante,2019-A,33,20,13,0
1022,Julian Garcia,Avanzado,2019-A,48,23,4,21
1025,Dionisio Arias,Intermedio,2021-A,47,18,1,28
1026,Luis Ondarza,Intermedio,2020-A,26,20,4,2

Utilizar groupby para obtener los datos del ultimo estudiante en cada salon

In [25]:
Ajedrez.groupby("Salon").tail(1)

,Nombre,Categoria,Salon,P. J.,Victorias,Empates,Derrotas
Id,,,,,,,
1489,Ilse Velasco,Intermedio,2021-B,38,7,3,28
1498,Deisy Macias,Principiante,2019-B,29,18,7,4
1499,Tobias Mosqueda,Intermedio,2019-A,47,13,21,13
1502,Jean Lacy,Avanzado,2022-A,31,8,16,7
1505,Felipe Mosqueda,Avanzado,2020-A,37,24,3,10
1509,Horacio Sifuentes,Principiante,2020-B,28,18,4,6
1524,Aldo Palacios,Intermedio,2021-A,47,30,3,14

__Ejercicio 8:__

Utilizar groupby para obtener la cantidad total de partidas jugadas, victorias, empates y derrotas de cada salon separado por categoria

In [27]:
Ajedrez.groupby(["Salon","Categoria"]).sum(numeric_only=True)

                     P. J.  Victorias  Empates  Derrotas
Salon  Categoria
2019-A Avanzado        883        328      200       355
       Intermedio     1263        522      286       455
       Principiante    806        299      168       339
2019-B Avanzado        980        399      238       343
       Intermedio      874        332      174       368
       Principiante   1024        390      224       410
2020-A Avanzado        850        345      129       376
       Intermedio      957        406      193       358
       Principiante   1231        443      328       460
2020-B Avanzado       1233        500      271       462
       Intermedio     1066        413      226       427
       Principiante    745        266      189       290
2021-A Avanzado        849        382      105       362
       Intermedio     1266        522      242       502
       Principiante    841        304      193       344
2021-B Avanzado        850        347      183       320
       Intermedio      929        362      192       375
       Principiante    851        327      183       341
2022-A Avanzado        897        384      159       354
       Intermedio      646        250      127       269
       Principiante    899        352      184       363

__Ejercicio 9:__

Repetir el ejercicio anterior, pero no utilizar las columnas de agrupacion (Salon y Categoria) como indice en el DataFrame resultante

In [28]:
Ajedrez.groupby(["Salon","Categoria"], as_index=False).sum(numeric_only=True)

     Salon     Categoria  P. J.  Victorias  Empates  Derrotas
0   2019-A      Avanzado    883        328      200       355
1   2019-A    Intermedio   1263        522      286       455
2   2019-A  Principiante    806        299      168       339
3   2019-B      Avanzado    980        399      238       343
4   2019-B    Intermedio    874        332      174       368
5   2019-B  Principiante   1024        390      224       410
6   2020-A      Avanzado    850        345      129       376
7   2020-A    Intermedio    957        406      193       358
8   2020-A  Principiante   1231        443      328       460
9   2020-B      Avanzado   1233        500      271       462
10  2020-B    Intermedio   1066        413      226       427
11  2020-B  Principiante    745        266      189       290
12  2021-A      Avanzado    849        382      105       362
13  2021-A    Intermedio   1266        522      242       502
14  2021-A  Principiante    841        304      193       344
15  2021-B      Avanzado    850        347      183       320
16  2021-B    Intermedio    929        362      192       375
17  2021-B  Principiante    851        327      183       341
18  2022-A      Avanzado    897        384      159       354
19  2022-A    Intermedio    646        250      127       269
20  2022-A  Principiante    899        352      184       363

__Ejercicio 10:__

Utilizar groupby para obtener la cantidad total de partidas jugadas y victorias de cada salon separado por categoria

In [31]:
Ajedrez.groupby(["Salon","Categoria"])[["P. J.","Victorias"]].sum()

                     P. J.  Victorias
Salon  Categoria
2019-A Avanzado        883        328
       Intermedio     1263        522
       Principiante    806        299
2019-B Avanzado        980        399
       Intermedio      874        332
       Principiante   1024        390
2020-A Avanzado        850        345
       Intermedio      957        406
       Principiante   1231        443
2020-B Avanzado       1233        500
       Intermedio     1066        413
       Principiante    745        266
2021-A Avanzado        849        382
       Intermedio     1266        522
       Principiante    841        304
2021-B Avanzado        850        347
       Intermedio      929        362
       Principiante    851        327
2022-A Avanzado        897        384
       Intermedio      646        250
       Principiante    899        352

__Ejercicio 11:__

Utilizar groupby para obtener la cantidad total de derrotas en cada salon separado por categoria

In [3]:
Ajedrez.groupby(["Salon","Categoria"]).agg({"Derrotas":"sum"})

                     Derrotas
Salon  Categoria
2019-A Avanzado           355
       Intermedio         455
       Principiante       339
2019-B Avanzado           343
       Intermedio         368
       Principiante       410
2020-A Avanzado           376
       Intermedio         358
       Principiante       460
2020-B Avanzado           462
       Intermedio         427
       Principiante       290
2021-A Avanzado           362
       Intermedio         502
       Principiante       344
2021-B Avanzado           320
       Intermedio         375
       Principiante       341
2022-A Avanzado           354
       Intermedio         269
       Principiante       363

__Ejercicio 12:__

Utilizar groupby para obtener el valor maximo y minimo en todas las columnas de cada salon

In [5]:
Ajedrez.groupby("Salon").agg(["max","min"])

                  Nombre                      Categoria           P. J.      \
                     max              min           max       min   max min
Salon
2019-A    Yasmin Rudomin  Agustin Saldaña  Principiante  Avanzado    50  25
2019-B       oscar Gomez     Alastor Alva  Principiante  Avanzado    50  25
2020-A   Yessica Infante     Abel Verdejo  Principiante  Avanzado    49  25
2020-B  Yulisa Contreras    Aaron Ramirez  Principiante  Avanzado    50  25
2021-A       Yuri Alonso  Abelardo Alonso  Principiante  Avanzado    49  25
2021-B    angel Martinez      Alan Aranda  Principiante  Avanzado    50  18
2022-A    angel Hinojosa    Ana  Campillo  Principiante  Avanzado    50  25

       Victorias     Empates     Derrotas
             max min     max min      max min
Salon
2019-A        25   0      29   0       42   0
2019-B        24   0      27   1       41   0
2020-A        26   0      25   0       37   0
2020-B        25   0      29   1       34   1
2021-A        30   0      35   0       35   1
2021-B        25   0      24   1       39   0
2022-A        25   1      19   1       37   0

__Ejercicio 13:__

Utilizar groupby para obtener el promedio y la cantidad total de derrotas en cada salon

In [6]:
Ajedrez.groupby("Salon").agg({"Derrotas":["mean","sum"]})

         Derrotas
             mean   sum
Salon
2019-A  15.320000  1149
2019-B  14.946667  1121
2020-A  14.560976  1194
2020-B  14.737500  1179
2021-A  15.688312  1208
2021-B  14.800000  1036
2022-A  14.939394   986

__Ejercicio 14:__

Utilizar groupby para obtener la cantidad total de derrotas y numero maximo de victorias en cada salon

In [8]:
Ajedrez.groupby("Salon").agg({"Derrotas":"sum","Victorias":"max"})

        Derrotas  Victorias
Salon
2019-A      1149         25
2019-B      1121         24
2020-A      1194         26
2020-B      1179         25
2021-A      1208         30
2021-B      1036         25
2022-A       986         25

__Ejercicio 15:__

Utilizar groupby para obtener:
  - La cantidad total y el promedio de derrotas en cada salon
  - La cantidad maxima y minima de victorias en cada salon

In [9]:
Ajedrez.groupby("Salon").agg({"Derrotas":["sum","mean"],"Victorias":["max","min"]})

       Derrotas            Victorias
            sum       mean       max min
Salon
2019-A     1149  15.320000        25   0
2019-B     1121  14.946667        24   0
2020-A     1194  14.560976        26   0
2020-B     1179  14.737500        25   0
2021-A     1208  15.688312        30   0
2021-B     1036  14.800000        25   0
2022-A      986  14.939394        25   1

__Ejercicio 16:__

Utilizar groupby para obtener los datos de los alumnos en el grupo "2019-A" mediante su llave

In [13]:
llaves = Ajedrez.groupby("Salon").groups

In [14]:
llaves

{'2019-A': [1021, 1022, 1039, 1056, 1062, 1065, 1067, 1072, 1075, 1085, 1088, 1090, 1094, 1104, 1114, 1117, 1120, 1136, 1137, 1145, 1147, 1152, 1166, 1185, 1188, 1204, 1208, 1215, 1217, 1244, 1246, 1255, 1258, 1263, 1265, 1266, 1273, 1276, 1302, 1304, 1309, 1315, 1320, 1323, 1331, 1340, 1344, 1353, 1356, 1375, 1377, 1383, 1384, 1387, 1396, 1400, 1404, 1406, 1417, 1420, 1423, 1426, 1431, 1434, 1435, 1443, 1446, 1454, 1455, 1459, 1481, 1483, 1484, 1488, 1499], '2019-B': [1005, 1007, 1008, 1009, 1010, 1024, 1029, 1041, 1050, 1052, 1063, 1074, 1077, 1082, 1089, 1097, 1098, 1099, 1109, 1121, 1124, 1126, 1149, 1151, 1154, 1156, 1164, 1180, 1189, 1190, 1203, 1205, 1207, 1211, 1216, 1220, 1221, 1228, 1234, 1235, 1236, 1238, 1256, 1278, 1281, 1284, 1290, 1328, 1330, 1350, 1352, 1358, 1367, 1368, 1370, 1382, 1390, 1395, 1403, 1410, 1414, 1415, 1416, 1428, 1430, 1432, 1437, 1440, 1444, 1448, 1457, 1482, 1491, 1493, 1498], '2020-A': [1020, 1026, 1031, 1032, 1033, 1034, 1037, 1047, 1049, 1051, 1055, 1059, 1070, 1076, 1079, 1080, 1091, 1092, 1093, 1106, 1118, 1132, 1135, 1140, 1142, 1150, 1155, 1162, 1163, 1170, 1171, 1172, 1175, 1193, 1206, 1239, 1247, 1259, 1261, 1277, 1283, 1286, 1287, 1291, 1293, 1301, 1303, 1311, 1312, 1316, 1321, 1325, 1326, 1334, 1336, 1348, 1354, 1376, 1380, 1385, 1386, 1388, 1397, 1398, 1411, 1412, 1429, 1433, 1447, 1453, 1456, 1460, 1461, 1469, 1479, 1490, 1492, 1494, 1500, 1503, 1504, 1505], '2020-B': [1002, 1003, 1004, 1013, 1014, 1017, 1023, 1045, 1054, 1061, 1068, 1069, 1081, 1086, 1087, 1102, 1107, 1113, 1122, 1123, 1128, 1143, 1144, 1157, 1159, 1161, 1174, 1184, 1194, 1196, 1199, 1201, 1209, 1218, 1231, 1242, 1248, 1251, 1253, 1267, 1270, 1289, 1292, 1296, 1297, 1299, 1300, 1307, 1313, 1322, 1333, 1337, 1338, 1341, 1349, 1351, 1360, 1366, 1372, 1389, 1402, 1413, 1427, 1436, 1438, 1441, 1449, 1452, 1458, 1465, 1467, 1470, 1475, 1486, 1496, 1501, 1506, 1507, 1508, 1509], '2021-A': [1018, 1025, 1027, 1028, 1030, 1057, 1060, 1073, 1078, 1084, 1095, 1096, 1100, 1119, 1131, 1134, 1146, 1153, 1165, 1167, 1168, 1169, 1176, 1179, 1182, 1191, 1195, 1197, 1202, 1214, 1225, 1230, 1243, 1245, 1252, 1254, 1257, 1260, 1264, 1269, 1272, 1295, 1306, 1319, 1329, 1343, 1345, 1346, 1399, 1405, 1407, 1408, 1409, 1418, 1442, 1445, 1450, 1463, 1466, 1468, 1471, 1497, 1510, 1511, 1512, 1513, 1514, 1515, 1516, 1517, 1518, 1519, 1520, 1521, 1522, 1523, 1524], '2021-B': [1000, 1001, 1006, 1015, 1019, 1035, 1043, 1044, 1046, 1048, 1053, 1058, 1064, 1066, 1103, 1110, 1125, 1127, 1129, 1139, 1158, 1177, 1178, 1183, 1198, 1213, 1219, 1223, 1224, 1232, 1249, 1262, 1268, 1271, 1274, 1275, 1279, 1280, 1285, 1298, 1305, 1317, 1318, 1324, 1332, 1335, 1339, 1347, 1357, 1362, 1363, 1364, 1365, 1373, 1378, 1391, 1392, 1394, 1419, 1425, 1464, 1472, 1473, 1474, 1476, 1477, 1478, 1480, 1487, 1489], '2022-A': [1011, 1012, 1016, 1036, 1038, 1040, 1042, 1071, 1083, 1101, 1105, 1108, 1111, 1112, 1115, 1116, 1130, 1133, 1138, 1141, 1148, 1160, 1173, 1181, 1186, 1187, 1192, 1200, 1210, 1212, 1222, 1226, 1227, 1229, 1233, 1237, 1240, 1241, 1250, 1282, 1288, 1294, 1308, 1310, 1314, 1327, 1342, 1355, 1359, 1361, 1369, 1371, 1374, 1379, 1381, 1393, 1401, 1421, 1422, 1424, 1439, 1451, 1462, 1485, 1495, 1502]}

In [15]:
Ajedrez.loc[llaves["2019-A"]]

,Nombre,Categoria,Salon,P. J.,Victorias,Empates,Derrotas
Id,,,,,,,
1021,Julian Vera,Principiante,2019-A,33,20,13,0
1022,Julian Garcia,Avanzado,2019-A,48,23,4,21
1039,Pablo Muñoz,Intermedio,2019-A,26,9,8,9
1056,Felipe Torres,Avanzado,2019-A,36,24,8,4
1062,Anibal Fuentes,Intermedio,2019-A,34,21,5,8
...,...,...,...,...,...,...,...
1481,Anibal Arias,Avanzado,2019-A,46,6,6,34
1483,Tomas Villareal,Intermedio,2019-A,34,24,0,10
1484,Yasmin Rudomin,Intermedio,2019-A,45,5,1,39
1488,Mauricio Aguirre,Avanzado,2019-A,44,24,11,9
1499,Tobias Mosqueda,Intermedio,2019-A,47,13,21,13

__Ejercicio 17:__

Utilizar groupby para obtener los datos de los alumnos en el grupo "2020-A" mediante su indice

In [16]:
indice = Ajedrez.groupby("Salon").indices

In [17]:
indice

{'2019-A': array([ 21,  22,  39,  56,  62,  65,  67,  72,  75,  85,  88,  90,  94,
        104, 114, 117, 120, 136, 137, 145, 147, 152, 166, 185, 188, 204,
        208, 215, 217, 244, 246, 255, 258, 263, 265, 266, 273, 276, 302,
        304, 309, 315, 320, 323, 331, 340, 344, 353, 356, 375, 377, 383,
        384, 387, 396, 400, 404, 406, 417, 420, 423, 426, 431, 434, 435,
        443, 446, 454, 455, 459, 481, 483, 484, 488, 499]),
 '2019-B': array([  5,   7,   8,   9,  10,  24,  29,  41,  50,  52,  63,  74,  77,
         82,  89,  97,  98,  99, 109, 121, 124, 126, 149, 151, 154, 156,
        164, 180, 189, 190, 203, 205, 207, 211, 216, 220, 221, 228, 234,
        235, 236, 238, 256, 278, 281, 284, 290, 328, 330, 350, 352, 358,
        367, 368, 370, 382, 390, 395, 403, 410, 414, 415, 416, 428, 430,
        432, 437, 440, 444, 448, 457, 482, 491, 493, 498]),
 '2020-A': array([ 20,  26,  31,  32,  33,  34,  37,  47,  49,  51,  55,  59,  70,
         76,  79,  80,  91,  92,  93, 106, 118, 132, 135, 140, 142, 150,
        155, 162, 163, 170, 171, 172, 175, 193, 206, 239, 247, 259, 261,
        277, 283, 286, 287, 291, 293, 301, 303, 311, 312, 316, 321, 325,
        326, 334, 336, 348, 354, 376, 380, 385, 386, 388, 397, 398, 411,
        412, 429, 433, 447, 453, 456, 460, 461, 469, 479, 490, 492, 494,
        500, 503, 504, 505]),
 '2020-B': array([  2,   3,   4,  13,  14,  17,  23,  45,  54,  61,  68,  69,  81,
         86,  87, 102, 107, 113, 122, 123, 128, 143, 144, 157, 159, 161,
        174, 184, 194, 196, 199, 201, 209, 218, 231, 242, 248, 251, 253,
        267, 270, 289, 292, 296, 297, 299, 300, 307, 313, 322, 333, 337,
        338, 341, 349, 351, 360, 366, 372, 389, 402, 413, 427, 436, 438,
        441, 449, 452, 458, 465, 467, 470, 475, 486, 496, 501, 506, 507,
        508, 509]),
 '2021-A': array([ 18,  25,  27,  28,  30,  57,  60,  73,  78,  84,  95,  96, 100,
        119, 131, 134, 146, 153, 165, 167, 168, 169, 176, 179, 182, 191,
        195, 197, 202, 214, 225, 230, 243, 245, 252, 254, 257, 260, 264,
        269, 272, 295, 306, 319, 329, 343, 345, 346, 399, 405, 407, 408,
        409, 418, 442, 445, 450, 463, 466, 468, 471, 497, 510, 511, 512,
        513, 514, 515, 516, 517, 518, 519, 520, 521, 522, 523, 524]),
 '2021-B': array([  0,   1,   6,  15,  19,  35,  43,  44,  46,  48,  53,  58,  64,
         66, 103, 110, 125, 127, 129, 139, 158, 177, 178, 183, 198, 213,
        219, 223, 224, 232, 249, 262, 268, 271, 274, 275, 279, 280, 285,
        298, 305, 317, 318, 324, 332, 335, 339, 347, 357, 362, 363, 364,
        365, 373, 378, 391, 392, 394, 419, 425, 464, 472, 473, 474, 476,
        477, 478, 480, 487, 489]),
 '2022-A': array([ 11,  12,  16,  36,  38,  40,  42,  71,  83, 101, 105, 108, 111,
        112, 115, 116, 130, 133, 138, 141, 148, 160, 173, 181, 186, 187,
        192, 200, 210, 212, 222, 226, 227, 229, 233, 237, 240, 241, 250,
        282, 288, 294, 308, 310, 314, 327, 342, 355, 359, 361, 369, 371,
        374, 379, 381, 393, 401, 421, 422, 424, 439, 451, 462, 485, 495,
        502])}

In [18]:
Ajedrez.iloc[indice["2020-A"]]

,Nombre,Categoria,Salon,P. J.,Victorias,Empates,Derrotas
Id,,,,,,,
1020,Yessica Infante,Intermedio,2020-A,43,7,17,19
1026,Luis Ondarza,Intermedio,2020-A,26,20,4,2
1031,Eddie Setien,Intermedio,2020-A,46,8,24,14
1032,Carlos Pascual,Intermedio,2020-A,30,6,6,18
1033,Miguel Vera,Intermedio,2020-A,25,8,6,11
...,...,...,...,...,...,...,...
1494,Samuel Santamaria,Intermedio,2020-A,26,18,6,2
1500,Felix Sifuentes,Principiante,2020-A,45,19,25,1
1503,Lily Velasco,Intermedio,2020-A,34,26,3,5
1504,Casimiro Mansilla,Intermedio,2020-A,29,15,4,10
1505,Felipe Mosqueda,Avanzado,2020-A,37,24,3,10

__Ejercicio 18:__

Utilizar groupby para obtener los datos de los alumnos con mas victorias en cada grupo

In [19]:
id_max = Ajedrez.groupby("Salon").agg({"Victorias":"idxmax"})

In [20]:
id_max

        Victorias
Salon
2019-A       1353
2019-B       1098
2020-A       1503
2020-B       1013
2021-A       1519
2021-B       1044
2022-A       1036

In [21]:
Ajedrez.loc[id_max.Victorias]

,Nombre,Categoria,Salon,P. J.,Victorias,Empates,Derrotas
Id,,,,,,,
1353,Marta Pizano,Avanzado,2019-A,39,25,1,13
1098,Michael Camacho,Intermedio,2019-B,45,24,2,19
1503,Lily Velasco,Intermedio,2020-A,34,26,3,5
1013,Octavio Peñalosa,Intermedio,2020-B,44,25,2,17
1519,Eugenio Carrillo,Avanzado,2021-A,44,30,0,14
1044,Luz Funes,Avanzado,2021-B,38,25,3,10
1036,Brenda Rubio,Intermedio,2022-A,43,25,2,16

__Ejercicio 19:__

Utilizar pivot_table para obtener el valor promedio en todas las columnas de cada salon

In [28]:
pd.pivot_table(Ajedrez.select_dtypes(include="number"),index=Ajedrez["Salon"],aggfunc="mean")

         Derrotas   Empates      P. J.  Victorias
Salon
2019-A  15.320000  8.720000  39.360000  15.320000
2019-B  14.946667  8.480000  38.373333  14.946667
2020-A  14.560976  7.926829  37.048780  14.560976
2020-B  14.737500  8.575000  38.050000  14.737500
2021-A  15.688312  7.012987  38.389610  15.688312
2021-B  14.800000  7.971429  37.571429  14.800000
2022-A  14.939394  7.121212  37.000000  14.939394

__Ejercicio 20:__

Utilizar pivot_table para obtener el valor minimo y maximo en todas las columnas de cada salon

In [29]:
pd.pivot_table(Ajedrez.select_dtypes(include="number"),index=Ajedrez["Salon"],aggfunc=["min","max"])

            min                              max
       Derrotas Empates P. J. Victorias Derrotas Empates P. J. Victorias
Salon
2019-A        0       0    25         0       42      29    50        25
2019-B        0       1    25         0       41      27    50        24
2020-A        0       0    25         0       37      25    49        26
2020-B        1       1    25         0       34      29    50        25
2021-A        1       0    25         0       35      35    49        30
2021-B        0       1    18         0       39      24    50        25
2022-A        0       1    25         1       37      19    50        25

__Ejercicio 21:__

Utilizar pivot_table para obtener el valor minimo y maximo de derrotas,victorias y empates en cada salon

In [30]:
pd.pivot_table(Ajedrez,index=Ajedrez["Salon"],aggfunc=["max","min"],values=["Derrotas","Victorias","Empates"])

            max                        min
       Derrotas Empates Victorias Derrotas Empates Victorias
Salon
2019-A       42      29        25        0       0         0
2019-B       41      27        24        0       1         0
2020-A       37      25        26        0       0         0
2020-B       34      29        25        1       1         0
2021-A       35      35        30        1       0         0
2021-B       39      24        25        0       1         0
2022-A       37      19        25        0       1         1

__Ejercicio 22:__

Utilizar pivot_table para obtener el valor maximo de derrotas,victorias y empates en cada salon separado por categorias

In [32]:
pd.pivot_table(Ajedrez,index=Ajedrez["Salon"],aggfunc="max",values=["Derrotas","Victorias","Empates"],columns="Categoria")

          Derrotas                          Empates                          \
Categoria Avanzado Intermedio Principiante Avanzado Intermedio Principiante
Salon
2019-A          34         39           42       21         29           28
2019-B          31         41           39       27         26           25
2020-A          37         30           36       16         24           25
2020-B          33         34           33       22         27           29
2021-A          35         35           30       17         20           35
2021-B          39         31           26       21         17           24
2022-A          28         37           36       16         17           19

          Victorias
Categoria  Avanzado Intermedio Principiante
Salon
2019-A           25         24           23
2019-B           23         24           23
2020-A           25         26           25
2020-B           25         25           23
2021-A           30         30           27
2021-B           25         25           25
2022-A           25         25           24

__Ejercicio 23:__

Utilizar el DataFrame anterior para obtener el valor maximo de derrotas en cada salon en la categoría "Intermedio"

In [33]:
output = pd.pivot_table(Ajedrez,index=Ajedrez["Salon"],aggfunc="max",values=["Derrotas","Victorias","Empates"],columns="Categoria")

In [35]:
output.loc[:,("Derrotas","Intermedio")]

Salon
2019-A    39
2019-B    41
2020-A    30
2020-B    34
2021-A    35
2021-B    31
2022-A    37
Name: (Derrotas, Intermedio), dtype: int64

In [36]:
output.iloc[:,1]

Salon
2019-A    39
2019-B    41
2020-A    30
2020-B    34
2021-A    35
2021-B    31
2022-A    37
Name: (Derrotas, Intermedio), dtype: int64