# Group By

In [1]:
import pandas as pd

__Ejercicio 1:__

Importar el archivo "Ajedrez.xlsx" en la variable Ajedrez

In [3]:
Ajedrez = pd.read_excel("./Ajedrez.xlsx",index_col="Id")

Ajedrez

,Nombre,Categoria,Salon,P. J.,Victorias,Empates,Derrotas
Id,,,,,,,
1000,Edison Marin,Avanzado,2021-B,37,8,7,22
1001,Elena Soberon,Intermedio,2021-B,30,9,11,10
1002,Yolanda Berlanga,Avanzado,2020-B,32,22,6,4
1003,Yire Cuenca,Principiante,2020-B,37,7,9,21
1004,Cielo Leon,Avanzado,2020-B,32,6,5,21
...,...,...,...,...,...,...,...
1520,Rusel Vilar,Intermedio,2021-A,46,27,8,11
1521,Martina Barragan,Intermedio,2021-A,46,28,8,10
1522,Kunico Gomez,Principiante,2021-A,41,27,2,12
1523,Deisy Montalvo,Avanzado,2021-A,43,28,3,12
1524,Aldo Palacios,Intermedio,2021-A,47,30,3,14

Obtener el valor mínimo en cada columna utilizando la función min

In [4]:
Ajedrez.min()

Nombre       Aaron Ramirez
Categoria         Avanzado
Salon               2019-A
P. J.                   18
Victorias                0
Empates                  0
Derrotas                 0
dtype: object

Obtener el valor mínimo en cada columna utilizando la función max

In [5]:
Ajedrez.max()

Nombre        oscar Gomez
Categoria    Principiante
Salon              2022-A
P. J.                  50
Victorias              30
Empates                35
Derrotas               42
dtype: object

__Ejercicio 2:__

Utilizar groupby para obtener el valor maximo en todas las columnas de cada salon

In [6]:
Ajedrez.groupby("Salon").max()

                  Nombre     Categoria  P. J.  Victorias  Empates  Derrotas
Salon
2019-A    Yasmin Rudomin  Principiante     50         25       29        42
2019-B       oscar Gomez  Principiante     50         24       27        41
2020-A   Yessica Infante  Principiante     49         26       25        37
2020-B  Yulisa Contreras  Principiante     50         25       29        34
2021-A       Yuri Alonso  Principiante     49         30       35        35
2021-B    angel Martinez  Principiante     50         25       24        39
2022-A    angel Hinojosa  Principiante     50         25       19        37

Utilizar groupby para obtener el valor minimo en todas las columnas de cada salon

In [7]:
Ajedrez.groupby("Salon").min()

                 Nombre Categoria  P. J.  Victorias  Empates  Derrotas
Salon
2019-A  Agustin Saldaña  Avanzado     25          0        0         0
2019-B     Alastor Alva  Avanzado     25          0        1         0
2020-A     Abel Verdejo  Avanzado     25          0        0         0
2020-B    Aaron Ramirez  Avanzado     25          0        1         1
2021-A  Abelardo Alonso  Avanzado     25          0        0         1
2021-B      Alan Aranda  Avanzado     18          0        1         0
2022-A    Ana  Campillo  Avanzado     25          1        1         0

__Ejercicio 3:__

Utilizar groupby para obtener la cantidad de estudiantes en cada salon

In [8]:
Ajedrez.groupby("Salon").size()

Salon
2019-A    75
2019-B    75
2020-A    82
2020-B    80
2021-A    77
2021-B    70
2022-A    66
dtype: int64

In [9]:
Ajedrez.groupby("Salon").count()

        Nombre  Categoria  P. J.  Victorias  Empates  Derrotas
Salon
2019-A      75         75     75         75       75        75
2019-B      75         75     75         75       75        75
2020-A      82         82     82         82       82        82
2020-B      80         80     80         80       80        80
2021-A      77         77     77         77       77        77
2021-B      70         70     70         70       70        70
2022-A      66         66     66         66       66        66

__Ejercicio 4:__

Utilizar groupby para obtener el valor promedio en todas las columnas de cada salon

In [13]:
Ajedrez.groupby("Salon").mean(numeric_only=True)

            P. J.  Victorias   Empates   Derrotas
Salon
2019-A  39.360000  15.320000  8.720000  15.320000
2019-B  38.373333  14.946667  8.480000  14.946667
2020-A  37.048780  14.560976  7.926829  14.560976
2020-B  38.050000  14.737500  8.575000  14.737500
2021-A  38.389610  15.688312  7.012987  15.688312
2021-B  37.571429  14.800000  7.971429  14.800000
2022-A  37.000000  14.939394  7.121212  14.939394

Utilizar groupby para obtener la cantidad total de partidas jugadas, victorias, empates y derrotas de cada salon

In [16]:
suma = Ajedrez.groupby("Salon").sum(numeric_only=True)

In [17]:
suma

        P. J.  Victorias  Empates  Derrotas
Salon
2019-A   2952       1149      654      1149
2019-B   2878       1121      636      1121
2020-A   3038       1194      650      1194
2020-B   3044       1179      686      1179
2021-A   2956       1208      540      1208
2021-B   2630       1036      558      1036
2022-A   2442        986      470       986

__Ejercicio 5:__

Filtrar el DataFrame anterior, conservando los salones donde se jugaron mas de 2800 partidas

In [20]:
suma[suma['P. J.'] > 2800]

        P. J.  Victorias  Empates  Derrotas
Salon
2019-A   2952       1149      654      1149
2019-B   2878       1121      636      1121
2020-A   3038       1194      650      1194
2020-B   3044       1179      686      1179
2021-A   2956       1208      540      1208

__Ejercicio 6:__

Utilizar groupby para obtener los datos de los estudiantes en cuyo salón, el máximo número de victorias fue 25.

In [23]:
def calcular(group):
    return group['Victorias'].max() == 25


Ajedrez.groupby("Salon").filter(calcular).groupby("Salon").max()

                  Nombre     Categoria  P. J.  Victorias  Empates  Derrotas
Salon
2019-A    Yasmin Rudomin  Principiante     50         25       29        42
2020-B  Yulisa Contreras  Principiante     50         25       29        34
2021-B    angel Martinez  Principiante     50         25       24        39
2022-A    angel Hinojosa  Principiante     50         25       19        37

__Ejercicio 7:__

Utilizar groupby para obtener los datos de los 2 primeros estudiantes en cada salon

In [24]:
Ajedrez.groupby("Salon").head(2)

,Nombre,Categoria,Salon,P. J.,Victorias,Empates,Derrotas
Id,,,,,,,
1000,Edison Marin,Avanzado,2021-B,37,8,7,22
1001,Elena Soberon,Intermedio,2021-B,30,9,11,10
1002,Yolanda Berlanga,Avanzado,2020-B,32,22,6,4
1003,Yire Cuenca,Principiante,2020-B,37,7,9,21
1005,Cielo Guak,Principiante,2019-B,46,20,22,4
1007,Cielo Cuenca,Principiante,2019-B,45,0,6,39
1011,Maira Sandoval,Principiante,2022-A,49,8,5,36
1012,angel Hinojosa,Principiante,2022-A,43,7,7,29
1018,Valentina Barajas,Intermedio,2021-A,29,6,11,12
1020,Yessica Infante,Intermedio,2020-A,43,7,17,19
1021,Julian Vera,Principiante,2019-A,33,20,13,0
1022,Julian Garcia,Avanzado,2019-A,48,23,4,21
1025,Dionisio Arias,Intermedio,2021-A,47,18,1,28
1026,Luis Ondarza,Intermedio,2020-A,26,20,4,2

Utilizar groupby para obtener los datos del ultimo estudiante en cada salon

In [25]:
Ajedrez.groupby("Salon").tail(1)

,Nombre,Categoria,Salon,P. J.,Victorias,Empates,Derrotas
Id,,,,,,,
1489,Ilse Velasco,Intermedio,2021-B,38,7,3,28
1498,Deisy Macias,Principiante,2019-B,29,18,7,4
1499,Tobias Mosqueda,Intermedio,2019-A,47,13,21,13
1502,Jean Lacy,Avanzado,2022-A,31,8,16,7
1505,Felipe Mosqueda,Avanzado,2020-A,37,24,3,10
1509,Horacio Sifuentes,Principiante,2020-B,28,18,4,6
1524,Aldo Palacios,Intermedio,2021-A,47,30,3,14

__Ejercicio 8:__

Utilizar groupby para obtener la cantidad total de partidas jugadas, victorias, empates y derrotas de cada salon separado por categoria

In [27]:
Ajedrez.groupby(["Salon","Categoria"]).sum(numeric_only=True)

                     P. J.  Victorias  Empates  Derrotas
Salon  Categoria
2019-A Avanzado        883        328      200       355
       Intermedio     1263        522      286       455
       Principiante    806        299      168       339
2019-B Avanzado        980        399      238       343
       Intermedio      874        332      174       368
       Principiante   1024        390      224       410
2020-A Avanzado        850        345      129       376
       Intermedio      957        406      193       358
       Principiante   1231        443      328       460
2020-B Avanzado       1233        500      271       462
       Intermedio     1066        413      226       427
       Principiante    745        266      189       290
2021-A Avanzado        849        382      105       362
       Intermedio     1266        522      242       502
       Principiante    841        304      193       344
2021-B Avanzado        850        347      183       320
       Intermedio      929        362      192       375
       Principiante    851        327      183       341
2022-A Avanzado        897        384      159       354
       Intermedio      646        250      127       269
       Principiante    899        352      184       363

__Ejercicio 9:__

Repetir el ejercicio anterior, pero no utilizar las columnas de agrupacion (Salon y Categoria) como indice en el DataFrame resultante

In [28]:
Ajedrez.groupby(["Salon","Categoria"], as_index=False).sum(numeric_only=True)

     Salon     Categoria  P. J.  Victorias  Empates  Derrotas
0   2019-A      Avanzado    883        328      200       355
1   2019-A    Intermedio   1263        522      286       455
2   2019-A  Principiante    806        299      168       339
3   2019-B      Avanzado    980        399      238       343
4   2019-B    Intermedio    874        332      174       368
5   2019-B  Principiante   1024        390      224       410
6   2020-A      Avanzado    850        345      129       376
7   2020-A    Intermedio    957        406      193       358
8   2020-A  Principiante   1231        443      328       460
9   2020-B      Avanzado   1233        500      271       462
10  2020-B    Intermedio   1066        413      226       427
11  2020-B  Principiante    745        266      189       290
12  2021-A      Avanzado    849        382      105       362
13  2021-A    Intermedio   1266        522      242       502
14  2021-A  Principiante    841        304      193       344
15  2021-B      Avanzado    850        347      183       320
16  2021-B    Intermedio    929        362      192       375
17  2021-B  Principiante    851        327      183       341
18  2022-A      Avanzado    897        384      159       354
19  2022-A    Intermedio    646        250      127       269
20  2022-A  Principiante    899        352      184       363

__Ejercicio 10:__

Utilizar groupby para obtener la cantidad total de partidas jugadas y victorias de cada salon separado por categoria

In [31]:
Ajedrez.groupby(["Salon","Categoria"])[["P. J.","Victorias"]].sum()

                     P. J.  Victorias
Salon  Categoria
2019-A Avanzado        883        328
       Intermedio     1263        522
       Principiante    806        299
2019-B Avanzado        980        399
       Intermedio      874        332
       Principiante   1024        390
2020-A Avanzado        850        345
       Intermedio      957        406
       Principiante   1231        443
2020-B Avanzado       1233        500
       Intermedio     1066        413
       Principiante    745        266
2021-A Avanzado        849        382
       Intermedio     1266        522
       Principiante    841        304
2021-B Avanzado        850        347
       Intermedio      929        362
       Principiante    851        327
2022-A Avanzado        897        384
       Intermedio      646        250
       Principiante    899        352

__Ejercicio 11:__

Utilizar groupby para obtener la cantidad total de derrotas en cada salon separado por categoria

__Ejercicio 12:__

Utilizar groupby para obtener el valor maximo y minimo en todas las columnas de cada salon

__Ejercicio 13:__

Utilizar groupby para obtener el promedio y la cantidad total de derrotas en cada salon

__Ejercicio 14:__

Utilizar groupby para obtener la cantidad total de derrotas y numero maximo de victorias en cada salon

__Ejercicio 15:__

Utilizar groupby para obtener:
  - La cantidad total y el promedio de derrotas en cada salon
  - La cantidad maxima y minima de victorias en cada salon

__Ejercicio 16:__

Utilizar groupby para obtener los datos de los alumnos en el grupo "2019-A" mediante su llave

__Ejercicio 17:__

Utilizar groupby para obtener los datos de los alumnos en el grupo "2020-A" mediante su indice

__Ejercicio 18:__

Utilizar groupby para obtener los datos de los alumnos con mas victorias en cada grupo

__Ejercicio 19:__

Utilizar pivot_table para obtener el valor promedio en todas las columnas de cada salon

__Ejercicio 20:__

Utilizar pivot_table para obtener el valor minimo y maximo en todas las columnas de cada salon

__Ejercicio 21:__

Utilizar pivot_table para obtener el valor minimo y maximo de derrotas,victorias y empates en cada salon

__Ejercicio 22:__

Utilizar pivot_table para obtener el valor maximo de derrotas,victorias y empates en cada salon separado por categorias

__Ejercicio 23:__

Utilizar el DataFrame anterior para obtener el valor maximo de derrotas en cada salon en la categoría "Intermedio"