# Group by

In [1]:
import pandas as pd

__Ejercicio 1:__

Importar el archivo "granja.xlsx" en la variable "recoleccion"

In [2]:
recoleccion = pd.read_excel("./granja.xlsx")

In [3]:
recoleccion

      AÃ±o  Mes      Fruta    Kg  Excelente  Aceptable  Inapropiada
0    2018    1     Cereza  1400        475      613.0        312.0
1    2018    1   Arandano   900        390      440.0         70.0
2    2018    1      Fresa  1050        110      900.0         40.0
3    2018    1  Frambuesa  1050        100      784.0        166.0
4    2018    1   Aguacate  1300        490      720.0         90.0
..    ...  ...        ...   ...        ...        ...          ...
283  2021   12   Arandano  1850        720      920.0        210.0
284  2021   12      Fresa  1300        380      584.0        336.0
285  2021   12  Frambuesa  1650        330      824.0        496.0
286  2021   12   Aguacate  1100        420      560.0        120.0
287  2021   12        Uva  1650        485      948.0        217.0

[288 rows x 7 columns]

Utilizar groupby para obtener el valor maximo en todas las columnas por cada AÃ±o

In [4]:
recoleccion.groupby("AÃ±o").max()

      Mes Fruta    Kg  Excelente  Aceptable  Inapropiada
AÃ±o
2018   12   Uva  2050        740     1448.0        648.0
2019   12   Uva  2100        820     1700.0        702.0
2020   12   Uva  2100        800     1520.0        684.0
2021   12   Uva  2100        780     1457.0        576.0

__Ejercicio 2:__

Utilizar groupby para obtener la cantidad de registros en cada aÃ±o

In [5]:
recoleccion.groupby("AÃ±o").size()

AÃ±o
2018    72
2019    72
2020    72
2021    72
dtype: int64

__Ejercicio 3:__

Utilizar groupby para obtener el valor promedio en todas las columnas de cada aÃ±o

In [6]:
recoleccion.groupby("AÃ±o").mean(numeric_only=True)

      Mes           Kg   Excelente   Aceptable  Inapropiada
AÃ±o
2018  6.5  1457.638889  385.625000  826.493056   245.520833
2019  6.5  1563.194444  391.180556  906.354167   265.659722
2020  6.5  1466.666667  354.791667  845.173611   266.701389
2021  6.5  1520.138889  397.361111  826.298611   296.479167

__Ejercicio 4:__

Utilizar groupby para obtener:
 - la cantidad total de frutas recogidos en cada aÃ±o 
 - La cantidad de fruta recogida en estado Excelente, Aceptable e Inapropiada en cada aÃ±o

In [4]:
recoleccion.groupby("AÃ±o").sum(numeric_only=True)

      Mes      Kg  Excelente  Aceptable  Inapropiada
AÃ±o
2018  468  104950      27765    59507.5      17677.5
2019  468  112550      28165    65257.5      19127.5
2020  468  105600      25545    60852.5      19202.5
2021  468  109450      28610    59493.5      21346.5

In [5]:
recoleccion.groupby("AÃ±o")[["Excelente","Aceptable","Inapropiada"]].sum()

      Excelente  Aceptable  Inapropiada
AÃ±o
2018      27765    59507.5      17677.5
2019      28165    65257.5      19127.5
2020      25545    60852.5      19202.5
2021      28610    59493.5      21346.5

__Ejercicio 5:__

Utilizar groupby para obtener todos los registros de las cosechas en cuyo aÃ±o se recolecto mas de 28 toneladas de frutas en excelente estado

In [7]:
def calculo(group):
    return group["Excelente"].sum() > 28000


recoleccion.groupby("AÃ±o").filter(calculo).groupby("AÃ±o").sum(numeric_only=True)

      Mes      Kg  Excelente  Aceptable  Inapropiada
AÃ±o
2019  468  112550      28165    65257.5      19127.5
2021  468  109450      28610    59493.5      21346.5

__Ejercicio 6:__

Utilizar groupby para obtener la cantidad total de cada fruta recogida separada por aÃ±o

In [11]:
recoleccion.groupby(["AÃ±o","Fruta"]).sum()

                Mes     Kg  Excelente  Aceptable  Inapropiada
AÃ±o  Fruta
2018 Aguacate    78  17500       4915     9724.0       2861.0
     Arandano    78  18200       5255     9652.5       3292.5
     Cereza      78  18300       3960    11545.0       2795.0
     Frambuesa   78  16150       4170     9079.5       2900.5
     Fresa       78  17100       4550     9439.5       3110.5
     Uva         78  17700       4915    10067.0       2718.0
2019 Aguacate    78  20850       5335    12480.0       3035.0
     Arandano    78  20800       5185    12210.0       3405.0
     Cereza      78  17750       5030     9585.0       3135.0
     Frambuesa   78  19300       3550    11492.0       4258.0
     Fresa       78  17800       4725    10397.5       2677.5
     Uva         78  16050       4340     9093.0       2617.0
2020 Aguacate    78  17950       5090     9533.0       3327.0
     Arandano    78  18300       4135     9822.5       4342.5
     Cereza      78  19200       4950    10802.0       3448.0
     Frambuesa   78  17000       3975    10092.0       2933.0
     Fresa       78  15750       3410     9870.5       2469.5
     Uva         78  17400       3985    10732.5       2682.5
2021 Aguacate    78  17550       4565    10066.0       2919.0
     Arandano    78  17800       5085     8795.0       3920.0
     Cereza      78  19550       5005    10847.0       3698.0
     Frambuesa   78  17700       4675     9340.0       3685.0
     Fresa       78  17550       4340     9889.0       3321.0
     Uva         78  19300       4940    10556.5       3803.5

__Ejercicio 7:__

Utilizar groupby para obtener la cantidad recogida en estado excelente y aceptable de cada fruta separada por aÃ±o

In [12]:
recoleccion.groupby(["AÃ±o","Fruta"])[["Excelente","Aceptable"]].sum(numeric_only=True)

                Excelente  Aceptable
AÃ±o  Fruta
2018 Aguacate        4915     9724.0
     Arandano        5255     9652.5
     Cereza          3960    11545.0
     Frambuesa       4170     9079.5
     Fresa           4550     9439.5
     Uva             4915    10067.0
2019 Aguacate        5335    12480.0
     Arandano        5185    12210.0
     Cereza          5030     9585.0
     Frambuesa       3550    11492.0
     Fresa           4725    10397.5
     Uva             4340     9093.0
2020 Aguacate        5090     9533.0
     Arandano        4135     9822.5
     Cereza          4950    10802.0
     Frambuesa       3975    10092.0
     Fresa           3410     9870.5
     Uva             3985    10732.5
2021 Aguacate        4565    10066.0
     Arandano        5085     8795.0
     Cereza          5005    10847.0
     Frambuesa       4675     9340.0
     Fresa           4340     9889.0
     Uva             4940    10556.5

__Ejercicio 8:__

Utilizar groupby y  "agg" para obtener la cantidad total de kilogramos en estado Excelente recogidos de cada fruta

In [13]:
recoleccion.groupby("Fruta").agg({"Excelente":"sum"})

           Excelente
Fruta
Aguacate       19905
Arandano       19660
Cereza         18945
Frambuesa      16370
Fresa          17025
Uva            18180

__Ejercicio 9:__

Utilizar groupby para obtener de cada fruta:
- La cantidad total de kilogramos recogidos
- El promedio mensual de kilogramos recogidos en excelente estado

In [33]:
recoleccion.groupby("Fruta").agg({"Kg":"sum"})

              Kg
Fruta
Aguacate   73850
Arandano   75100
Cereza     74800
Frambuesa  70150
Fresa      68200
Uva        70450

In [14]:
recoleccion.groupby("Fruta").agg({"Excelente":"mean"})

            Excelente
Fruta
Aguacate   414.687500
Arandano   409.583333
Cereza     394.687500
Frambuesa  341.041667
Fresa      354.687500
Uva        378.750000

__Ejercicio 10:__

Utilizar groupby para obtener la cantidad minima y maxima de fruta recogida en un mes

In [16]:
recoleccion.groupby("Fruta").agg({"Kg":["max","min"]})

             Kg
            max  min
Fruta
Aguacate   2100  900
Arandano   2100  850
Cereza     2100  950
Frambuesa  2100  900
Fresa      2100  900
Uva        2050  900

__Ejercicio 11:__

Utilizar pivot_table para obtener el valor promedio en todas las columnas de cada AÃ±o

In [38]:
pd.pivot_table(recoleccion.select_dtypes("number"),index=recoleccion["AÃ±o"],aggfunc="mean")

,Aceptable,AÃ±o,Excelente,Inapropiada,Kg,Mes,Toneladas,Toneladas_Excelentes
AÃ±o,,,,,,,,
2018,826.493056,2018.0,385.625000,245.520833,1457.638889,6.5,1.457639,0.385625
2019,906.354167,2019.0,391.180556,265.659722,1563.194444,6.5,1.563194,0.391181
2020,845.173611,2020.0,354.791667,266.701389,1466.666667,6.5,1.466667,0.354792
2021,826.298611,2021.0,397.361111,296.479167,1520.138889,6.5,1.520139,0.397361

__Ejercicio 12:__

Utilizar pivot_table para obtener por cada fruta:
   - La cantidad minima recogida en estado Aceptable por cada aÃ±o
   - La cantidad minima recogida en estado Excelente por cada aÃ±o

In [39]:
pd.pivot_table(recoleccion,index=recoleccion["Fruta"],aggfunc="min",values=["Aceptable","Excelente"],columns="AÃ±o")

          Aceptable                      Excelente
AÃ±o            2018   2019   2020   2021      2018 2019 2020 2021
Fruta
Aguacate      424.0  739.0  410.0  541.0       125  205  155   95
Arandano      440.0  676.0  424.0  529.0        80  155  135  120
Cereza        563.0  361.0  512.0  406.0        95  185  175  135
Frambuesa     496.0  630.5  424.0  370.0       100  110  120  120
Fresa         361.0  280.0  500.0  557.0       110  120   85  125
Uva           448.0  424.0  424.0  568.0        95  120  125   80

__Ejercicio 13:__

Utilizar groupby para obtener el valor minimo en todas las columnas de cada Fruta

In [41]:
recoleccion.groupby("Fruta").min()

,AÃ±o,Mes,Kg,Excelente,Aceptable,Inapropiada,Toneladas,Toneladas_Excelentes
Fruta,,,,,,,,
Aguacate,2018,1,900,95,410.0,70.0,0.90,0.095
Arandano,2018,1,850,80,424.0,70.0,0.85,0.080
Cereza,2018,1,950,95,361.0,69.0,0.95,0.095
Frambuesa,2018,1,900,100,370.0,78.0,0.90,0.100
Fresa,2018,1,900,85,280.0,40.0,0.90,0.085
Uva,2018,1,900,80,424.0,66.0,0.90,0.080

__Ejercicio 14:__

Utilizar groupby para obtener el valor promedio en todas las columnas de cada Fruta

In [42]:
recoleccion.groupby("Fruta").mean()

,AÃ±o,Mes,Kg,Excelente,Aceptable,Inapropiada,Toneladas,Toneladas_Excelentes
Fruta,,,,,,,,
Aguacate,2019.5,6.5,1538.541667,414.687500,870.895833,252.958333,1.538542,0.414688
Arandano,2019.5,6.5,1564.583333,409.583333,843.333333,311.666667,1.564583,0.409583
Cereza,2019.5,6.5,1558.333333,394.687500,891.229167,272.416667,1.558333,0.394688
Frambuesa,2019.5,6.5,1461.458333,341.041667,833.406250,287.010417,1.461458,0.341042
Fresa,2019.5,6.5,1420.833333,354.687500,824.927083,241.218750,1.420833,0.354687
Uva,2019.5,6.5,1467.708333,378.750000,842.687500,246.270833,1.467708,0.378750

__Ejercicio 15:__

Utilizar groupby para obtener la cantidad total recogida por cada tipo de fruta

In [43]:
recoleccion.groupby("Fruta").size()

Fruta
Aguacate     48
Arandano     48
Cereza       48
Frambuesa    48
Fresa        48
Uva          48
dtype: int64

__Ejercicio 16:__

Utilizar groupby para obtener los datos de las cosechas en cuyo mes se recolecto mas de 20 toneladas de frutas en estado Aceptable

__Ejercicio 17:__

Utilizar groupby para obtener la cantidad de fruta recogida en todos los meses de cada aÃ±o, tanto el total como separado por categorias (Excelente,Aceptable e Inapropiado)

__Ejercicio 18:__

Utilizar groupby para obtener la cantidad de fruta recogida en estado Aceptable e Inapropiada, en todos los meses de cada aÃ±o

__Ejercicio 19:__

Utilizar groupby y "agg" para obtener la cantidad total de kilogramos recogidos en cada Mes

__Ejercicio 20:__

Utilizar groupby para obtener de cada mes:

 - El promedio de kilogramos en excelente estado que se recogen 
 - El promedio de kilogramos en estado inapropiado que se recogen

__Ejercicio 21:__

Utilizar groupby para obtener la cantidad minima y maxima en estado aceptable recogida en cada Mes (Ej. La cantidad mÃ­nima de fruta en estado aceptable que se ha recogido en el mes de febrero es de 1000)

__Ejercicio 22:__

Utilizar pivot_table para obtener el valor promedio en todas las columnas de cada Fruta

__Ejercicio 23:__

Utilizar pivot_table para obtener por cada AÃ±o:
   - La cantidad total de fruta recogida en cada mes
   - La cantidad total de fruta en estado Aceptable recogida en cada mes

__Ejercicio 24:__

Utilizar el DataFrame anterior para obtener el total de frutas recogidas en cada mes del aÃ±o 2019