# Strings

In [1]:
import pandas as pd

__Ejercicio 1:__

Guardar la lista anterior en una serie llamada numeros

In [2]:
lista=[10,22,21]

In [4]:
numeros = pd.Series(lista)

numeros

0    10
1    22
2    21
dtype: int64

Convertir el tipo de dato en la serie anterior a String

In [9]:
numeros.apply(str)

0    10
1    22
2    21
dtype: object

In [10]:
numeros.astype("string")

0    10
1    22
2    21
dtype: string

__Ejercicio 2:__

In [2]:
lista=["Daniel Israel","Rocio del Carmen","Paulina Isabelle", "Elias Israel"]

Guardar la lista anterior en una serie llamada __"nombres"__

In [3]:
nombres = pd.Series(lista)

In [7]:
nombres

0       Daniel Israel
1    Rocio del Carmen
2    Paulina Isabelle
3        Elias Israel
dtype: object

Obtener la longitud de todos los nombres (Ej. Pedro=5)

In [14]:
nombres.str.len()

0    13
1    16
2    16
3    12
dtype: int64

Cambiar todas las letras en los nombres a minuscula

In [15]:
nombres.str.lower()

0       daniel israel
1    rocio del carmen
2    paulina isabelle
3        elias israel
dtype: object

Cambiar todas las letras en los nombres a may√∫scula

In [16]:
nombres.str.upper()

0       DANIEL ISRAEL
1    ROCIO DEL CARMEN
2    PAULINA ISABELLE
3        ELIAS ISRAEL
dtype: object

__Ejercicio 3:__

Cambiar la primera letra de cada palabra a may√∫scula

In [21]:
nombres.str.title()

0       Daniel Israel
1    Rocio Del Carmen
2    Paulina Isabelle
3        Elias Israel
dtype: object

Cambiar la primera letra de cada registro a may√∫scula (Ej. manuel jesus= Manuel jesus)

In [20]:
nombres.str.capitalize()

0       Daniel israel
1    Rocio del carmen
2    Paulina isabelle
3        Elias israel
dtype: object

__Ejercicio 4:__ Obtener la cantidad de veces que se repite la letra "a" en cada nombre

In [22]:
nombres.str.count("a")

0    2
1    1
2    3
3    2
dtype: int64

__Ejercicio 5:__ Evaluar si los nombres anteriores empiezan con la cadena de caracteres "Daniel"

In [23]:
nombres.str.startswith("Daniel")

0     True
1    False
2    False
3    False
dtype: bool

__Ejercicio 6:__ Evaluar si los nombres contienen la cadena de caracteres "Israel"

In [24]:
nombres.str.contains("Israel")

0     True
1    False
2    False
3     True
dtype: bool

In [25]:
nombres.str.endswith("Israel")

0     True
1    False
2    False
3     True
dtype: bool

__Ejercicio 7:__

Crear una serie llamada __apellidos__ en base a la siguiente lista:

In [4]:
lista=["Romero","Aguilar","Mejia","Rojas"]

In [5]:
apellidos = pd.Series(lista)

apellidos

0     Romero
1    Aguilar
2      Mejia
3      Rojas
dtype: object

Evaluar si los apellidos empiezan por la letra "R"

In [9]:
apellidos[apellidos.str.startswith("R")]

0    Romero
3     Rojas
dtype: object

In [13]:
apellidos[apellidos.str.match("\wo")]

0    Romero
3     Rojas
dtype: object

Evaluar si los apellidos terminan por la letra "a"

In [14]:
apellidos[apellidos.str.endswith("a")]

2    Mejia
dtype: object

Obtener una serie nueva √∫nicamente con los apellidos que terminan con la letra "a"

In [15]:
apellidos[apellidos.str.endswith("a")]

2    Mejia
dtype: object

__Ejercicio 8:__ Concatenar las serie con los nombres y los apellidos

In [6]:
nombres + " " + apellidos

0        Daniel Israel Romero
1    Rocio del Carmen Aguilar
2      Paulina Isabelle Mejia
3          Elias Israel Rojas
dtype: object

In [7]:
nombres.str.cat(apellidos, sep= " ")

0        Daniel Israel Romero
1    Rocio del Carmen Aguilar
2      Paulina Isabelle Mejia
3          Elias Israel Rojas
dtype: object

__Ejercicio 9:__ Obtener las 3 primeras letras de los apellidos

In [18]:
apellidos.str.slice(start=0,stop=3)

0    Rom
1    Agu
2    Mej
3    Roj
dtype: object

__Ejercicio 10:__ Obtener las 3 primeras letras de los apellidos y agregar un punto al final

In [20]:
apellidos.str.slice_replace(start=3,repl="_.")

0    Rom_.
1    Agu_.
2    Mej_.
3    Roj_.
dtype: object

__Ejercicio 11:__

In [8]:
lista=["171","Daniel","Romero","23","True"]

Guardar la lista anterior en una serie llamada "datos"

In [9]:
datos = pd.Series(lista)
datos

0       171
1    Daniel
2    Romero
3        23
4      True
dtype: object

Evaluar cuales de los datos en la serie anterior pueden transformarse a numeros

In [10]:
datos.str.isdecimal()

0     True
1    False
2    False
3     True
4    False
dtype: bool

Obtener una serie nueva √∫nicamente con los registros n√∫mericos dentro de "datos"

In [11]:
datos[datos.str.isdecimal()].apply(int)

0    171
3     23
dtype: int64

Unir todos los datos de la serie "datos" en un √∫nico string

In [12]:
datos.str.cat(sep=".")

'171.Daniel.Romero.23.True'

__Ejercicio 12:__

In [13]:
lista=["12-12-2020","08-11-2021","15-01-2019"]

Guardar la lista anterior en una serie llamada fechas

In [14]:
fechas = pd.Series(lista)

fechas

0    12-12-2020
1    08-11-2021
2    15-01-2019
dtype: object

Reemplazar los separadores "-" por "/" en las fechas anteriores (Ej. "12-12-2020" ="12/12/2020")

In [33]:
fechas.str.replace("-","/")

0    12/12/2020
1    08/11/2021
2    15/01/2019
dtype: object

__Ejercicio 13:__ Separar la fecha en dia, mes y a√±o, utilizando la funci√≥n split

In [15]:
fechas.str.split("-")

0    [12, 12, 2020]
1    [08, 11, 2021]
2    [15, 01, 2019]
dtype: object

__Ejercicio 14:__ Obtener el a√±o de cada fecha

In [16]:
fechas.str.split("-").str.get(2)

0    2020
1    2021
2    2019
dtype: object

__Ejercicio 15:__ Generar un DataFrame a partir de la serie fechas, utilizando la funcion split

In [18]:
fechas_df=fechas.str.split("-",expand=True)

In [20]:
fechas_df.columns =["Dia","Mes","A√±o"]

In [21]:
fechas_df

  Dia Mes   A√±o
0  12  12  2020
1  08  11  2021
2  15  01  2019

__Ejercicio 16:__

In [22]:
lista=["Raul Jose","Sof√≠a Yasmin","Julia Carmen", "Roberto Miguel"]

Guardar la lista anterior en una serie llamada nombres

In [24]:
name = pd.Series(lista)

name

0         Raul Jose
1      Sof√≠a Yasmin
2      Julia Carmen
3    Roberto Miguel
dtype: object

Cambiar a letras minusculas los nombres que terminen en la letra "n"

In [27]:
name[name.str.endswith("n")]=name.str.lower()

name

0         Raul Jose
1      sof√≠a yasmin
2      julia carmen
3    Roberto Miguel
dtype: object

Cambiar a letras mayusculas los nombres que empiecen con la letra "R"

In [28]:
name[name.str.startswith("R")] = name.str.upper()

name

0         RAUL JOSE
1      sof√≠a yasmin
2      julia carmen
3    ROBERTO MIGUEL
dtype: object

__Ejercicio 17:__

Importar los datos del archivo "mascotas.xlsx" utilizando pandas y guardarlos en un DataFrame llamado "mascotas"

In [32]:
mascotas=pd.read_excel("./mascotas.xlsx")

In [33]:
mascotas

     nombre   tipo
0      Nala  Perro
1      Lola  Perro
2     Bella  Perro
3     Linda   Gato
4     Kiara  Perro
5      Luna   Gato
6      Nina  Perro
7      Gala   Gato
8       Max  Perro
9       Leo  Perro
10    Rocky   Gato
11     Toby   Gato
12    Bruno   Gato
13     Otto  Perro
14    Greta  Perro
15     Milo  Perro
16    Bruce  Perro
17      Sam   Gato
18    Buddy   Gato
19      Gus  Perro
20   Charly   Gato
21      Tom   Gato
22    Elvis   Gato
23     Luca   Gato
24      Rex   Gato
25    Bobby  Perro
26  Chester  Perro
27    Teddy  Perro
28   Marley  Perro
29   Copito   Gato
30    Betsy  Perro
31    Perri  Perro
32      Amy  Perro

Cambiar las letras a mayusculas en el dato de la columna "tipo" si contiene la silaba "rro"

In [43]:
mascotas.tipo[mascotas.tipo.str.endswith("rro")] = mascotas.tipo.str.upper()

In [44]:
mascotas

     nombre   tipo
0      Nala  PERRO
1      Lola  PERRO
2     Bella  PERRO
3     Linda   Gato
4     Kiara  PERRO
5      Luna   Gato
6      Nina  PERRO
7      Gala   Gato
8       Max  PERRO
9       Leo  PERRO
10    Rocky   Gato
11     Toby   Gato
12    Bruno   Gato
13     Otto  PERRO
14    Greta  PERRO
15     Milo  PERRO
16    Bruce  PERRO
17      Sam   Gato
18    Buddy   Gato
19      Gus  PERRO
20   Charly   Gato
21      Tom   Gato
22    Elvis   Gato
23     Luca   Gato
24      Rex   Gato
25    Bobby  PERRO
26  Chester  PERRO
27    Teddy  PERRO
28   Marley  PERRO
29   Copito   Gato
30    Betsy  PERRO
31    Perri  PERRO
32      Amy  PERRO

__Ejercicio 18:__ Cambiar las letras a minusculas en el dato de la columna "tipo" si empieza con la silaba "Ga"

In [46]:
mascotas.tipo[mascotas.tipo.str.startswith("Ga")] = mascotas.tipo.str.lower()

In [47]:
mascotas

     nombre   tipo
0      Nala  PERRO
1      Lola  PERRO
2     Bella  PERRO
3     Linda   gato
4     Kiara  PERRO
5      Luna   gato
6      Nina  PERRO
7      Gala   gato
8       Max  PERRO
9       Leo  PERRO
10    Rocky   gato
11     Toby   gato
12    Bruno   gato
13     Otto  PERRO
14    Greta  PERRO
15     Milo  PERRO
16    Bruce  PERRO
17      Sam   gato
18    Buddy   gato
19      Gus  PERRO
20   Charly   gato
21      Tom   gato
22    Elvis   gato
23     Luca   gato
24      Rex   gato
25    Bobby  PERRO
26  Chester  PERRO
27    Teddy  PERRO
28   Marley  PERRO
29   Copito   gato
30    Betsy  PERRO
31    Perri  PERRO
32      Amy  PERRO