# Ejercicios

In [1]:
import pandas as pd

__Ejercicio 1:__

In [2]:
lista=["caballo","perro","gato", "conejo","loro","jirafa"]
lista

['caballo', 'perro', 'gato', 'conejo', 'loro', 'jirafa']

Guardar la lista anterior en una Serie llamada "animales"

In [4]:

animales = pd.Series(lista)

animales

0    caballo
1      perro
2       gato
3     conejo
4       loro
5     jirafa
dtype: object

Transformar los nombres de animales anteriores a letras mayúsculas

In [6]:
animales.str.upper()

0    CABALLO
1      PERRO
2       GATO
3     CONEJO
4       LORO
5     JIRAFA
dtype: object

__Ejercicio 2:__ Cambiar la primera letra en el nombre de los animales a mayuscula

In [7]:
animales.str.title()

0    Caballo
1      Perro
2       Gato
3     Conejo
4       Loro
5     Jirafa
dtype: object

__Ejercicio 3:__ Unir todas las filas de la serie animales en un único string

In [11]:
animales.str.cat(sep=",")

'caballo,perro,gato,conejo,loro,jirafa'

__Ejercicio 4:__

In [12]:
lista=["Colombia,Mexico,Argentina,Argentina",
       "Chile,Chile,Mexico,Colombia",
       "Colombia,Chile,Colombia,Argentina",
       "Mexico, Argentina,Colombia,Mexico"]

Guardar la lista anterior en una Serie llamada "paises"

In [13]:
paises = pd.Series(lista)
paises

0    Colombia,Mexico,Argentina,Argentina
1            Chile,Chile,Mexico,Colombia
2      Colombia,Chile,Colombia,Argentina
3      Mexico, Argentina,Colombia,Mexico
dtype: object

Contar cuantas veces se repite el pais "Colombia" en cada registro de la serie paises

In [14]:
paises.str.count("Colombia")

0    1
1    1
2    2
3    1
dtype: int64

__Ejercicio 5:__ Mantener únicamente los datos en la serie "paises" que contenga a "Argentina"

In [16]:
paises[paises.str.contains("Argentina")]

0    Colombia,Mexico,Argentina,Argentina
2      Colombia,Chile,Colombia,Argentina
3      Mexico, Argentina,Colombia,Mexico
dtype: object

__Ejercicio 6:__ Mantener únicamente los datos en la serie "paises" cuyo último nombre sea "Mexico"

In [17]:
paises[paises.str.endswith("Mexico")]

3    Mexico, Argentina,Colombia,Mexico
dtype: object

__Ejercicio 7:__ Separar cada dato de la serie paises en un array utilizando como divisor la coma (",")

In [18]:
paises.str.split(",")

0    [Colombia, Mexico, Argentina, Argentina]
1            [Chile, Chile, Mexico, Colombia]
2      [Colombia, Chile, Colombia, Argentina]
3      [Mexico,  Argentina, Colombia, Mexico]
dtype: object

__Ejercicio 8:__ Obtener el segundo pais dentro de cada registro de la serie "paises"

In [19]:
paises.str.split(",").str.get(1)

0        Mexico
1         Chile
2         Chile
3     Argentina
dtype: object

__Ejercicio 9:__ Crear un DataFrame a partir de la serie paises, utilizando la función split para colocar un pais por columna

In [23]:
df_paises = paises.str.split(",",expand=True)

In [24]:
df_paises

          0           1          2          3
0  Colombia      Mexico  Argentina  Argentina
1     Chile       Chile     Mexico   Colombia
2  Colombia       Chile   Colombia  Argentina
3    Mexico   Argentina   Colombia     Mexico

__Ejercicio 10:__ Crear una serie con la siguiente lista llamada paises2

In [25]:
lista= ["Francia,Suecia",
        "Italia,Alemania",
       "Irlanda,Francia",
       "Portugal,Alemania"]

In [27]:
paises2 = pd.Series(lista)

paises2

0       Francia,Suecia
1      Italia,Alemania
2      Irlanda,Francia
3    Portugal,Alemania
dtype: object

Unir con la función cat el contenido de las series paises y paises2

In [28]:
paises.str.cat(paises2)

0    Colombia,Mexico,Argentina,ArgentinaFrancia,Suecia
1           Chile,Chile,Mexico,ColombiaItalia,Alemania
2     Colombia,Chile,Colombia,ArgentinaIrlanda,Francia
3    Mexico, Argentina,Colombia,MexicoPortugal,Alem...
dtype: object

__Ejercicio 11:__ Utilizar la función slice para obtener las 3 primeras letras de cada dato en la serie paises

In [30]:
paises.str.slice(start=0,stop=3)

0    Col
1    Chi
2    Col
3    Mex
dtype: object

__Ejercicio 12:__ Reemplazar el separador en la serie paises (",") por un guion medio ("-")

In [33]:
paises.str.replace(",","-")

0    Colombia-Mexico-Argentina-Argentina
1            Chile-Chile-Mexico-Colombia
2      Colombia-Chile-Colombia-Argentina
3      Mexico- Argentina-Colombia-Mexico
dtype: object

__Ejercicio 13:__

In [23]:
lista=["Manzana","Uva","Cereza","Sandia","Melon"]

Guardar la lista anterior en una Serie llamada "frutas"

Transformar los nombres de animales anteriores a letras minusculas

__Ejercicio 14:__ Obtener la cantidad de letras que tiene cada nombre de fruta

__Ejercicio 15:__ Unir el nombre de todas las frutas en una sola cadena, utilizando la funcion cat

__Ejercicio 16:__

In [28]:
lista=["Ciclismo,Golf,Tenis,Atletismo",
       "Tenis,Golf,Ciclismo,Tenis",
       "Ciclismo,Atletismo,Atletismo,Ciclismo",
       "Natacion, Natacion,Tenis,Natacion"]

Guardar la lista anterior en una Serie llamada "deportes"

Contar cuantas veces se repite "Golf" en cada registro de la serie paises

__Ejercicio 17:__ Mantener únicamente los datos en la serie "deportes" que contenga "Atletismo"

__Ejercicio 18:__ Mantener únicamente los datos en la serie "deportes" cuyo primero deporte sea "Ciclismo"

__Ejercicio 19:__ Separar cada dato de la serie deportes en un array utilizando como divisor la coma (",")

__Ejercicio 20:__ Obtener el tercer deporte dentro de cada registro de la serie "deportes"

__Ejercicio 21:__  Crear un DataFrame a partir de la serie "deportes", utilizando la función split para colocar un deporte por columna

__Ejercicio 22:__ Crear una serie con la siguiente lista llamada deportes2

In [36]:
lista= ["Beisbol,Karate","Karate,Rugbi","Rugbi,Beisbol"]

Unir con la función cat el contenido de las series deportes y deportes2

__Ejercicio 23:__  Utilizar la función slice para obtener las 4 primeras letras de cada dato en la serie deportes

__Ejercicio 24:__ Reemplazar el separador en la serie deportes (",") por una diagona ("/")