## Ejercicios

Importar matplotlib y pandas:

In [1]:
import pandas as pd

## Ejercicio 1:

Utilizar pandas para importar los datos del archivo "certificado.csv" en la variable "certificados"

In [2]:
certificados=pd.read_csv("../certificado.csv")
certificados.head()

     nombre   examen_diagnostico  examen_final grupo maestro
0  Alejandra                 7.7           9.0     A   Maria
1    Alberto                 7.3           8.8     B   Pedro
2      César                 7.5           9.1     B   Pedro
3    Gustavo                 7.1           8.6     B   Pedro
4    Ernesto                 7.8           9.2     A   Maria

Usar groupby para crear un DataFrame donde se tenga el promedio del examen diagnostico y examen final por cada grupo, el resultado debe ser el siguiente:

![Resuelto](./Img_24_Ejercicios/Act1Img1.png)

![Resuelto](./Img_24_Ejercicios/Act1Img2.png)

![Resuelto](./Img_24_Ejercicios/Act1Img3.png)

__Conclusión:__ todos los grupos presentan una mejora en la calificación al finalizar el curso

## Ejercicio 2:
Crear una columna llamada Progreso en el DataFrame certificados que contenga la diferencia entre el examen final y el examen diagnóstico, por ejemplo, si un alumno tuvo un 8 en el examen final y un 7 en el examen diagnóstico, la columna Progreso tendrá el valor de  1, el resultado debe ser el siguiente:

![Resuelto](./Img_24_Ejercicios/Act2Img1.png)

![Resuelto](./Img_24_Ejercicios/Act2Img2.png)

__Conclusión__: la mayoria de los estudiantes tienen una mejora entre 1 y 2.5 puntos

## Ejercicio 3: 
Utilizar gruopby para obtener el progreso promedio en las calificaciones de los alumnos por cada profesor, por ejemplo, los alumnos del profesor Pedro al inicio tienen un promedio de 7, al terminar el curso aumenta a 9 y su progreso es de 2 puntos, el resultado debe ser el siguiente:

![Resuelto](./Img_24_Ejercicios/Act3Img1.png)

![Resuelto](./Img_24_Ejercicios/Act3Img2.png)

__Conclusión:__ Los 3 maestros tienen un desempeño similar.

## Ejercicio 4:
Utilizar pandas para importar los datos del archivo "certificado_historico.csv" en la variable "historico"

Utlizar groupby para crear un DataFrame con la calificación más baja en cada grupo de cada año, el resultado debe ser el siguiente:

![Resuelto](./Img_24_Ejercicios/Act4Img1.png)

![Resuelto](./Img_24_Ejercicios/Act4Img2.png)

__Conclusión:__ la calificación más baja normalmente se mantiene por encima de 7

## Ejercicio 5:
Utilizar groupby para crear un DataFrame con la cantidad de alumnos a la que ha impartido clases cada maestro, por ejemplo, la profesora Jessica ha dado clases a 80 alumnos, el resultado debe ser el siguiente:

![Resuelto](./Img_24_Ejercicios/Act5Img1.png)

![Resuelto](./Img_24_Ejercicios/Act5Img2.png)

__Conclusión:__ Tatiana y Armando son los profesores que más alumnos han tenido

## Ejercicio 6:
Utilizar pivot table para crear un DataFrame con la calificación promedio de los estudiantes de cada profesor en cada año, el resultado debe ser el siguiente:

![Resuelto](./Img_24_Ejercicios/Act6Img1.png)

![Resuelto](./Img_24_Ejercicios/Act6Img2.png)

__Conclusión:__ Emily es la maestra que mayor progreso ha tenido

## Ejercicio 7:
Utilizar groupby para crear un DataFrame con la mediana en la calificación de cada grupo en cada año, el resultado debe ser el siguiente:

![Resuelto](./Img_24_Ejercicios/Act7Img1.png)

__Conclusión:__ la mediana en las calificaciones normalmente es alrededor de 8.5

## Ejercicio 8
Armar un código que devuelva un Dataframe con los datos de los estudiantes que si quieren obtener un certificado, el resultado debe ser el siguiente:

![Resuelto](./Img_24_Ejercicios/Act8Img1.png)

Armar un código que devuelva un Dataframe con los datos de los estudiantes que no quieren obtener un certificado,el resultado debe ser el siguiente:

![Resuelto](./Img_24_Ejercicios/Act8Img2.png)

![Resuelto](./Img_24_Ejercicios/Act8Img4.png)

__Conclusión:__ La mayoria de los estudiantes que quieren obtener un certificado tienen altas calificaciones

## Ejercicio 9:
Utilizar pivot table crear un DataFrame que contenga la calificación promedio de los estudiantes en cada año, separado por si quieren obtener un certificado o no, el resultado debe ser el siguiente:

![Resuelto](./Img_24_Ejercicios/Act9Img1.png)

Armar un código que devuelva un DataFrame con la diferencia en cada año respecto a la calificación promedio de los estudiantes que si querian obtener un certificado contra los que no, por ejemplo, si en el 2017 el promedio de los estudiantes que si querían un certificado era 9 y de los que no era 8, la diferencia será 1 para esa fila, el resultado debe ser el siguiente:

![Resuelto](./Img_24_Ejercicios/Act9Img2.png)

![Resuelto](./Img_24_Ejercicios/Act9Img3.png)

__Conclusión:__ los estudiantes que buscan obtener su certificado tienen mayores calificaciones en promedio

## Ejercicio 10:
Armar un código que devuelva un dataframe con las diferencias de las calificaciones de cada alumno con respecto al promedio general, por ejemplo, si Juan sacó 8 y el promedio general es 9, la diferencia será -1, el resultado debe ser el siguiente:

![Resuelto](./Img_24_Ejercicios/Act10Img1.png)

Nota: se puede hacer como en el ejercicio anterior, pero se hizo diferente para mostrar más opciones a los alumnos

Armar un código que devuelva un Dataframe con los datos de los estudiantes que si quieren obtener un certificado,el resultado debe ser el siguiente:

![Resuelto](./Img_24_Ejercicios/Act10Img2.png)

Armar un código que devuelva un Dataframe con los datos de los estudiantes que no quieren obtener un certificado,el resultado debe ser el siguiente:

![Resuelto](./Img_24_Ejercicios/Act10Img3.png)

![Resuelto](./Img_24_Ejercicios/Act10Img6.png)

__Conclusión:__ Los estudiantes que desean obtener un certificado tienden a tener calificaciones mayores al promedio

## Ejercicio 11
Armar un Dataframe con los indices de los alumnos que obtuvieron la calificación más alta en cada grupo en cada año, el resultado debe ser:

![Resuelto](./Img_24_Ejercicios/Act11Img1.png)

Utilizar los indices del paso anterior para obtener en un DataFrame los datos de los estudiantes con mejor promedio empleando loc, el resultado debe ser:

![Resuelto](./Img_24_Ejercicios/Act11Img2.png)

![Resuelto](./Img_24_Ejercicios/Act11Img3.png)

__Conclusión:__ en todos los grupos siempre un estudiante tuvo al menos 9.8 de calificación

## Ejercicio 12
Agregar una columna llamada id al DataFrame anterior , formada por la unión de la columna anio y la columna grupo, el resultado debe ser el siguiente:

![Resuelto](./Img_24_Ejercicios/Act12Img1.png)

![Resuelto](./Img_24_Ejercicios/Act12Img2.png)

__Conclusión:__ en todos los grupos siempre un estudiante tuvo al menos 9.8 de calificación

## Ejercicio 13
Utilizar pandas para importar los datos del archivo "hospital.xlsx" en la variable "hospital"

Agregar una columna llamada "FechaMes", que contenga el año y el mes de la columna fecha (Ej. 2010-03)

![Resuelto](./Img_24_Ejercicios/Act13Img1.png)

Agregar una columna llamada "Año", que contenga el año y el mes de la columna fecha (Ej. 2010)

![Resuelto](./Img_24_Ejercicios/Act13Img2.png)

Crear una función utilizando groupby que devuelva un DataFrame con el total de visitas que si hicieron al hospital y el promedio de los honorarios en cada año, el resultado debe ser el siguiente:

![Resuelto](./Img_24_Ejercicios/Act13Img4.png)

![Resuelto](./Img_24_Ejercicios/Act13Img5.png)

![Resuelto](./Img_24_Ejercicios/Act13Img6.png)

__Conclusión:__ el costo promedio de los honorarios y el número de visitas no han tenido grandes variaciones.

## Ejercicio 14
Crear una función que devuelva un DataFrame con los registros de las visitas al hospital que fueron con motivo de una consulta médica, el resultado debe ser el siguiente:

![Resuelto](./Img_24_Ejercicios/Act14Img1.png)

![Resuelto](./Img_24_Ejercicios/Act14Img2.png)

__Conclusión:__ el costo por una consulta normalmente es de 1000 o 1250 pesos

## Ejercicio 15
Crear una función utilizando groupby que devuelva un DataFrame con el total de visitas al hospital por cada especialidad, el resultado debe ser el siguiente:

![Resuelto](./Img_24_Ejercicios/Act15Img1.png)

![Resuelto](./Img_24_Ejercicios/Act15Img2.png)

__Conclusión:__ la especialidad más demandada es la dermatología

## Ejercicio 16

Agregar una columna llamada "Mes", que contenga el año y el mes de la columna fecha (Ej. 01)

![Resuelto](./Img_24_Ejercicios/Act16Img1.png)

Crear una función que devuelva un DataFrame con la información de las visitas al hospital cuyo motivo fue una operación, el resultado debe ser el siguiente:

![Resuelto](./Img_24_Ejercicios/Act16Img2.png)

Utilizar pivot table para crear una función que devuelva un DataFrame con los honorarios de la operación más barata en cada mes de cada año, el resultado debe ser el siguiente:

![Resuelto](./Img_24_Ejercicios/Act16Img2.png)

![Resuelto](./Img_24_Ejercicios/Act16Img3.png)

__Conclusión:__ en el año 2021 es donde las operaciones más económicas tienen el costo más alto

## Ejercicio 17
Crear una función que utilizando groupby devuelva un DataFrame con la cantidad de visitas atendidas por cada doctor, el resultado debe ser el siguiente:

![Resuelto](./Img_24_Ejercicios/Act17Img1.png)

![Resuelto](./Img_24_Ejercicios/Act17Img2.png)

## Ejercicio 18
Agregar una columna al DataFrame hospital llamada ingreso, este se obtiene al multiplicar los honorarios de cada visita con el porcentaje de comisión, el resultado debe ser el siguiente:

![Resuelto](./Img_24_Ejercicios/Act18Img1.png)

Crear una función utilizando pivot table que devuelva un DataFrame con la suma de los ingresos en cada año por tipo de visita:

![Resuelto](./Img_24_Ejercicios/Act18Img2.png)

![Resuelto](./Img_24_Ejercicios/Act18Img3.png)

__Conclusión:__ El tipo de consulta que más ingresos genera al hospital son las operaciones

## Ejercicio 19
Crear un código utilizando groupby que devuelva un DataFrame con la mediana en los ingresos en cada mes de cada año, el resultado debe ser el siguiente:

![Resuelto](./Img_24_Ejercicios/Act19Img1.png)

![Resuelto](./Img_24_Ejercicios/Act19Img2.png)

__Conclusión:__ La mediana de los ingresos normalmente oscila entre los 150 y 200 pesos

## Ejercicio 20
Crear una función que devuelva un DataFrame con la información de las visitas al hospital cuyo motivo fue una consulta médica, el resultado debe ser el siguiente:

![Resuelto](./Img_24_Ejercicios/Act20Img1.png)

Crear una función que devuelva un DataFrame con la información de las visitas al hospital cuyo motivo fue un examen médico:

![Resuelto](./Img_24_Ejercicios/Act20Img2.png)

![Resuelto](./Img_24_Ejercicios/Act20Img4.png)

__Conclusión:__ las consultas médicas son las que menos ingresos reportan al hospital

## Ejercicio 21
Crear una función que devuelva un DataFrame con la información de las visitas médicas que no fueron por una operación, el resultado debe ser el siguiente:

![Resuelto](./Img_24_Ejercicios/Act21Img1.png)

Utilizando el DataFrame anterior crear una función que devuelva el ingreso promedio de todas las visitas al hospital cuyo motivo no fue una operación:

Crear una función que devuelva un DataFrame con la diferencia de los ingresos de cada visita con el promedio general, por ejemplo, si se tuvo 200 pesos de ingresos en una consulta, pero el promedio es 150, la diferencia será 50, el resultado debe ser el siguiente:

![Resuelto](./Img_24_Ejercicios/Act21Img2.png)

Crear una función utilizando pivot table que devuelva un DataFrame con la diferencia promedio del ingreso en cada año y en cada tipo de visita, el resultado debe ser el siguiente:

![Resuelto](./Img_24_Ejercicios/Act21Img3.png)

![Resuelto](./Img_24_Ejercicios/Act21Img4.png)

__Conclusión:__ los ingresos promedio de las consultas siempre son menores al promedio general contando examenes

## Ejercicio 22
Utilizando el DataFrame del ejercicio anterior, crear una función que devuelva los datos de las visitas al hospital cuyo motivo fue una consulta médica, el resultado debe ser el siguiente:

![Resuelto](./Img_24_Ejercicios/Act22Img1.png)

Utilizando el DataFrame del ejercicio anterior, crear una función que devuelva los datos de las visitas al hospital cuyo motivo fue un examen médico, el resultado debe ser el siguiente:

![Resuelto](./Img_24_Ejercicios/Act22Img2.png)

![Resuelto](./Img_24_Ejercicios/Act22Img5.png)

__Conclusión:__ la mayoría de las consultas médicas reportan un ingreso menor al promedio general

## Ejercicio 23
Crear una función utilizando groupby que devuelva un DataFrame con los indices de las visitas médicas que más honorarios pagaron en cada año, el resultado debe ser el siguiente:

![Resuelto](./Img_24_Ejercicios/Act23Img1.png)

Crear una función utilizando iloc que nos devuelva los datos de las visitas médicas que pagaron los honorarios más altos en cada año, el resultado debe ser el siguiente:

![Resuelto](./Img_24_Ejercicios/Act23Img2.png)

![Resuelto](./Img_24_Ejercicios/Act23Img3.png)

__Conclusión:__ el honorario más alto en las operaciones normalmente es de 50,000 pesos

## Ejercicio 24:
Utilizando el DataFrame anterior, crear una función que agregue una columna formada por la unión del año y la especialidad del médico, el resultado debe ser el siguiente:

![Resuelto](./Img_24_Ejercicios/Act24Img1.png)

![Resuelto](./Img_24_Ejercicios/Act24Img2.png)

__Conclusión:__ la dermatología es la especialidad donde más veces se tuvo el honorario más alto