# Ejercicios

In [1]:
import pandas as pd

__Ejercicio 1:__

Utilizar pandas para importar los datos del archivo "escuela.xlsx" en la variable "alumnos", utilizando el número de control como índice

__Ejercicio 2:__

Utilizar pandas para importar los datos en la hoja "Carreras" del archivo "escuela.xlsx" en la variable "carreras"

__Ejercicio 3:__

Utilizar pandas para importar los datos en la hoja "Modalidad" del archivo "escuela.xlsx" en la variable "modalidades"

__Ejercicio 4:__

Utilizar la función join para unir los dataframe alumnos y carreras en base a la columna "Id Carrera"

__Ejercicio 5:__

Utilizar la función join para unir los dataframe alumnos y modalidades en base a la columna "Id Modalidad", agregar el sufico "_Alumno" a la columna  del Dataframe alumnos

__Ejercicio 6:__

Ordenar el DataFrame anterior en base a la columna "Id Modalidad"

__Ejercicio 7:__

Utilizar la funcion merge para unir los DataFrame "alumnos" y "carreras", para comparar:
- Utilizar la columna "Id Carrera" en el DataFrame "alumnos"
- Utilizar el indice en el DataFrame carreras

__Ejercicio 8:__

Utilizar la funcion merge para unir los DataFrame "modalidades" y "alumnos", para comparar:
- Utilizar el indice en el DataFrame "modalidades"
- Utilizar la columna "Id Modalidad" en el DataFrame "alumnos"

__Ejercicio 9:__

Modificar el DataFrame anterior:
- Agregar el sufijo "_Modalidad" a la columna "Nombre" del Dataframe modalidades
- Agregar el sufijo "_Alumno" a la columna "Nombre" del DataFrame alumnos

__Ejercicio 10:__

Utilizar la funcion merge para unir los DataFrame carreras y alumnos, para comparar:
   - Utilizar la columna "Clave" en el DataFrame carreras
   - Utilizar la columna "Id Carrera" en el DaraFrame alumnos

__Ejercicio 11:__

Utilizar la funcion merge para unir los DataFrame "carreras" y "alumnos", para comparar:
- Utilizar la columna "Clave" en el DataFrame "carreras"
- Utilizar la columna "Id Carrera" en el DaraFrame "alumnos"
- Utilizar una unión derecha

__Ejercicio 12:__

Indicar la tabla de origen de cada fila en el DataFrame anterior

__Ejercicio 13:__

Utilizar pandas para importar los datos en la hoja "Maestros" del archivo "escuela.xlsx" en la variable "maestros"

__Ejercicio 14:__

Utilizar pandas para importar los datos en la hoja "Materias" del archivo "escuela.xlsx" en la variable "materias"

__Ejercicio 15:__

Utilizar pandas para importar los datos en la hoja "Materias" del archivo "escuela.xlsx" en la variable "materias"

__Ejercicio 16:__

Utilizar la función join para unir los dataframe cursos y maestros en base a la columna "Id Carrera"

__Ejercicio 17:__

__Ejercicio 18:__

__Ejercicio 19:__

Utilizar la funcion merge para unir los DataFrame maestros y cursos, para comparar:
- Utilizar el indice en el DataFrame "maestros"
- Utilizar la columna "Id Maestro" en el DataFrame "cursos"

__Ejercicio 20:__

Utilizar la funcion merge para unir los DataFrame maestros y cursos, para comparar:
- Utilizar el indice en el DataFrame "maestros"
- Utilizar la columna "Id Maestro" en el DataFrame "cursos"
- Utilizar una union izquierda

__Ejercicio 21:__

Utilizar la funcion merge para unir los DataFrame cursos y materias, para comparar:
- Utilizar la columna "Id Materia" en el DataFrame "cursos"
- Utilizar el indice en el DataFrame "materias"

__Ejercicio 22:__

Utilizar la funcion merge para unir los DataFrame cursos y materias, para comparar:
- Utilizar la columna "Id Materia" en el DataFrame "cursos"
- Utilizar el indice en el DataFrame "materias"
- Utilizar una union derecha

__Ejercicio 23:__

Utilizar la funcion merge para unir los DataFrame cursos y materias, para comparar:
- Utilizar la columna "Id Materia" en el DataFrame "cursos"
- Utilizar el indice en el DataFrame "materias"
- Utilizar una union exterior

__Ejercicio 24:__

Utilizar la funcion merge para unir los DataFrame cursos y materias, para comparar:
- Utilizar la columna "Id Materia" en el DataFrame "cursos"
- Utilizar el indice en el DataFrame "materias"
- Utilizar una union exterior
- Indicar la tabla de origen de cada fila