## Ejercicios

Importar matplotlib y pandas:

In [1]:
import pandas as pd

## Ejercicio 1:

Utilizar pandas para importar los datos del archivo "certificado.csv" en la variable "certificados"

In [2]:
certificados=pd.read_csv("../certificado.csv")
certificados.head()

     nombre   examen_diagnostico  examen_final grupo maestro
0  Alejandra                 7.7           9.0     A   Maria
1    Alberto                 7.3           8.8     B   Pedro
2      César                 7.5           9.1     B   Pedro
3    Gustavo                 7.1           8.6     B   Pedro
4    Ernesto                 7.8           9.2     A   Maria

Usar groupby para crear un DataFrame donde se tenga el promedio del examen diagnostico y examen final por cada grupo, el resultado debe ser el siguiente:

![Resuelto](../Img_24_Ejercicios/Act1Img1.png)

In [3]:
certificados.groupby("grupo").mean()

       examen_diagnostico  examen_final
grupo
A                7.420000      8.800000
B                7.123077      8.592308
C                7.558824      9.023529

![Resuelto](../Img_24_Ejercicios/Act1Img2.png)

![Resuelto](../Img_24_Ejercicios/Act1Img3.png)

__Conclusión:__ todos los grupos presentan una mejora en la calificación al finalizar el curso

## Ejercicio 2:
Crear una columna llamada Progreso en el DataFrame certificados que contenga la diferencia entre el examen final y el examen diagnóstico, por ejemplo, si un alumno tuvo un 8 en el examen final y un 7 en el examen diagnóstico, la columna Progreso tendrá el valor de  1, el resultado debe ser el siguiente:

![Resuelto](../Img_24_Ejercicios/Act2Img1.png)

In [4]:
certificados["Progreso"]=certificados["examen_final"]-certificados["examen_diagnostico"]

In [5]:
certificados.head()

     nombre   examen_diagnostico  examen_final grupo maestro  Progreso
0  Alejandra                 7.7           9.0     A   Maria       1.3
1    Alberto                 7.3           8.8     B   Pedro       1.5
2      César                 7.5           9.1     B   Pedro       1.6
3    Gustavo                 7.1           8.6     B   Pedro       1.5
4    Ernesto                 7.8           9.2     A   Maria       1.4

![Resuelto](../Img_24_Ejercicios/Act2Img2.png)

__Conclusión__: la mayoria de los estudiantes tienen una mejora entre 1 y 2.5 puntos

## Ejercicio 3: 
Utilizar gruopby para obtener el progreso promedio en las calificaciones de los alumnos por cada profesor, por ejemplo, los alumnos del profesor Pedro al inicio tienen un promedio de 7, al terminar el curso aumenta a 9 y su progreso es de 2 puntos, el resultado debe ser el siguiente:

![Resuelto](../Img_24_Ejercicios/Act3Img1.png)

In [6]:
certificados.groupby("maestro").mean()

          examen_diagnostico  examen_final  Progreso
maestro
Gabriela            7.558824      9.023529  1.464706
Maria               7.420000      8.800000  1.380000
Pedro               7.123077      8.592308  1.469231

![Resuelto](../Img_24_Ejercicios/Act3Img2.png)

__Conclusión:__ Los 3 maestros tienen un desempeño similar.

## Ejercicio 4:
Utilizar pandas para importar los datos del archivo "certificado_historico.csv" en la variable "historico"

In [7]:
historico=pd.read_csv("../certificado_historico.csv",index_col="num_control")
historico.head()

,nombre,edad,calificacion,grupo,anio,semestre,certificacion,maestro
num_control,,,,,,,,
A001,Aarón,14,8.9,A,2017,1,NO,Tatiana
A002,Lucía,42,9.3,A,2017,1,NO,Tatiana
A003,Hugo,29,8.7,A,2017,1,NO,Tatiana
A004,Julieta,34,7.9,A,2017,1,NO,Tatiana
A005,Adrían,14,9.1,A,2017,1,NO,Tatiana

Utlizar groupby para crear un DataFrame con la calificación más baja en cada grupo de cada año, el resultado debe ser el siguiente:

![Resuelto](../Img_24_Ejercicios/Act4Img1.png)

In [8]:
historico.groupby(["anio", "grupo"]).agg({"calificacion":"min"})

            calificacion
anio grupo
2017 A               7.0
     B               7.1
     C               7.1
2018 A               7.4
     B               7.2
     C               7.0
2019 A               6.6
     B               7.1
     C               7.0
2020 A               7.1
     B               7.0
     C               7.2

![Resuelto](../Img_24_Ejercicios/Act4Img2.png)

__Conclusión:__ la calificación más baja normalmente se mantiene por encima de 7

## Ejercicio 5:
Utilizar groupby para crear un DataFrame con la cantidad de alumnos a la que ha impartido clases cada maestro, por ejemplo, la profesora Jessica ha dado clases a 80 alumnos, el resultado debe ser el siguiente:

![Resuelto](../Img_24_Ejercicios/Act5Img1.png)

In [9]:
historico.groupby("maestro").agg({"nombre":"count"})

         nombre
maestro
Armando     100
Emily        74
Gaspar       26
Tatiana     100

In [10]:
historico

,nombre,edad,calificacion,grupo,anio,semestre,certificacion,maestro
num_control,,,,,,,,
A001,Aarón,14,8.9,A,2017,1,NO,Tatiana
A002,Lucía,42,9.3,A,2017,1,NO,Tatiana
A003,Hugo,29,8.7,A,2017,1,NO,Tatiana
A004,Julieta,34,7.9,A,2017,1,NO,Tatiana
A005,Adrían,14,9.1,A,2017,1,NO,Tatiana
...,...,...,...,...,...,...,...,...
A296,Brayan,25,9.1,C,2020,2,SI,Gaspar
A297,Deymar,30,9.1,C,2020,2,SI,Gaspar
A298,Rogelio,15,7.9,C,2020,2,NO,Gaspar
A299,Percy,32,7.4,C,2020,2,NO,Gaspar
A300,Claridad,25,7.2,C,2020,2,SI,Gaspar

historico

![Resuelto](../Img_24_Ejercicios/Act5Img2.png)

__Conclusión:__ Tatiana y Armando son los profesores que más alumnos han tenido

## Ejercicio 6:
Utilizar pivot table para crear un DataFrame con la calificación promedio de los estudiantes de cada profesor en cada año, el resultado debe ser el siguiente:

![Resuelto](../Img_24_Ejercicios/Act6Img1.png)

In [11]:
historico.pivot_table(index="anio", values="calificacion", columns="maestro")

maestro  Armando     Emily    Gaspar  Tatiana
anio
2017       8.552  8.368000       NaN    8.416
2018       8.380  8.604000       NaN    8.780
2019       8.728  8.608333  8.369231    8.296
2020       8.496  9.025000  8.184615    8.476

![Resuelto](../Img_24_Ejercicios/Act6Img2.png)

__Conclusión:__ Emily es la maestra que mayor progreso ha tenido

## Ejercicio 7:
Utilizar groupby para crear un DataFrame con la mediana en la calificación de cada grupo en cada año, el resultado debe ser el siguiente:

![Resuelto](../Img_24_Ejercicios/Act7Img1.png)

In [12]:
historico.groupby(["grupo","anio"]).agg({"calificacion":"median"})

            calificacion
grupo anio
A     2017           8.1
      2018           8.7
      2019           8.2
      2020           8.3
B     2017           8.8
      2018           8.2
      2019           8.7
      2020           8.7
C     2017           8.3
      2018           8.6
      2019           8.8
      2020           8.7

__Conclusión:__ la mediana en las calificaciones normalmente es alrededor de 8.5

## Ejercicio 8
Armar un código que devuelva un Dataframe con los datos de los estudiantes que si quieren obtener un certificado, el resultado debe ser el siguiente:

![Resuelto](../Img_24_Ejercicios/Act8Img1.png)

In [13]:
si=historico.loc[historico.certificacion=="SI"]

Armar un código que devuelva un Dataframe con los datos de los estudiantes que no quieren obtener un certificado,el resultado debe ser el siguiente:

![Resuelto](../Img_24_Ejercicios/Act8Img2.png)

In [14]:
no=historico.loc[historico.certificacion=="NO"]
no.head()

,nombre,edad,calificacion,grupo,anio,semestre,certificacion,maestro
num_control,,,,,,,,
A001,Aarón,14,8.9,A,2017,1,NO,Tatiana
A002,Lucía,42,9.3,A,2017,1,NO,Tatiana
A003,Hugo,29,8.7,A,2017,1,NO,Tatiana
A004,Julieta,34,7.9,A,2017,1,NO,Tatiana
A005,Adrían,14,9.1,A,2017,1,NO,Tatiana

![Resuelto](../Img_24_Ejercicios/Act8Img4.png)

__Conclusión:__ La mayoria de los estudiantes que quieren obtener un certificado tienen altas calificaciones

## Ejercicio 9:
Utilizar pivot table crear un DataFrame que contenga la calificación promedio de los estudiantes en cada año, separado por si quieren obtener un certificado o no, el resultado debe ser el siguiente:

![Resuelto](../Img_24_Ejercicios/Act9Img1.png)

In [15]:
certificados_cal=historico.pivot_table(index="anio",values="calificacion", columns="certificacion")

Armar un código que devuelva un DataFrame con la diferencia en cada año respecto a la calificación promedio de los estudiantes que si querian obtener un certificado contra los que no, por ejemplo, si en el 2017 el promedio de los estudiantes que si querían un certificado era 9 y de los que no era 8, la diferencia será 1 para esa fila, el resultado debe ser el siguiente:

![Resuelto](../Img_24_Ejercicios/Act9Img2.png)

In [16]:
certificados_cal["DIFERENCIA"]=certificados_cal["SI"]-certificados_cal["NO"]

In [17]:
certificados_cal.head()

certificacion        NO        SI  DIFERENCIA
anio
2017           8.342857  8.747368    0.404511
2018           8.315556  8.996667    0.681111
2019           8.226190  8.854545    0.628355
2020           8.300000  8.800000    0.500000

![Resuelto](../Img_24_Ejercicios/Act9Img3.png)

__Conclusión:__ los estudiantes que buscan obtener su certificado tienen mayores calificaciones en promedio

## Ejercicio 10:
Armar un código que devuelva un dataframe con las diferencias de las calificaciones de cada alumno con respecto al promedio general, por ejemplo, si Juan sacó 8 y el promedio general es 9, la diferencia será -1, el resultado debe ser el siguiente:

In [18]:
promedio=historico.calificacion.mean()
promedio

8.513999999999998

In [19]:
def diferencia(x):
    return x-promedio
historico["diferencia"]=historico.calificacion.apply(diferencia)

In [20]:
historico

,nombre,edad,calificacion,grupo,anio,semestre,certificacion,maestro,diferencia
num_control,,,,,,,,,
A001,Aarón,14,8.9,A,2017,1,NO,Tatiana,0.386
A002,Lucía,42,9.3,A,2017,1,NO,Tatiana,0.786
A003,Hugo,29,8.7,A,2017,1,NO,Tatiana,0.186
A004,Julieta,34,7.9,A,2017,1,NO,Tatiana,-0.614
A005,Adrían,14,9.1,A,2017,1,NO,Tatiana,0.586
...,...,...,...,...,...,...,...,...,...
A296,Brayan,25,9.1,C,2020,2,SI,Gaspar,0.586
A297,Deymar,30,9.1,C,2020,2,SI,Gaspar,0.586
A298,Rogelio,15,7.9,C,2020,2,NO,Gaspar,-0.614
A299,Percy,32,7.4,C,2020,2,NO,Gaspar,-1.114
A300,Claridad,25,7.2,C,2020,2,SI,Gaspar,-1.314

Nota: se puede hacer como en el ejercicio anterior, pero se hizo diferente para mostrar más opciones a los alumnos

Armar un código que devuelva un Dataframe con los datos de los estudiantes que si quieren obtener un certificado,el resultado debe ser el siguiente:

![Resuelto](../Img_24_Ejercicios/Act10Img2.png)

In [21]:
historico.loc[historico.certificacion=="SI"]

,nombre,edad,calificacion,grupo,anio,semestre,certificacion,maestro,diferencia
num_control,,,,,,,,,
A006,Jacobo,44,9.8,A,2017,1,SI,Tatiana,1.286
A008,Sofía,20,9.0,A,2017,1,SI,Tatiana,0.486
A010,Martina,35,9.5,A,2017,1,SI,Tatiana,0.986
A012,Ricardo,34,9.0,A,2017,1,SI,Tatiana,0.486
A013,Javier,31,9.7,A,2017,2,SI,Tatiana,1.186
...,...,...,...,...,...,...,...,...,...
A293,Edir,23,7.7,C,2020,2,SI,Gaspar,-0.814
A295,Cuauhtemoc,14,7.9,C,2020,2,SI,Gaspar,-0.614
A296,Brayan,25,9.1,C,2020,2,SI,Gaspar,0.586
A297,Deymar,30,9.1,C,2020,2,SI,Gaspar,0.586
A300,Claridad,25,7.2,C,2020,2,SI,Gaspar,-1.314

Armar un código que devuelva un Dataframe con los datos de los estudiantes que no quieren obtener un certificado,el resultado debe ser el siguiente:

![Resuelto](../Img_24_Ejercicios/Act10Img3.png)

In [22]:
historico.loc[historico.certificacion=="NO"]

,nombre,edad,calificacion,grupo,anio,semestre,certificacion,maestro,diferencia
num_control,,,,,,,,,
A001,Aarón,14,8.9,A,2017,1,NO,Tatiana,0.386
A002,Lucía,42,9.3,A,2017,1,NO,Tatiana,0.786
A003,Hugo,29,8.7,A,2017,1,NO,Tatiana,0.186
A004,Julieta,34,7.9,A,2017,1,NO,Tatiana,-0.614
A005,Adrían,14,9.1,A,2017,1,NO,Tatiana,0.586
...,...,...,...,...,...,...,...,...,...
A289,Eddie,34,7.9,C,2020,2,NO,Gaspar,-0.614
A292,Delfino,23,9.1,C,2020,2,NO,Gaspar,0.586
A294,Arnoldo,20,9.0,C,2020,2,NO,Gaspar,0.486
A298,Rogelio,15,7.9,C,2020,2,NO,Gaspar,-0.614
A299,Percy,32,7.4,C,2020,2,NO,Gaspar,-1.114

![Resuelto](../Img_24_Ejercicios/Act10Img6.png)

__Conclusión:__ Los estudiantes que desean obtener un certificado tienden a tener calificaciones mayores al promedio

## Ejercicio 11
Armar un Dataframe con los indices de los alumnos que obtuvieron la calificación más alta en cada grupo en cada año, el resultado debe ser:

![Resuelto](../Img_24_Ejercicios/Act11Img1.png)

In [23]:
altos_indices=historico.groupby(["anio", "grupo"]).agg({"calificacion": "idxmax"})

Utilizar los indices del paso anterior para obtener en un DataFrame los datos de los estudiantes con mejor promedio empleando loc, el resultado debe ser:

![Resuelto](../Img_24_Ejercicios/Act11Img2.png)

In [24]:
altos=historico.loc[altos_indices.calificacion]

![Resuelto](../Img_24_Ejercicios/Act11Img3.png)

__Conclusión:__ en todos los grupos siempre un estudiante tuvo al menos 9.8 de calificación

## Ejercicio 12
Agregar una columna llamada id al DataFrame anterior , formada por la unión de la columna anio y la columna grupo, el resultado debe ser el siguiente:

![Resuelto](../Img_24_Ejercicios/Act12Img1.png)

In [25]:
altos["id"]= altos.anio.map(str) + altos.grupo
altos

,nombre,edad,calificacion,grupo,anio,semestre,certificacion,maestro,diferencia,id
num_control,,,,,,,,,,
A006,Jacobo,44,9.8,A,2017,1,SI,Tatiana,1.286,2017A
A027,Roberto,28,9.8,B,2017,1,NO,Armando,1.286,2017B
A054,Daniel,15,9.8,C,2017,1,NO,Emily,1.286,2017C
A087,Kevin,16,10.0,A,2018,1,SI,Tatiana,1.486,2018A
A124,Isabella,22,9.9,B,2018,2,NO,Armando,1.386,2018B
A127,Paola,12,10.0,C,2018,1,SI,Emily,1.486,2018C
A171,Edson,16,9.9,A,2019,2,SI,Tatiana,1.386,2019A
A178,Matias,31,10.0,B,2019,1,SI,Armando,1.486,2019B
A208,Jaan,30,9.8,C,2019,1,NO,Emily,1.286,2019C
A235,Rodney,38,10.0,A,2020,1,SI,Tatiana,1.486,2020A
A266,Marwin,16,10.0,B,2020,2,NO,Armando,1.486,2020B
A279,Penelope,23,9.9,C,2020,1,SI,Emily,1.386,2020C

__Conclusión:__ en todos los grupos siempre un estudiante tuvo al menos 9.8 de calificación

## Ejercicio 13
Utilizar pandas para importar los datos del archivo "hospital.xlsx" en la variable "hospital"

In [26]:
hospital= pd.read_excel("../hospital.xlsx")

In [27]:
#hospital.head()

Agregar una columna llamada "FechaMes", que contenga el año y el mes de la columna fecha (Ej. 2010-03)

![Resuelto](../Img_24_Ejercicios/Act13Img1.png)

In [28]:
hospital["FechaMes"]=hospital.Fecha.dt.strftime("%Y-%m")
#hospital.head()

Agregar una columna llamada "Año", que contenga el año y el mes de la columna fecha (Ej. 2010)

![Resuelto](../Img_24_Ejercicios/Act13Img2.png)

In [29]:
hospital["Año"]=hospital.Fecha.dt.year
hospital.head()

,Fecha,Nombre,Doctor,Especialidad,Tipo,Honorarios,Calificación,Comisión,FechaMes,Año
0,2018-01-01,Bastian Hurtado Cabrero,Simón Castro Infante,Hematología,Consulta,1025,0.84,0.16,2018-01,2018
1,2018-01-02,Carla Rosas Ávalos,Ismael López Saldaña,Hematología,Consulta,1025,0.83,0.11,2018-01,2018
2,2018-01-03,Natanael Lazcano Aguilar,Félix Llanos Macías,Cardiología,Consulta,1075,0.78,0.12,2018-01,2018
3,2018-01-04,Judith Hinojosa Torres,Ismael López Saldaña,Hematología,Consulta,1075,0.92,0.17,2018-01,2018
4,2018-01-07,Giovanni Rudomín Arias,Paulina Contreras Cuevas,Gastroenterología.,Consulta,1125,0.89,0.12,2018-01,2018

Crear una función utilizando groupby que devuelva un DataFrame con el total de visitas que si hicieron al hospital y el promedio de los honorarios en cada año, el resultado debe ser el siguiente:

![Resuelto](../Img_24_Ejercicios/Act13Img4.png)

In [30]:
ganancias=hospital.groupby("Año").agg({"Honorarios":["mean","count"]})

In [31]:
#ganancias.head()

![Resuelto](../Img_24_Ejercicios/Act13Img5.png)

![Resuelto](../Img_24_Ejercicios/Act13Img6.png)

__Conclusión:__ el costo promedio de los honorarios y el número de visitas no han tenido grandes variaciones.

## Ejercicio 14
Crear una función que devuelva un DataFrame con los registros de las visitas al hospital que fueron con motivo de una consulta médica, el resultado debe ser el siguiente:

![Resuelto](../Img_24_Ejercicios/Act14Img1.png)

In [32]:
consultas= hospital[hospital["Tipo"]=="Consulta"]

In [33]:
#consultas.head()

![Resuelto](../Img_24_Ejercicios/Act14Img2.png)

__Conclusión:__ el costo por una consulta normalmente es de 1000 o 1250 pesos

## Ejercicio 15
Crear una función utilizando groupby que devuelva un DataFrame con el total de visitas al hospital por cada especialidad, el resultado debe ser el siguiente:

![Resuelto](../Img_24_Ejercicios/Act15Img1.png)

In [34]:
especialidad=hospital.groupby("Especialidad").agg({"Doctor":"count"})

In [35]:
#especialidad.head()

![Resuelto](../Img_24_Ejercicios/Act15Img2.png)

__Conclusión:__ la especialidad más demandada es la dermatología

## Ejercicio 16

Agregar una columna llamada "Mes", que contenga el año y el mes de la columna fecha (Ej. 01)

![Resuelto](../Img_24_Ejercicios/Act16Img1.png)

In [36]:
hospital["Mes"]=hospital.Fecha.dt.strftime("%m")
hospital.head()

,Fecha,Nombre,Doctor,Especialidad,Tipo,Honorarios,Calificación,Comisión,FechaMes,Año,Mes
0,2018-01-01,Bastian Hurtado Cabrero,Simón Castro Infante,Hematología,Consulta,1025,0.84,0.16,2018-01,2018,01
1,2018-01-02,Carla Rosas Ávalos,Ismael López Saldaña,Hematología,Consulta,1025,0.83,0.11,2018-01,2018,01
2,2018-01-03,Natanael Lazcano Aguilar,Félix Llanos Macías,Cardiología,Consulta,1075,0.78,0.12,2018-01,2018,01
3,2018-01-04,Judith Hinojosa Torres,Ismael López Saldaña,Hematología,Consulta,1075,0.92,0.17,2018-01,2018,01
4,2018-01-07,Giovanni Rudomín Arias,Paulina Contreras Cuevas,Gastroenterología.,Consulta,1125,0.89,0.12,2018-01,2018,01

Crear una función que devuelva un DataFrame con la información de las visitas al hospital cuyo motivo fue una operación, el resultado debe ser el siguiente:

![Resuelto](../Img_24_Ejercicios/Act16Img2.png)

In [37]:
operaciones= hospital[hospital["Tipo"]=="Operación"]

In [38]:
operaciones.head()

,Fecha,Nombre,Doctor,Especialidad,Tipo,Honorarios,Calificación,Comisión,FechaMes,Año,Mes
3063,2018-01-03,Stephanie Rioja Núñez,Paulina Contreras Cuevas,Gastroenterología.,Operación,15000,0.88,0.07,2018-01,2018,01
3064,2018-01-05,Adán Velasco Pizano,Ismael López Saldaña,Hematología,Operación,25000,0.96,0.06,2018-01,2018,01
3065,2018-01-06,Jesús Posadas Peñalosa,Félix Llanos Macías,Cardiología,Operación,22500,0.82,0.06,2018-01,2018,01
3066,2018-01-19,Álvaro Arroyo Varela,Paulina Contreras Cuevas,Gastroenterología.,Operación,37000,0.99,0.17,2018-01,2018,01
3067,2018-01-20,Lucas Roldán Ondarza,Ismael López Saldaña,Hematología,Operación,12000,0.73,0.10,2018-01,2018,01

Utilizar pivot table para crear una función que devuelva un DataFrame con los honorarios de la operación más barata en cada mes de cada año, el resultado debe ser el siguiente:

![Resuelto](../Img_24_Ejercicios/Act16Img2.png)

In [39]:
operaciones_min =pd.pivot_table(operaciones,
                      index=["Mes"],
                      columns="Año",
                      fill_value=0,
                      values="Honorarios",
                      aggfunc='min')

In [40]:
#operaciones_min.head()

![Resuelto](../Img_24_Ejercicios/Act16Img3.png)

__Conclusión:__ en el año 2021 es donde las operaciones más económicas tienen el costo más alto

## Ejercicio 17
Crear una función que utilizando groupby devuelva un DataFrame con la cantidad de visitas atendidas por cada doctor, el resultado debe ser el siguiente:

![Resuelto](../Img_24_Ejercicios/Act17Img1.png)

In [41]:
doctores=hospital.groupby("Doctor").agg({"Doctor":"count"})

In [42]:
#doctores.head()

![Resuelto](../Img_24_Ejercicios/Act17Img2.png)

## Ejercicio 18
Agregar una columna al DataFrame hospital llamada ingreso, este se obtiene al multiplicar los honorarios de cada visita con el porcentaje de comisión, el resultado debe ser el siguiente:

![Resuelto](../Img_24_Ejercicios/Act18Img1.png)

In [43]:
hospital["Ingreso"]=hospital["Honorarios"]*hospital["Comisión"]

In [44]:
hospital.head()

,Fecha,Nombre,Doctor,Especialidad,Tipo,Honorarios,Calificación,Comisión,FechaMes,Año,Mes,Ingreso
0,2018-01-01,Bastian Hurtado Cabrero,Simón Castro Infante,Hematología,Consulta,1025,0.84,0.16,2018-01,2018,01,164.00
1,2018-01-02,Carla Rosas Ávalos,Ismael López Saldaña,Hematología,Consulta,1025,0.83,0.11,2018-01,2018,01,112.75
2,2018-01-03,Natanael Lazcano Aguilar,Félix Llanos Macías,Cardiología,Consulta,1075,0.78,0.12,2018-01,2018,01,129.00
3,2018-01-04,Judith Hinojosa Torres,Ismael López Saldaña,Hematología,Consulta,1075,0.92,0.17,2018-01,2018,01,182.75
4,2018-01-07,Giovanni Rudomín Arias,Paulina Contreras Cuevas,Gastroenterología.,Consulta,1125,0.89,0.12,2018-01,2018,01,135.00

Crear una función utilizando pivot table que devuelva un DataFrame con la suma de los ingresos en cada año por tipo de visita:

![Resuelto](../Img_24_Ejercicios/Act18Img2.png)

In [45]:
ingresos =pd.pivot_table(hospital,
                      index=["Año"],
                      columns="Tipo",
                      fill_value=0,
                      values="Ingreso",
                      aggfunc='sum')

In [46]:
ingresos.head()

Tipo  Consulta  Examen  Operación
Año
2018   69302.0  121121     468165
2019   68941.5  109276     498010
2020   70183.5  122730     489795
2021   65630.0  100555     466955

![Resuelto](../Img_24_Ejercicios/Act18Img3.png)

__Conclusión:__ El tipo de consulta que más ingresos genera al hospital son las operaciones

## Ejercicio 19
Crear un código utilizando groupby que devuelva un DataFrame con la mediana en los ingresos en cada mes de cada año, el resultado debe ser el siguiente:

![Resuelto](../Img_24_Ejercicios/Act19Img1.png)

In [47]:
mediana=hospital.groupby(["Año","Mes"]).agg({"Ingreso":"median"})

In [48]:
#mediana.head()

![Resuelto](../Img_24_Ejercicios/Act19Img2.png)

__Conclusión:__ La mediana de los ingresos normalmente oscila entre los 150 y 200 pesos

## Ejercicio 20
Crear una función que devuelva un DataFrame con la información de las visitas al hospital cuyo motivo fue una consulta médica, el resultado debe ser el siguiente:

![Resuelto](../Img_24_Ejercicios/Act20Img1.png)

In [49]:
consultas= hospital[hospital["Tipo"]=="Consulta"]

In [50]:
consultas.head()

,Fecha,Nombre,Doctor,Especialidad,Tipo,Honorarios,Calificación,Comisión,FechaMes,Año,Mes,Ingreso
0,2018-01-01,Bastian Hurtado Cabrero,Simón Castro Infante,Hematología,Consulta,1025,0.84,0.16,2018-01,2018,01,164.00
1,2018-01-02,Carla Rosas Ávalos,Ismael López Saldaña,Hematología,Consulta,1025,0.83,0.11,2018-01,2018,01,112.75
2,2018-01-03,Natanael Lazcano Aguilar,Félix Llanos Macías,Cardiología,Consulta,1075,0.78,0.12,2018-01,2018,01,129.00
3,2018-01-04,Judith Hinojosa Torres,Ismael López Saldaña,Hematología,Consulta,1075,0.92,0.17,2018-01,2018,01,182.75
4,2018-01-07,Giovanni Rudomín Arias,Paulina Contreras Cuevas,Gastroenterología.,Consulta,1125,0.89,0.12,2018-01,2018,01,135.00

Crear una función que devuelva un DataFrame con la información de las visitas al hospital cuyo motivo fue un examen médico:

![Resuelto](../Img_24_Ejercicios/Act20Img2.png)

In [51]:
examenes= hospital[hospital["Tipo"]=="Examen"]

In [52]:
examenes.head()

,Fecha,Nombre,Doctor,Especialidad,Tipo,Honorarios,Calificación,Comisión,FechaMes,Año,Mes,Ingreso
1953,2018-01-01,Percy Ramón Funes,Paulina Contreras Cuevas,Gastroenterología.,Examen,1400,0.92,0.07,2018-01,2018,01,98.0
1954,2018-01-02,Pedro Uscanga Núñez,Félix Llanos Macías,Cardiología,Examen,5900,0.71,0.13,2018-01,2018,01,767.0
1955,2018-01-03,Carla Camacho Nieto,Paulina Contreras Cuevas,Gastroenterología.,Examen,5500,0.96,0.07,2018-01,2018,01,385.0
1956,2018-01-04,Rafael Verástegui Shor,Félix Llanos Macías,Cardiología,Examen,3100,0.89,0.11,2018-01,2018,01,341.0
1957,2018-01-04,Aldo Milán Zavaleta,Paulina Contreras Cuevas,Gastroenterología.,Examen,3600,0.74,0.12,2018-01,2018,01,432.0

![Resuelto](../Img_24_Ejercicios/Act20Img4.png)

__Conclusión:__ las consultas médicas son las que menos ingresos reportan al hospital

## Ejercicio 21
Crear una función que devuelva un DataFrame con la información de las visitas médicas que no fueron por una operación, el resultado debe ser el siguiente:

![Resuelto](../Img_24_Ejercicios/Act21Img1.png)

In [53]:
c_y_e =  hospital[hospital["Tipo"]!="Operación"]

In [54]:
c_y_e.head()

,Fecha,Nombre,Doctor,Especialidad,Tipo,Honorarios,Calificación,Comisión,FechaMes,Año,Mes,Ingreso
0,2018-01-01,Bastian Hurtado Cabrero,Simón Castro Infante,Hematología,Consulta,1025,0.84,0.16,2018-01,2018,01,164.00
1,2018-01-02,Carla Rosas Ávalos,Ismael López Saldaña,Hematología,Consulta,1025,0.83,0.11,2018-01,2018,01,112.75
2,2018-01-03,Natanael Lazcano Aguilar,Félix Llanos Macías,Cardiología,Consulta,1075,0.78,0.12,2018-01,2018,01,129.00
3,2018-01-04,Judith Hinojosa Torres,Ismael López Saldaña,Hematología,Consulta,1075,0.92,0.17,2018-01,2018,01,182.75
4,2018-01-07,Giovanni Rudomín Arias,Paulina Contreras Cuevas,Gastroenterología.,Consulta,1125,0.89,0.12,2018-01,2018,01,135.00

Utilizando el DataFrame anterior crear una función que devuelva el ingreso promedio de todas las visitas al hospital cuyo motivo no fue una operación:

In [55]:
ingreso_promedio = c_y_e["Ingreso"].mean()

In [56]:
ingreso_promedio

237.59027097616715

Crear una función que devuelva un DataFrame con la diferencia de los ingresos de cada visita con el promedio general, por ejemplo, si se tuvo 200 pesos de ingresos en una consulta, pero el promedio es 150, la diferencia será 50, el resultado debe ser el siguiente:

![Resuelto](../Img_24_Ejercicios/Act21Img2.png)

In [57]:
c_y_e.loc[:,"Diferencia"]= c_y_e.Ingreso-ingreso_promedio

C:\Users\usuario\AppData\Local\Temp\ipykernel_11884\4254615344.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  c_y_e.loc[:,"Diferencia"]= c_y_e.Ingreso-ingreso_promedio

In [58]:
c_y_e.head()

,Fecha,Nombre,Doctor,Especialidad,Tipo,Honorarios,Calificación,Comisión,FechaMes,Año,Mes,Ingreso,Diferencia
0,2018-01-01,Bastian Hurtado Cabrero,Simón Castro Infante,Hematología,Consulta,1025,0.84,0.16,2018-01,2018,01,164.00,-73.590271
1,2018-01-02,Carla Rosas Ávalos,Ismael López Saldaña,Hematología,Consulta,1025,0.83,0.11,2018-01,2018,01,112.75,-124.840271
2,2018-01-03,Natanael Lazcano Aguilar,Félix Llanos Macías,Cardiología,Consulta,1075,0.78,0.12,2018-01,2018,01,129.00,-108.590271
3,2018-01-04,Judith Hinojosa Torres,Ismael López Saldaña,Hematología,Consulta,1075,0.92,0.17,2018-01,2018,01,182.75,-54.840271
4,2018-01-07,Giovanni Rudomín Arias,Paulina Contreras Cuevas,Gastroenterología.,Consulta,1125,0.89,0.12,2018-01,2018,01,135.00,-102.590271

Crear una función utilizando pivot table que devuelva un DataFrame con la diferencia promedio del ingreso en cada año y en cada tipo de visita, el resultado debe ser el siguiente:

![Resuelto](../Img_24_Ejercicios/Act21Img3.png)

In [59]:
ingresos= pd.pivot_table(c_y_e,
                      index=["Año"],
                      columns="Tipo",
                      fill_value=0,
                      values="Diferencia",
                      aggfunc='mean')

In [60]:
#ingresos.head()

![Resuelto](../Img_24_Ejercicios/Act21Img4.png)

__Conclusión:__ los ingresos promedio de las consultas siempre son menores al promedio general contando examenes

## Ejercicio 22
Utilizando el DataFrame del ejercicio anterior, crear una función que devuelva los datos de las visitas al hospital cuyo motivo fue una consulta médica, el resultado debe ser el siguiente:

![Resuelto](../Img_24_Ejercicios/Act22Img1.png)

In [61]:
consultas= c_y_e[c_y_e["Tipo"]=="Consulta"]

In [62]:
consultas.head()

,Fecha,Nombre,Doctor,Especialidad,Tipo,Honorarios,Calificación,Comisión,FechaMes,Año,Mes,Ingreso,Diferencia
0,2018-01-01,Bastian Hurtado Cabrero,Simón Castro Infante,Hematología,Consulta,1025,0.84,0.16,2018-01,2018,01,164.00,-73.590271
1,2018-01-02,Carla Rosas Ávalos,Ismael López Saldaña,Hematología,Consulta,1025,0.83,0.11,2018-01,2018,01,112.75,-124.840271
2,2018-01-03,Natanael Lazcano Aguilar,Félix Llanos Macías,Cardiología,Consulta,1075,0.78,0.12,2018-01,2018,01,129.00,-108.590271
3,2018-01-04,Judith Hinojosa Torres,Ismael López Saldaña,Hematología,Consulta,1075,0.92,0.17,2018-01,2018,01,182.75,-54.840271
4,2018-01-07,Giovanni Rudomín Arias,Paulina Contreras Cuevas,Gastroenterología.,Consulta,1125,0.89,0.12,2018-01,2018,01,135.00,-102.590271

Utilizando el DataFrame del ejercicio anterior, crear una función que devuelva los datos de las visitas al hospital cuyo motivo fue un examen médico, el resultado debe ser el siguiente:

![Resuelto](../Img_24_Ejercicios/Act22Img2.png)

In [63]:
examenes= c_y_e[c_y_e["Tipo"]=="Examen"]

In [64]:
examenes.head()

,Fecha,Nombre,Doctor,Especialidad,Tipo,Honorarios,Calificación,Comisión,FechaMes,Año,Mes,Ingreso,Diferencia
1953,2018-01-01,Percy Ramón Funes,Paulina Contreras Cuevas,Gastroenterología.,Examen,1400,0.92,0.07,2018-01,2018,01,98.0,-139.590271
1954,2018-01-02,Pedro Uscanga Núñez,Félix Llanos Macías,Cardiología,Examen,5900,0.71,0.13,2018-01,2018,01,767.0,529.409729
1955,2018-01-03,Carla Camacho Nieto,Paulina Contreras Cuevas,Gastroenterología.,Examen,5500,0.96,0.07,2018-01,2018,01,385.0,147.409729
1956,2018-01-04,Rafael Verástegui Shor,Félix Llanos Macías,Cardiología,Examen,3100,0.89,0.11,2018-01,2018,01,341.0,103.409729
1957,2018-01-04,Aldo Milán Zavaleta,Paulina Contreras Cuevas,Gastroenterología.,Examen,3600,0.74,0.12,2018-01,2018,01,432.0,194.409729

![Resuelto](../Img_24_Ejercicios/Act22Img5.png)

__Conclusión:__ la mayoría de las consultas médicas reportan un ingreso menor al promedio general

## Ejercicio 23
Crear una función utilizando groupby que devuelva un DataFrame con los indices de las visitas médicas que más honorarios pagaron en cada año, el resultado debe ser el siguiente:

![Resuelto](../Img_24_Ejercicios/Act23Img1.png)

In [65]:
max_honorario=hospital.groupby(by=["Año"],as_index=False).agg({"Honorarios":"idxmax"})

In [66]:
max_honorario.head()

    Año  Honorarios
0  2018        3088
1  2019        3254
2  2020        3332
3  2021        3554

Crear una función utilizando iloc que nos devuelva los datos de las visitas médicas que pagaron los honorarios más altos en cada año, el resultado debe ser el siguiente:

![Resuelto](../Img_24_Ejercicios/Act23Img2.png)

In [67]:
max_honorario=hospital.iloc[max_honorario["Honorarios"]]

In [68]:
max_honorario.head()

,Fecha,Nombre,Doctor,Especialidad,Tipo,Honorarios,Calificación,Comisión,FechaMes,Año,Mes,Ingreso
3088,2018-03-16,Favio Revuelta Borundo,Isabella Roldán Velásquez,Dermatología,Operación,49000,0.82,0.09,2018-03,2018,03,4410.0
3254,2019-06-11,Mauricio Núñez Biagi,Lucía Flores Muñoz,Dermatología,Operación,50000,0.77,0.07,2019-06,2019,06,3500.0
3332,2020-01-17,Amelia Castañeda Ocampo,Ismael López Saldaña,Hematología,Operación,50000,0.95,0.06,2020-01,2020,01,3000.0
3554,2021-07-16,Alejandra Blanchet Villalobos,Iván Ramos Robles,Nefrología,Operación,50000,0.79,0.10,2021-07,2021,07,5000.0

![Resuelto](../Img_24_Ejercicios/Act23Img3.png)

__Conclusión:__ el honorario más alto en las operaciones normalmente es de 50,000 pesos

## Ejercicio 24:
Utilizando el DataFrame anterior, crear una función que agregue una columna formada por la unión del año y la especialidad del médico, el resultado debe ser el siguiente:

![Resuelto](../Img_24_Ejercicios/Act24Img1.png)

In [69]:
max_honorario.loc[:,"id"]=max_honorario.loc[:,"Año"].map(str)+"-"+max_honorario["Especialidad"]

C:\Users\usuario\AppData\Local\Temp\ipykernel_11884\1648617892.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  max_honorario.loc[:,"id"]=max_honorario.loc[:,"Año"].map(str)+"-"+max_honorario["Especialidad"]

In [70]:
max_honorario.head()

,Fecha,Nombre,Doctor,Especialidad,Tipo,Honorarios,Calificación,Comisión,FechaMes,Año,Mes,Ingreso,id
3088,2018-03-16,Favio Revuelta Borundo,Isabella Roldán Velásquez,Dermatología,Operación,49000,0.82,0.09,2018-03,2018,03,4410.0,2018-Dermatología
3254,2019-06-11,Mauricio Núñez Biagi,Lucía Flores Muñoz,Dermatología,Operación,50000,0.77,0.07,2019-06,2019,06,3500.0,2019-Dermatología
3332,2020-01-17,Amelia Castañeda Ocampo,Ismael López Saldaña,Hematología,Operación,50000,0.95,0.06,2020-01,2020,01,3000.0,2020-Hematología
3554,2021-07-16,Alejandra Blanchet Villalobos,Iván Ramos Robles,Nefrología,Operación,50000,0.79,0.10,2021-07,2021,07,5000.0,2021-Nefrología

![Resuelto](../Img_24_Ejercicios/Act24Img2.png)

__Conclusión:__ la dermatología es la especialidad donde más veces se tuvo el honorario más alto