# Ejercicios

In [19]:
import pandas as pd

__Ejercicio 1:__

Utilizar pandas para importar los datos del archivo "escuela.xlsx" en la variable "alumnos", utilizando el número de control como índice

In [13]:
Alumnos = pd.read_excel("./escuela.xlsx",index_col="Num. Control")

In [14]:
Alumnos

                                   Nombre Id Carrera  Id Modalidad
Num. Control
11368032           Federico Olvera Castro         IQ             1
11981193            Lara Calderón Obrador        EGE             4
12069000            Jamir Vázquez Urrutia        ISC             4
12239391              Eddie Dueñas Piñeda        ISC             4
12343755           Alex Villareal Vadillo        TIC             2
12384890              Silvana Santos Lacy        ISC             4
13060162           Pablo Gabilondo Halabe        ISC             4
13801621          Olivia Maldonado Dueñas         EA             4
14392671            Adrián García Pascual        ISC             3
15453687           Eugene Morales Verdejo        EGE             3
16066694          Benjamin Bacab Quiñonez         AU             3
16314729              Claudia Núñez Ochoa        TIC             1
16905652      Graciela Manzanilla Alcocer        NaN             4
17546838          Sarah Gallegos Carranza        EGE             1
18218094                Paul Saucedo Orea        ISC             1
18439514             Cristina Uribe Vital        ISC             1

__Ejercicio 2:__

Utilizar pandas para importar los datos en la hoja "Carreras" del archivo "escuela.xlsx" en la variable "carreras"

In [15]:
Carreras = pd.read_excel("./escuela.xlsx",sheet_name="Carreras",index_col="Clave")

In [16]:
Carreras

                                            Carrera
Clave
AU                         ARQUITECTURA Y URBANISMO
EGE            ELECTRICIDAD Y GENERACION DE ENERGIA
EA                    ELECTRICIDAD Y AUTOMATIZACION
IQ                               INGENIERIA QUIMICA
ISC          INGENIERIA EN SISTEMAS COMPUTACIONALES
TIC    TECNOLOGIAS DE LA INFORMACION Y COMUNICACIÓN

__Ejercicio 3:__

Utilizar pandas para importar los datos en la hoja "Modalidad" del archivo "escuela.xlsx" en la variable "modalidades"

In [17]:
Modalidades = pd.read_excel("./escuela.xlsx",sheet_name="Modalidad",header=3,index_col="Id")

In [18]:
Modalidades

             Nombre
Id
1          Matutino
2        Vespertino
3          En linea
4   Fines de semana

__Ejercicio 4:__

Utilizar la función join para unir los dataframe alumnos y carreras en base a la columna "Id Carrera"

In [20]:
Alumnos.join(Carreras,on="Id Carrera")

,Nombre,Id Carrera,Id Modalidad,Carrera
Num. Control,,,,
11368032,Federico Olvera Castro,IQ,1,INGENIERIA QUIMICA
11981193,Lara Calderón Obrador,EGE,4,ELECTRICIDAD Y GENERACION DE ENERGIA
12069000,Jamir Vázquez Urrutia,ISC,4,INGENIERIA EN SISTEMAS COMPUTACIONALES
12239391,Eddie Dueñas Piñeda,ISC,4,INGENIERIA EN SISTEMAS COMPUTACIONALES
12343755,Alex Villareal Vadillo,TIC,2,TECNOLOGIAS DE LA INFORMACION Y COMUNICACIÓN
12384890,Silvana Santos Lacy,ISC,4,INGENIERIA EN SISTEMAS COMPUTACIONALES
13060162,Pablo Gabilondo Halabe,ISC,4,INGENIERIA EN SISTEMAS COMPUTACIONALES
13801621,Olivia Maldonado Dueñas,EA,4,ELECTRICIDAD Y AUTOMATIZACION
14392671,Adrián García Pascual,ISC,3,INGENIERIA EN SISTEMAS COMPUTACIONALES
15453687,Eugene Morales Verdejo,EGE,3,ELECTRICIDAD Y GENERACION DE ENERGIA
16066694,Benjamin Bacab Quiñonez,AU,3,ARQUITECTURA Y URBANISMO
16314729,Claudia Núñez Ochoa,TIC,1,TECNOLOGIAS DE LA INFORMACION Y COMUNICACIÓN
16905652,Graciela Manzanilla Alcocer,NaN,4,NaN
17546838,Sarah Gallegos Carranza,EGE,1,ELECTRICIDAD Y GENERACION DE ENERGIA
18218094,Paul Saucedo Orea,ISC,1,INGENIERIA EN SISTEMAS COMPUTACIONALES
18439514,Cristina Uribe Vital,ISC,1,INGENIERIA EN SISTEMAS COMPUTACIONALES

__Ejercicio 5:__

Utilizar la función join para unir los dataframe alumnos y modalidades en base a la columna "Id Modalidad", agregar el sufico "_Alumno" a la columna  del Dataframe alumnos

In [22]:
Alumnos.join(Modalidades,on="Id Modalidad",lsuffix="_Alumno")

,Nombre_Alumno,Id Carrera,Id Modalidad,Nombre
Num. Control,,,,
11368032,Federico Olvera Castro,IQ,1,Matutino
11981193,Lara Calderón Obrador,EGE,4,Fines de semana
12069000,Jamir Vázquez Urrutia,ISC,4,Fines de semana
12239391,Eddie Dueñas Piñeda,ISC,4,Fines de semana
12343755,Alex Villareal Vadillo,TIC,2,Vespertino
12384890,Silvana Santos Lacy,ISC,4,Fines de semana
13060162,Pablo Gabilondo Halabe,ISC,4,Fines de semana
13801621,Olivia Maldonado Dueñas,EA,4,Fines de semana
14392671,Adrián García Pascual,ISC,3,En linea
15453687,Eugene Morales Verdejo,EGE,3,En linea
16066694,Benjamin Bacab Quiñonez,AU,3,En linea
16314729,Claudia Núñez Ochoa,TIC,1,Matutino
16905652,Graciela Manzanilla Alcocer,NaN,4,Fines de semana
17546838,Sarah Gallegos Carranza,EGE,1,Matutino
18218094,Paul Saucedo Orea,ISC,1,Matutino
18439514,Cristina Uribe Vital,ISC,1,Matutino

__Ejercicio 6:__

Ordenar el DataFrame anterior en base a la columna "Id Modalidad"

In [23]:
Alumnos.join(Modalidades,on="Id Modalidad",lsuffix="_Alumno",sort=True)

,Nombre_Alumno,Id Carrera,Id Modalidad,Nombre
Num. Control,,,,
11368032,Federico Olvera Castro,IQ,1,Matutino
16314729,Claudia Núñez Ochoa,TIC,1,Matutino
17546838,Sarah Gallegos Carranza,EGE,1,Matutino
18218094,Paul Saucedo Orea,ISC,1,Matutino
18439514,Cristina Uribe Vital,ISC,1,Matutino
12343755,Alex Villareal Vadillo,TIC,2,Vespertino
14392671,Adrián García Pascual,ISC,3,En linea
15453687,Eugene Morales Verdejo,EGE,3,En linea
16066694,Benjamin Bacab Quiñonez,AU,3,En linea
11981193,Lara Calderón Obrador,EGE,4,Fines de semana
12069000,Jamir Vázquez Urrutia,ISC,4,Fines de semana
12239391,Eddie Dueñas Piñeda,ISC,4,Fines de semana
12384890,Silvana Santos Lacy,ISC,4,Fines de semana
13060162,Pablo Gabilondo Halabe,ISC,4,Fines de semana
13801621,Olivia Maldonado Dueñas,EA,4,Fines de semana
16905652,Graciela Manzanilla Alcocer,NaN,4,Fines de semana

__Ejercicio 7:__

Utilizar la funcion merge para unir los DataFrame "alumnos" y "carreras", para comparar:
- Utilizar la columna "Id Carrera" en el DataFrame "alumnos"
- Utilizar el indice en el DataFrame carreras

In [24]:
Alumnos

                                   Nombre Id Carrera  Id Modalidad
Num. Control
11368032           Federico Olvera Castro         IQ             1
11981193            Lara Calderón Obrador        EGE             4
12069000            Jamir Vázquez Urrutia        ISC             4
12239391              Eddie Dueñas Piñeda        ISC             4
12343755           Alex Villareal Vadillo        TIC             2
12384890              Silvana Santos Lacy        ISC             4
13060162           Pablo Gabilondo Halabe        ISC             4
13801621          Olivia Maldonado Dueñas         EA             4
14392671            Adrián García Pascual        ISC             3
15453687           Eugene Morales Verdejo        EGE             3
16066694          Benjamin Bacab Quiñonez         AU             3
16314729              Claudia Núñez Ochoa        TIC             1
16905652      Graciela Manzanilla Alcocer        NaN             4
17546838          Sarah Gallegos Carranza        EGE             1
18218094                Paul Saucedo Orea        ISC             1
18439514             Cristina Uribe Vital        ISC             1

In [25]:
Carreras

                                            Carrera
Clave
AU                         ARQUITECTURA Y URBANISMO
EGE            ELECTRICIDAD Y GENERACION DE ENERGIA
EA                    ELECTRICIDAD Y AUTOMATIZACION
IQ                               INGENIERIA QUIMICA
ISC          INGENIERIA EN SISTEMAS COMPUTACIONALES
TIC    TECNOLOGIAS DE LA INFORMACION Y COMUNICACIÓN

In [26]:
pd.merge(Alumnos,Carreras,left_on="Id Carrera",right_on="Clave")

,Nombre,Id Carrera,Id Modalidad,Carrera
0,Federico Olvera Castro,IQ,1,INGENIERIA QUIMICA
1,Lara Calderón Obrador,EGE,4,ELECTRICIDAD Y GENERACION DE ENERGIA
2,Jamir Vázquez Urrutia,ISC,4,INGENIERIA EN SISTEMAS COMPUTACIONALES
3,Eddie Dueñas Piñeda,ISC,4,INGENIERIA EN SISTEMAS COMPUTACIONALES
4,Alex Villareal Vadillo,TIC,2,TECNOLOGIAS DE LA INFORMACION Y COMUNICACIÓN
5,Silvana Santos Lacy,ISC,4,INGENIERIA EN SISTEMAS COMPUTACIONALES
6,Pablo Gabilondo Halabe,ISC,4,INGENIERIA EN SISTEMAS COMPUTACIONALES
7,Olivia Maldonado Dueñas,EA,4,ELECTRICIDAD Y AUTOMATIZACION
8,Adrián García Pascual,ISC,3,INGENIERIA EN SISTEMAS COMPUTACIONALES
9,Eugene Morales Verdejo,EGE,3,ELECTRICIDAD Y GENERACION DE ENERGIA
10,Benjamin Bacab Quiñonez,AU,3,ARQUITECTURA Y URBANISMO
11,Claudia Núñez Ochoa,TIC,1,TECNOLOGIAS DE LA INFORMACION Y COMUNICACIÓN
12,Sarah Gallegos Carranza,EGE,1,ELECTRICIDAD Y GENERACION DE ENERGIA
13,Paul Saucedo Orea,ISC,1,INGENIERIA EN SISTEMAS COMPUTACIONALES
14,Cristina Uribe Vital,ISC,1,INGENIERIA EN SISTEMAS COMPUTACIONALES

__Ejercicio 8:__

Utilizar la funcion merge para unir los DataFrame "modalidades" y "alumnos", para comparar:
- Utilizar el indice en el DataFrame "modalidades"
- Utilizar la columna "Id Modalidad" en el DataFrame "alumnos"

__Ejercicio 9:__

Modificar el DataFrame anterior:
- Agregar el sufijo "_Modalidad" a la columna "Nombre" del Dataframe modalidades
- Agregar el sufijo "_Alumno" a la columna "Nombre" del DataFrame alumnos

__Ejercicio 10:__

Utilizar la funcion merge para unir los DataFrame carreras y alumnos, para comparar:
   - Utilizar la columna "Clave" en el DataFrame carreras
   - Utilizar la columna "Id Carrera" en el DaraFrame alumnos

__Ejercicio 11:__

Utilizar la funcion merge para unir los DataFrame "carreras" y "alumnos", para comparar:
- Utilizar la columna "Clave" en el DataFrame "carreras"
- Utilizar la columna "Id Carrera" en el DaraFrame "alumnos"
- Utilizar una unión derecha

__Ejercicio 12:__

Indicar la tabla de origen de cada fila en el DataFrame anterior

__Ejercicio 13:__

Utilizar pandas para importar los datos en la hoja "Maestros" del archivo "escuela.xlsx" en la variable "maestros"

__Ejercicio 14:__

Utilizar pandas para importar los datos en la hoja "Materias" del archivo "escuela.xlsx" en la variable "materias"

__Ejercicio 15:__

Utilizar pandas para importar los datos en la hoja "Materias" del archivo "escuela.xlsx" en la variable "materias"

__Ejercicio 16:__

Utilizar la función join para unir los dataframe cursos y maestros en base a la columna "Id Carrera"

__Ejercicio 17:__

__Ejercicio 18:__

__Ejercicio 19:__

Utilizar la funcion merge para unir los DataFrame maestros y cursos, para comparar:
- Utilizar el indice en el DataFrame "maestros"
- Utilizar la columna "Id Maestro" en el DataFrame "cursos"

__Ejercicio 20:__

Utilizar la funcion merge para unir los DataFrame maestros y cursos, para comparar:
- Utilizar el indice en el DataFrame "maestros"
- Utilizar la columna "Id Maestro" en el DataFrame "cursos"
- Utilizar una union izquierda

__Ejercicio 21:__

Utilizar la funcion merge para unir los DataFrame cursos y materias, para comparar:
- Utilizar la columna "Id Materia" en el DataFrame "cursos"
- Utilizar el indice en el DataFrame "materias"

__Ejercicio 22:__

Utilizar la funcion merge para unir los DataFrame cursos y materias, para comparar:
- Utilizar la columna "Id Materia" en el DataFrame "cursos"
- Utilizar el indice en el DataFrame "materias"
- Utilizar una union derecha

__Ejercicio 23:__

Utilizar la funcion merge para unir los DataFrame cursos y materias, para comparar:
- Utilizar la columna "Id Materia" en el DataFrame "cursos"
- Utilizar el indice en el DataFrame "materias"
- Utilizar una union exterior

__Ejercicio 24:__

Utilizar la funcion merge para unir los DataFrame cursos y materias, para comparar:
- Utilizar la columna "Id Materia" en el DataFrame "cursos"
- Utilizar el indice en el DataFrame "materias"
- Utilizar una union exterior
- Indicar la tabla de origen de cada fila