# Ejercicios

In [1]:
import pandas as pd

__Ejercicio 1:__

Utilizar pandas para importar los datos del archivo "escuela.xlsx" en la variable "alumnos", utilizando el número de control como índice

In [2]:
Alumnos = pd.read_excel("./escuela.xlsx",index_col="Num. Control")

In [3]:
Alumnos

                                   Nombre Id Carrera  Id Modalidad
Num. Control
11368032           Federico Olvera Castro         IQ             1
11981193            Lara Calderón Obrador        EGE             4
12069000            Jamir Vázquez Urrutia        ISC             4
12239391              Eddie Dueñas Piñeda        ISC             4
12343755           Alex Villareal Vadillo        TIC             2
12384890              Silvana Santos Lacy        ISC             4
13060162           Pablo Gabilondo Halabe        ISC             4
13801621          Olivia Maldonado Dueñas         EA             4
14392671            Adrián García Pascual        ISC             3
15453687           Eugene Morales Verdejo        EGE             3
16066694          Benjamin Bacab Quiñonez         AU             3
16314729              Claudia Núñez Ochoa        TIC             1
16905652      Graciela Manzanilla Alcocer        NaN             4
17546838          Sarah Gallegos Carranza        EGE             1
18218094                Paul Saucedo Orea        ISC             1
18439514             Cristina Uribe Vital        ISC             1

__Ejercicio 2:__

Utilizar pandas para importar los datos en la hoja "Carreras" del archivo "escuela.xlsx" en la variable "carreras"

In [4]:
Carreras = pd.read_excel("./escuela.xlsx",sheet_name="Carreras",index_col="Clave")

In [5]:
Carreras

                                            Carrera
Clave
AU                         ARQUITECTURA Y URBANISMO
EGE            ELECTRICIDAD Y GENERACION DE ENERGIA
EA                    ELECTRICIDAD Y AUTOMATIZACION
IQ                               INGENIERIA QUIMICA
ISC          INGENIERIA EN SISTEMAS COMPUTACIONALES
TIC    TECNOLOGIAS DE LA INFORMACION Y COMUNICACIÓN

__Ejercicio 3:__

Utilizar pandas para importar los datos en la hoja "Modalidad" del archivo "escuela.xlsx" en la variable "modalidades"

In [6]:
Modalidades = pd.read_excel("./escuela.xlsx",sheet_name="Modalidad",header=3,index_col="Id")

In [7]:
Modalidades

             Nombre
Id
1          Matutino
2        Vespertino
3          En linea
4   Fines de semana

__Ejercicio 4:__

Utilizar la función join para unir los dataframe alumnos y carreras en base a la columna "Id Carrera"

In [8]:
Alumnos.join(Carreras,on="Id Carrera")

,Nombre,Id Carrera,Id Modalidad,Carrera
Num. Control,,,,
11368032,Federico Olvera Castro,IQ,1,INGENIERIA QUIMICA
11981193,Lara Calderón Obrador,EGE,4,ELECTRICIDAD Y GENERACION DE ENERGIA
12069000,Jamir Vázquez Urrutia,ISC,4,INGENIERIA EN SISTEMAS COMPUTACIONALES
12239391,Eddie Dueñas Piñeda,ISC,4,INGENIERIA EN SISTEMAS COMPUTACIONALES
12343755,Alex Villareal Vadillo,TIC,2,TECNOLOGIAS DE LA INFORMACION Y COMUNICACIÓN
12384890,Silvana Santos Lacy,ISC,4,INGENIERIA EN SISTEMAS COMPUTACIONALES
13060162,Pablo Gabilondo Halabe,ISC,4,INGENIERIA EN SISTEMAS COMPUTACIONALES
13801621,Olivia Maldonado Dueñas,EA,4,ELECTRICIDAD Y AUTOMATIZACION
14392671,Adrián García Pascual,ISC,3,INGENIERIA EN SISTEMAS COMPUTACIONALES
15453687,Eugene Morales Verdejo,EGE,3,ELECTRICIDAD Y GENERACION DE ENERGIA
16066694,Benjamin Bacab Quiñonez,AU,3,ARQUITECTURA Y URBANISMO
16314729,Claudia Núñez Ochoa,TIC,1,TECNOLOGIAS DE LA INFORMACION Y COMUNICACIÓN
16905652,Graciela Manzanilla Alcocer,NaN,4,NaN
17546838,Sarah Gallegos Carranza,EGE,1,ELECTRICIDAD Y GENERACION DE ENERGIA
18218094,Paul Saucedo Orea,ISC,1,INGENIERIA EN SISTEMAS COMPUTACIONALES
18439514,Cristina Uribe Vital,ISC,1,INGENIERIA EN SISTEMAS COMPUTACIONALES

__Ejercicio 5:__

Utilizar la función join para unir los dataframe alumnos y modalidades en base a la columna "Id Modalidad", agregar el sufico "_Alumno" a la columna  del Dataframe alumnos

In [9]:
Alumnos.join(Modalidades,on="Id Modalidad",lsuffix="_Alumno")

,Nombre_Alumno,Id Carrera,Id Modalidad,Nombre
Num. Control,,,,
11368032,Federico Olvera Castro,IQ,1,Matutino
11981193,Lara Calderón Obrador,EGE,4,Fines de semana
12069000,Jamir Vázquez Urrutia,ISC,4,Fines de semana
12239391,Eddie Dueñas Piñeda,ISC,4,Fines de semana
12343755,Alex Villareal Vadillo,TIC,2,Vespertino
12384890,Silvana Santos Lacy,ISC,4,Fines de semana
13060162,Pablo Gabilondo Halabe,ISC,4,Fines de semana
13801621,Olivia Maldonado Dueñas,EA,4,Fines de semana
14392671,Adrián García Pascual,ISC,3,En linea
15453687,Eugene Morales Verdejo,EGE,3,En linea
16066694,Benjamin Bacab Quiñonez,AU,3,En linea
16314729,Claudia Núñez Ochoa,TIC,1,Matutino
16905652,Graciela Manzanilla Alcocer,NaN,4,Fines de semana
17546838,Sarah Gallegos Carranza,EGE,1,Matutino
18218094,Paul Saucedo Orea,ISC,1,Matutino
18439514,Cristina Uribe Vital,ISC,1,Matutino

__Ejercicio 6:__

Ordenar el DataFrame anterior en base a la columna "Id Modalidad"

In [10]:
Alumnos.join(Modalidades,on="Id Modalidad",lsuffix="_Alumno",sort=True)

,Nombre_Alumno,Id Carrera,Id Modalidad,Nombre
Num. Control,,,,
11368032,Federico Olvera Castro,IQ,1,Matutino
16314729,Claudia Núñez Ochoa,TIC,1,Matutino
17546838,Sarah Gallegos Carranza,EGE,1,Matutino
18218094,Paul Saucedo Orea,ISC,1,Matutino
18439514,Cristina Uribe Vital,ISC,1,Matutino
12343755,Alex Villareal Vadillo,TIC,2,Vespertino
14392671,Adrián García Pascual,ISC,3,En linea
15453687,Eugene Morales Verdejo,EGE,3,En linea
16066694,Benjamin Bacab Quiñonez,AU,3,En linea
11981193,Lara Calderón Obrador,EGE,4,Fines de semana
12069000,Jamir Vázquez Urrutia,ISC,4,Fines de semana
12239391,Eddie Dueñas Piñeda,ISC,4,Fines de semana
12384890,Silvana Santos Lacy,ISC,4,Fines de semana
13060162,Pablo Gabilondo Halabe,ISC,4,Fines de semana
13801621,Olivia Maldonado Dueñas,EA,4,Fines de semana
16905652,Graciela Manzanilla Alcocer,NaN,4,Fines de semana

__Ejercicio 7:__

Utilizar la funcion merge para unir los DataFrame "alumnos" y "carreras", para comparar:
- Utilizar la columna "Id Carrera" en el DataFrame "alumnos"
- Utilizar el indice en el DataFrame carreras

In [11]:
Alumnos

                                   Nombre Id Carrera  Id Modalidad
Num. Control
11368032           Federico Olvera Castro         IQ             1
11981193            Lara Calderón Obrador        EGE             4
12069000            Jamir Vázquez Urrutia        ISC             4
12239391              Eddie Dueñas Piñeda        ISC             4
12343755           Alex Villareal Vadillo        TIC             2
12384890              Silvana Santos Lacy        ISC             4
13060162           Pablo Gabilondo Halabe        ISC             4
13801621          Olivia Maldonado Dueñas         EA             4
14392671            Adrián García Pascual        ISC             3
15453687           Eugene Morales Verdejo        EGE             3
16066694          Benjamin Bacab Quiñonez         AU             3
16314729              Claudia Núñez Ochoa        TIC             1
16905652      Graciela Manzanilla Alcocer        NaN             4
17546838          Sarah Gallegos Carranza        EGE             1
18218094                Paul Saucedo Orea        ISC             1
18439514             Cristina Uribe Vital        ISC             1

In [12]:
Carreras

                                            Carrera
Clave
AU                         ARQUITECTURA Y URBANISMO
EGE            ELECTRICIDAD Y GENERACION DE ENERGIA
EA                    ELECTRICIDAD Y AUTOMATIZACION
IQ                               INGENIERIA QUIMICA
ISC          INGENIERIA EN SISTEMAS COMPUTACIONALES
TIC    TECNOLOGIAS DE LA INFORMACION Y COMUNICACIÓN

In [13]:
pd.merge(Alumnos,Carreras,left_on="Id Carrera",right_on="Clave")

,Nombre,Id Carrera,Id Modalidad,Carrera
0,Federico Olvera Castro,IQ,1,INGENIERIA QUIMICA
1,Lara Calderón Obrador,EGE,4,ELECTRICIDAD Y GENERACION DE ENERGIA
2,Jamir Vázquez Urrutia,ISC,4,INGENIERIA EN SISTEMAS COMPUTACIONALES
3,Eddie Dueñas Piñeda,ISC,4,INGENIERIA EN SISTEMAS COMPUTACIONALES
4,Alex Villareal Vadillo,TIC,2,TECNOLOGIAS DE LA INFORMACION Y COMUNICACIÓN
5,Silvana Santos Lacy,ISC,4,INGENIERIA EN SISTEMAS COMPUTACIONALES
6,Pablo Gabilondo Halabe,ISC,4,INGENIERIA EN SISTEMAS COMPUTACIONALES
7,Olivia Maldonado Dueñas,EA,4,ELECTRICIDAD Y AUTOMATIZACION
8,Adrián García Pascual,ISC,3,INGENIERIA EN SISTEMAS COMPUTACIONALES
9,Eugene Morales Verdejo,EGE,3,ELECTRICIDAD Y GENERACION DE ENERGIA
10,Benjamin Bacab Quiñonez,AU,3,ARQUITECTURA Y URBANISMO
11,Claudia Núñez Ochoa,TIC,1,TECNOLOGIAS DE LA INFORMACION Y COMUNICACIÓN
12,Sarah Gallegos Carranza,EGE,1,ELECTRICIDAD Y GENERACION DE ENERGIA
13,Paul Saucedo Orea,ISC,1,INGENIERIA EN SISTEMAS COMPUTACIONALES
14,Cristina Uribe Vital,ISC,1,INGENIERIA EN SISTEMAS COMPUTACIONALES

__Ejercicio 8:__

Utilizar la funcion merge para unir los DataFrame "modalidades" y "alumnos", para comparar:
- Utilizar el indice en el DataFrame "modalidades"
- Utilizar la columna "Id Modalidad" en el DataFrame "alumnos"

In [22]:
pd.merge(Modalidades,Alumnos,left_index=True,right_on="Id Modalidad")

,Nombre_x,Nombre_y,Id Carrera,Id Modalidad
Num. Control,,,,
11368032,Matutino,Federico Olvera Castro,IQ,1
16314729,Matutino,Claudia Núñez Ochoa,TIC,1
17546838,Matutino,Sarah Gallegos Carranza,EGE,1
18218094,Matutino,Paul Saucedo Orea,ISC,1
18439514,Matutino,Cristina Uribe Vital,ISC,1
12343755,Vespertino,Alex Villareal Vadillo,TIC,2
14392671,En linea,Adrián García Pascual,ISC,3
15453687,En linea,Eugene Morales Verdejo,EGE,3
16066694,En linea,Benjamin Bacab Quiñonez,AU,3
11981193,Fines de semana,Lara Calderón Obrador,EGE,4
12069000,Fines de semana,Jamir Vázquez Urrutia,ISC,4
12239391,Fines de semana,Eddie Dueñas Piñeda,ISC,4
12384890,Fines de semana,Silvana Santos Lacy,ISC,4
13060162,Fines de semana,Pablo Gabilondo Halabe,ISC,4
13801621,Fines de semana,Olivia Maldonado Dueñas,EA,4
16905652,Fines de semana,Graciela Manzanilla Alcocer,NaN,4

In [14]:
Modalidades

             Nombre
Id
1          Matutino
2        Vespertino
3          En linea
4   Fines de semana

In [15]:
Alumnos

                                   Nombre Id Carrera  Id Modalidad
Num. Control
11368032           Federico Olvera Castro         IQ             1
11981193            Lara Calderón Obrador        EGE             4
12069000            Jamir Vázquez Urrutia        ISC             4
12239391              Eddie Dueñas Piñeda        ISC             4
12343755           Alex Villareal Vadillo        TIC             2
12384890              Silvana Santos Lacy        ISC             4
13060162           Pablo Gabilondo Halabe        ISC             4
13801621          Olivia Maldonado Dueñas         EA             4
14392671            Adrián García Pascual        ISC             3
15453687           Eugene Morales Verdejo        EGE             3
16066694          Benjamin Bacab Quiñonez         AU             3
16314729              Claudia Núñez Ochoa        TIC             1
16905652      Graciela Manzanilla Alcocer        NaN             4
17546838          Sarah Gallegos Carranza        EGE             1
18218094                Paul Saucedo Orea        ISC             1
18439514             Cristina Uribe Vital        ISC             1

__Ejercicio 9:__

Modificar el DataFrame anterior:
- Agregar el sufijo "_Modalidad" a la columna "Nombre" del Dataframe modalidades
- Agregar el sufijo "_Alumno" a la columna "Nombre" del DataFrame alumnos

In [23]:
pd.merge(Modalidades,Alumnos,left_index=True,right_on="Id Modalidad",suffixes=("_Modalidad","_Alumno"))

,Nombre_Modalidad,Nombre_Alumno,Id Carrera,Id Modalidad
Num. Control,,,,
11368032,Matutino,Federico Olvera Castro,IQ,1
16314729,Matutino,Claudia Núñez Ochoa,TIC,1
17546838,Matutino,Sarah Gallegos Carranza,EGE,1
18218094,Matutino,Paul Saucedo Orea,ISC,1
18439514,Matutino,Cristina Uribe Vital,ISC,1
12343755,Vespertino,Alex Villareal Vadillo,TIC,2
14392671,En linea,Adrián García Pascual,ISC,3
15453687,En linea,Eugene Morales Verdejo,EGE,3
16066694,En linea,Benjamin Bacab Quiñonez,AU,3
11981193,Fines de semana,Lara Calderón Obrador,EGE,4
12069000,Fines de semana,Jamir Vázquez Urrutia,ISC,4
12239391,Fines de semana,Eddie Dueñas Piñeda,ISC,4
12384890,Fines de semana,Silvana Santos Lacy,ISC,4
13060162,Fines de semana,Pablo Gabilondo Halabe,ISC,4
13801621,Fines de semana,Olivia Maldonado Dueñas,EA,4
16905652,Fines de semana,Graciela Manzanilla Alcocer,NaN,4

__Ejercicio 10:__

Utilizar la funcion merge para unir los DataFrame carreras y alumnos, para comparar:
   - Utilizar la columna "Clave" en el DataFrame carreras
   - Utilizar la columna "Id Carrera" en el DaraFrame alumnos

In [19]:
pd.merge(Carreras,Alumnos,left_on="Clave", right_on="Id Carrera")

,Carrera,Nombre,Id Carrera,Id Modalidad
0,ARQUITECTURA Y URBANISMO,Benjamin Bacab Quiñonez,AU,3
1,ELECTRICIDAD Y GENERACION DE ENERGIA,Lara Calderón Obrador,EGE,4
2,ELECTRICIDAD Y GENERACION DE ENERGIA,Eugene Morales Verdejo,EGE,3
3,ELECTRICIDAD Y GENERACION DE ENERGIA,Sarah Gallegos Carranza,EGE,1
4,ELECTRICIDAD Y AUTOMATIZACION,Olivia Maldonado Dueñas,EA,4
5,INGENIERIA QUIMICA,Federico Olvera Castro,IQ,1
6,INGENIERIA EN SISTEMAS COMPUTACIONALES,Jamir Vázquez Urrutia,ISC,4
7,INGENIERIA EN SISTEMAS COMPUTACIONALES,Eddie Dueñas Piñeda,ISC,4
8,INGENIERIA EN SISTEMAS COMPUTACIONALES,Silvana Santos Lacy,ISC,4
9,INGENIERIA EN SISTEMAS COMPUTACIONALES,Pablo Gabilondo Halabe,ISC,4
10,INGENIERIA EN SISTEMAS COMPUTACIONALES,Adrián García Pascual,ISC,3
11,INGENIERIA EN SISTEMAS COMPUTACIONALES,Paul Saucedo Orea,ISC,1
12,INGENIERIA EN SISTEMAS COMPUTACIONALES,Cristina Uribe Vital,ISC,1
13,TECNOLOGIAS DE LA INFORMACION Y COMUNICACIÓN,Alex Villareal Vadillo,TIC,2
14,TECNOLOGIAS DE LA INFORMACION Y COMUNICACIÓN,Claudia Núñez Ochoa,TIC,1

__Ejercicio 11:__

Utilizar la funcion merge para unir los DataFrame "carreras" y "alumnos", para comparar:
- Utilizar la columna "Clave" en el DataFrame "carreras"
- Utilizar la columna "Id Carrera" en el DaraFrame "alumnos"
- Utilizar una unión derecha

In [24]:
pd.merge(Carreras,Alumnos,left_on="Clave",right_on="Id Carrera",how="right")

,Carrera,Nombre,Id Carrera,Id Modalidad
0,INGENIERIA QUIMICA,Federico Olvera Castro,IQ,1
1,ELECTRICIDAD Y GENERACION DE ENERGIA,Lara Calderón Obrador,EGE,4
2,INGENIERIA EN SISTEMAS COMPUTACIONALES,Jamir Vázquez Urrutia,ISC,4
3,INGENIERIA EN SISTEMAS COMPUTACIONALES,Eddie Dueñas Piñeda,ISC,4
4,TECNOLOGIAS DE LA INFORMACION Y COMUNICACIÓN,Alex Villareal Vadillo,TIC,2
5,INGENIERIA EN SISTEMAS COMPUTACIONALES,Silvana Santos Lacy,ISC,4
6,INGENIERIA EN SISTEMAS COMPUTACIONALES,Pablo Gabilondo Halabe,ISC,4
7,ELECTRICIDAD Y AUTOMATIZACION,Olivia Maldonado Dueñas,EA,4
8,INGENIERIA EN SISTEMAS COMPUTACIONALES,Adrián García Pascual,ISC,3
9,ELECTRICIDAD Y GENERACION DE ENERGIA,Eugene Morales Verdejo,EGE,3
10,ARQUITECTURA Y URBANISMO,Benjamin Bacab Quiñonez,AU,3
11,TECNOLOGIAS DE LA INFORMACION Y COMUNICACIÓN,Claudia Núñez Ochoa,TIC,1
12,NaN,Graciela Manzanilla Alcocer,NaN,4
13,ELECTRICIDAD Y GENERACION DE ENERGIA,Sarah Gallegos Carranza,EGE,1
14,INGENIERIA EN SISTEMAS COMPUTACIONALES,Paul Saucedo Orea,ISC,1
15,INGENIERIA EN SISTEMAS COMPUTACIONALES,Cristina Uribe Vital,ISC,1

__Ejercicio 12:__

Indicar la tabla de origen de cada fila en el DataFrame anterior

In [25]:
pd.merge(Carreras,Alumnos,left_on="Clave",right_on="Id Carrera",how="right",indicator=True)

,Carrera,Nombre,Id Carrera,Id Modalidad,_merge
0,INGENIERIA QUIMICA,Federico Olvera Castro,IQ,1,both
1,ELECTRICIDAD Y GENERACION DE ENERGIA,Lara Calderón Obrador,EGE,4,both
2,INGENIERIA EN SISTEMAS COMPUTACIONALES,Jamir Vázquez Urrutia,ISC,4,both
3,INGENIERIA EN SISTEMAS COMPUTACIONALES,Eddie Dueñas Piñeda,ISC,4,both
4,TECNOLOGIAS DE LA INFORMACION Y COMUNICACIÓN,Alex Villareal Vadillo,TIC,2,both
5,INGENIERIA EN SISTEMAS COMPUTACIONALES,Silvana Santos Lacy,ISC,4,both
6,INGENIERIA EN SISTEMAS COMPUTACIONALES,Pablo Gabilondo Halabe,ISC,4,both
7,ELECTRICIDAD Y AUTOMATIZACION,Olivia Maldonado Dueñas,EA,4,both
8,INGENIERIA EN SISTEMAS COMPUTACIONALES,Adrián García Pascual,ISC,3,both
9,ELECTRICIDAD Y GENERACION DE ENERGIA,Eugene Morales Verdejo,EGE,3,both
10,ARQUITECTURA Y URBANISMO,Benjamin Bacab Quiñonez,AU,3,both
11,TECNOLOGIAS DE LA INFORMACION Y COMUNICACIÓN,Claudia Núñez Ochoa,TIC,1,both
12,NaN,Graciela Manzanilla Alcocer,NaN,4,right_only
13,ELECTRICIDAD Y GENERACION DE ENERGIA,Sarah Gallegos Carranza,EGE,1,both
14,INGENIERIA EN SISTEMAS COMPUTACIONALES,Paul Saucedo Orea,ISC,1,both
15,INGENIERIA EN SISTEMAS COMPUTACIONALES,Cristina Uribe Vital,ISC,1,both

__Ejercicio 13:__

Utilizar pandas para importar los datos en la hoja "Maestros" del archivo "escuela.xlsx" en la variable "maestros"

In [26]:
Maestros = pd.read_excel("./escuela.xlsx",sheet_name="Maestros",index_col="Cedula")

In [27]:
Maestros

                            Nombre                        Carrera
Cedula
80105663        Rodrigo Cruz Valle  Ing. Sistemas Computacionales
76790564  Yessica Campos Gonzáles            Ing. Electromecanica
21463540      Javier Uribe Castaño                 Ing. Electrica
50440541   Alfonso Navarro Barrera                Ing. Industrial

__Ejercicio 14:__

Utilizar pandas para importar los datos en la hoja "Materias" del archivo "escuela.xlsx" en la variable "materias"

In [28]:
Materias = pd.read_excel("./escuela.xlsx",sheet_name="Materias",header=2,index_col="Id Materia")

In [29]:
Materias

                                     Materia
Id Materia
116                  Administración de Redes
229                 Taller de Bases de Datos
239                    Sistemas Programables
397                    Redes de Computadoras
434                      Cálculo Diferencial
526         Programación Orientada a Objetos
685                        Métodos Numéricos
923                    Sistemas Operativos I

__Ejercicio 15:__

Utilizar pandas para importar los datos en la hoja "Materias" del archivo "escuela.xlsx" en la variable "materias"

In [30]:
Cursos = pd.read_excel("./escuela.xlsx",sheet_name="Curso",header=2,usecols="C:G",index_col="Id")

In [31]:
Cursos

    Id Maestro  Id Materia  Anio Salon
Id
1     80105663       239.0  2020     A3
2     80105663       685.0  2020     A4
3     80105663       229.0  2020     A5
4     76790564       397.0  2020     B1
5     76790564         NaN  2021     B2
6     80105663       116.0  2021     C1
7     21463540       526.0  2021     C5

__Ejercicio 16:__

Utilizar la función join para unir los dataframe cursos y maestros en base a la columna "Id Carrera"

In [32]:
Cursos.join(Maestros,on="Id Maestro")

,Id Maestro,Id Materia,Anio,Salon,Nombre,Carrera
Id,,,,,,
1,80105663,239.0,2020,A3,Rodrigo Cruz Valle,Ing. Sistemas Computacionales
2,80105663,685.0,2020,A4,Rodrigo Cruz Valle,Ing. Sistemas Computacionales
3,80105663,229.0,2020,A5,Rodrigo Cruz Valle,Ing. Sistemas Computacionales
4,76790564,397.0,2020,B1,Yessica Campos Gonzáles,Ing. Electromecanica
5,76790564,NaN,2021,B2,Yessica Campos Gonzáles,Ing. Electromecanica
6,80105663,116.0,2021,C1,Rodrigo Cruz Valle,Ing. Sistemas Computacionales
7,21463540,526.0,2021,C5,Javier Uribe Castaño,Ing. Electrica

__Ejercicio 17:__

__Ejercicio 18:__

__Ejercicio 19:__

Utilizar la funcion merge para unir los DataFrame maestros y cursos, para comparar:
- Utilizar el indice en el DataFrame "maestros"
- Utilizar la columna "Id Maestro" en el DataFrame "cursos"

In [33]:
pd.merge(Maestros,Cursos,left_index=True,right_on="Id Maestro")

,Nombre,Carrera,Id Maestro,Id Materia,Anio,Salon
Id,,,,,,
1,Rodrigo Cruz Valle,Ing. Sistemas Computacionales,80105663,239.0,2020,A3
2,Rodrigo Cruz Valle,Ing. Sistemas Computacionales,80105663,685.0,2020,A4
3,Rodrigo Cruz Valle,Ing. Sistemas Computacionales,80105663,229.0,2020,A5
6,Rodrigo Cruz Valle,Ing. Sistemas Computacionales,80105663,116.0,2021,C1
4,Yessica Campos Gonzáles,Ing. Electromecanica,76790564,397.0,2020,B1
5,Yessica Campos Gonzáles,Ing. Electromecanica,76790564,NaN,2021,B2
7,Javier Uribe Castaño,Ing. Electrica,21463540,526.0,2021,C5

__Ejercicio 20:__

Utilizar la funcion merge para unir los DataFrame maestros y cursos, para comparar:
- Utilizar el indice en el DataFrame "maestros"
- Utilizar la columna "Id Maestro" en el DataFrame "cursos"
- Utilizar una union izquierda

In [34]:
pd.merge(Maestros,Cursos,left_index=True,right_on="Id Maestro",how="left")

,Nombre,Carrera,Id Maestro,Id Materia,Anio,Salon
1.0,Rodrigo Cruz Valle,Ing. Sistemas Computacionales,80105663,239.0,2020.0,A3
2.0,Rodrigo Cruz Valle,Ing. Sistemas Computacionales,80105663,685.0,2020.0,A4
3.0,Rodrigo Cruz Valle,Ing. Sistemas Computacionales,80105663,229.0,2020.0,A5
6.0,Rodrigo Cruz Valle,Ing. Sistemas Computacionales,80105663,116.0,2021.0,C1
4.0,Yessica Campos Gonzáles,Ing. Electromecanica,76790564,397.0,2020.0,B1
5.0,Yessica Campos Gonzáles,Ing. Electromecanica,76790564,NaN,2021.0,B2
7.0,Javier Uribe Castaño,Ing. Electrica,21463540,526.0,2021.0,C5
NaN,Alfonso Navarro Barrera,Ing. Industrial,50440541,NaN,NaN,NaN

__Ejercicio 21:__

Utilizar la funcion merge para unir los DataFrame cursos y materias, para comparar:
- Utilizar la columna "Id Materia" en el DataFrame "cursos"
- Utilizar el indice en el DataFrame "materias"

In [35]:
pd.merge(Cursos,Materias,left_on="Id Materia",right_index=True)

    Id Maestro  Id Materia  Anio Salon                            Materia
Id
1     80105663       239.0  2020     A3             Sistemas Programables
2     80105663       685.0  2020     A4                 Métodos Numéricos
3     80105663       229.0  2020     A5          Taller de Bases de Datos
4     76790564       397.0  2020     B1             Redes de Computadoras
6     80105663       116.0  2021     C1           Administración de Redes
7     21463540       526.0  2021     C5  Programación Orientada a Objetos

__Ejercicio 22:__

Utilizar la funcion merge para unir los DataFrame cursos y materias, para comparar:
- Utilizar la columna "Id Materia" en el DataFrame "cursos"
- Utilizar el indice en el DataFrame "materias"
- Utilizar una union derecha

In [36]:
pd.merge(Cursos,Materias,left_on="Id Materia",right_index=True,how="left")

    Id Maestro  Id Materia  Anio Salon                            Materia
Id
1     80105663       239.0  2020     A3             Sistemas Programables
2     80105663       685.0  2020     A4                 Métodos Numéricos
3     80105663       229.0  2020     A5          Taller de Bases de Datos
4     76790564       397.0  2020     B1             Redes de Computadoras
5     76790564         NaN  2021     B2                               NaN
6     80105663       116.0  2021     C1           Administración de Redes
7     21463540       526.0  2021     C5  Programación Orientada a Objetos

__Ejercicio 23:__

Utilizar la funcion merge para unir los DataFrame cursos y materias, para comparar:
- Utilizar la columna "Id Materia" en el DataFrame "cursos"
- Utilizar el indice en el DataFrame "materias"
- Utilizar una union exterior

In [37]:
pd.merge(Cursos,Materias,left_on="Id Materia",right_index=True,how="outer")

     Id Maestro  Id Materia    Anio Salon                            Materia
6.0  80105663.0       116.0  2021.0     C1           Administración de Redes
3.0  80105663.0       229.0  2020.0     A5          Taller de Bases de Datos
1.0  80105663.0       239.0  2020.0     A3             Sistemas Programables
4.0  76790564.0       397.0  2020.0     B1             Redes de Computadoras
NaN         NaN       434.0     NaN    NaN               Cálculo Diferencial
7.0  21463540.0       526.0  2021.0     C5  Programación Orientada a Objetos
2.0  80105663.0       685.0  2020.0     A4                 Métodos Numéricos
NaN         NaN       923.0     NaN    NaN             Sistemas Operativos I
5.0  76790564.0         NaN  2021.0     B2                               NaN

__Ejercicio 24:__

Utilizar la funcion merge para unir los DataFrame cursos y materias, para comparar:
- Utilizar la columna "Id Materia" en el DataFrame "cursos"
- Utilizar el indice en el DataFrame "materias"
- Utilizar una union exterior
- Indicar la tabla de origen de cada fila

In [38]:
pd.merge(Cursos,Materias,left_on="Id Materia",right_index=True,how="outer",indicator=True)

,Id Maestro,Id Materia,Anio,Salon,Materia,_merge
6.0,80105663.0,116.0,2021.0,C1,Administración de Redes,both
3.0,80105663.0,229.0,2020.0,A5,Taller de Bases de Datos,both
1.0,80105663.0,239.0,2020.0,A3,Sistemas Programables,both
4.0,76790564.0,397.0,2020.0,B1,Redes de Computadoras,both
NaN,NaN,434.0,NaN,NaN,Cálculo Diferencial,right_only
7.0,21463540.0,526.0,2021.0,C5,Programación Orientada a Objetos,both
2.0,80105663.0,685.0,2020.0,A4,Métodos Numéricos,both
NaN,NaN,923.0,NaN,NaN,Sistemas Operativos I,right_only
5.0,76790564.0,NaN,2021.0,B2,NaN,left_only