# Ejercicios con fechas Pandas

In [1]:
import pandas as pd

__Ejercicio 1:__ Obtener la fecha de hoy con Timestamp.now:

In [2]:
hoy=pd.Timestamp.now()
hoy

Timestamp('2022-11-14 11:13:07.192229')

__Ejercicio 2:__ Crear una variable llamada "hoy" con la fecha actual:

In [3]:
hoy=pd.Timestamp(2022,3,6,12,0,25,3650)
hoy

Timestamp('2022-03-06 12:00:25.003650')

__Ejercicio 3:__ Obtener el año, mes y día de la fecha de hoy utilizando la variable anterior:

In [4]:
hoy.day

6

In [5]:
hoy.month

3

In [6]:
hoy.year

2022

__Ejercicio 4:__ Obtener el mes en español

In [7]:
meses_esp = {1: 'Enero', 
             2: 'Febrero',
             3: 'Marzo',
             4: 'Abril',
             5: 'Mayo',
             6: 'Junio',
             7: 'Julio',
             8: 'Agosto',
             9: 'Septiembre',
             10: 'Octubre',
             11: 'Noviembre',
             12: 'Diciembre'}

In [8]:
def calcular(x):
    return meses_esp[x]

In [9]:
calcular(hoy.month)

'Marzo'

__Ejercicio 5__ Nombrar todos los días de la siguiente semana utilizando pandas date_range:

In [10]:
inicio=hoy
pd.date_range(inicio, periods=7)

DatetimeIndex(['2022-03-06 12:00:25.003650', '2022-03-07 12:00:25.003650',
               '2022-03-08 12:00:25.003650', '2022-03-09 12:00:25.003650',
               '2022-03-10 12:00:25.003650', '2022-03-11 12:00:25.003650',
               '2022-03-12 12:00:25.003650'],
              dtype='datetime64[ns]', freq='D')

__Ejercicio 6:__ Crear un dataframe de fechas con una diferencia de 5 días entre cada elemento

In [11]:
pd.date_range(inicio, periods=4, freq="5D" )

DatetimeIndex(['2022-03-06 12:00:25.003650', '2022-03-11 12:00:25.003650',
               '2022-03-16 12:00:25.003650', '2022-03-21 12:00:25.003650'],
              dtype='datetime64[ns]', freq='5D')

__Ejercicio 7:__ Sumar 2 días y 9 semanas a la fecha de hoy:

In [12]:
hoy + pd.Timedelta(weeks=9, days=2)

Timestamp('2022-05-10 12:00:25.003650')

__Ejercicio 8:__ Obtener el día de la semana en letras (en inglés) del día de hoy

In [13]:
hoy.day_name()

'Sunday'

__Ejercicio 9:__

Utilizar datetime.strftime para obtener la fecha en un formato personalizado (Ej. "Fecha: 10/02/15")

In [14]:
hoy.strftime("%d/%m/%y")

'06/03/22'

In [15]:
hoy

Timestamp('2022-03-06 12:00:25.003650')

__Ejercicio 10__:

Importar el archivo fecha.xlsx

In [16]:
fechas=pd.read_excel("../fecha.xlsx", index_col="Fecha")

In [17]:
fechas.head()

Empty DataFrame
Columns: []
Index: [2020-10-22 00:00:00, 2020-10-23 00:00:00, 2020-10-24 00:00:00, 2020-10-25 00:00:00, 2020-10-26 00:00:00]

Agregar al dataframe una columna con el día, otra con el mes y finalmente una con el año de cada fecha:

In [18]:
fechas["dia"]=fechas.index.day
fechas["mes"]=fechas.index.month
fechas["año"]=fechas.index.year
fechas

            dia  mes   año
Fecha
2020-10-22   22   10  2020
2020-10-23   23   10  2020
2020-10-24   24   10  2020
2020-10-25   25   10  2020
2020-10-26   26   10  2020
2020-10-27   27   10  2020
2020-10-28   28   10  2020
2020-10-29   29   10  2020
2020-10-30   30   10  2020
2020-10-31   31   10  2020
2020-11-01    1   11  2020
2020-11-02    2   11  2020
2020-11-03    3   11  2020
2020-11-04    4   11  2020

__Ejercicio 11:__ Obtener el año y el mes en una sola columna utilizando el indice del DataFrame anterior

In [19]:
fechas["año/mes"]=fechas.index.strftime("%Y/%m")
fechas

            dia  mes   año  año/mes
Fecha
2020-10-22   22   10  2020  2020/10
2020-10-23   23   10  2020  2020/10
2020-10-24   24   10  2020  2020/10
2020-10-25   25   10  2020  2020/10
2020-10-26   26   10  2020  2020/10
2020-10-27   27   10  2020  2020/10
2020-10-28   28   10  2020  2020/10
2020-10-29   29   10  2020  2020/10
2020-10-30   30   10  2020  2020/10
2020-10-31   31   10  2020  2020/10
2020-11-01    1   11  2020  2020/11
2020-11-02    2   11  2020  2020/11
2020-11-03    3   11  2020  2020/11
2020-11-04    4   11  2020  2020/11

__Ejercicio 12:__ Obtener el día de la semana (en inglés) de las fechas en el DataFrame anterior

In [20]:
fechas["nombre del día"]=fechas.index.day_name()
fechas

            dia  mes   año  año/mes nombre del día
Fecha
2020-10-22   22   10  2020  2020/10       Thursday
2020-10-23   23   10  2020  2020/10         Friday
2020-10-24   24   10  2020  2020/10       Saturday
2020-10-25   25   10  2020  2020/10         Sunday
2020-10-26   26   10  2020  2020/10         Monday
2020-10-27   27   10  2020  2020/10        Tuesday
2020-10-28   28   10  2020  2020/10      Wednesday
2020-10-29   29   10  2020  2020/10       Thursday
2020-10-30   30   10  2020  2020/10         Friday
2020-10-31   31   10  2020  2020/10       Saturday
2020-11-01    1   11  2020  2020/11         Sunday
2020-11-02    2   11  2020  2020/11         Monday
2020-11-03    3   11  2020  2020/11        Tuesday
2020-11-04    4   11  2020  2020/11      Wednesday

__Ejercicio 13:__

Importar los datos del archivo "columna.xlsx"

In [21]:
columna= pd.read_excel("../columna.xlsx")

In [22]:
#columna.head()

Obtener el año y el mes en una sola columna utilizando el indice del DataFrame anterior

In [23]:
columna["FechaMes2"]= columna["Fecha"].dt.strftime("%Y-%m")

__Ejercicio 14__:

Importar la información del archivo "datos.xlsx"

In [24]:
datos= pd.read_excel("../datos.xlsx")
#datos

Crear una columna llamada fecha, que sea la unión del año, mes y día del dataframe anterior:

In [25]:
datos["fecha"]=pd.to_datetime(datos[["year", "month", "day"]])
#datos["fecha"]=pd.to_datetime(datos) Podemos no especificar las columnas, pero solo funciona si
#la base de datos contiene unicamente las columnas a utilizar

#datos

In [26]:
#fecha.head()

__Ejercicio 15:__ Crear una variable con la funcion pd.Timestamp que contenga la fecha "15-05-2022"

In [27]:
fecha = pd.Timestamp(2022, 5,15 )

In [28]:
#fecha

__Ejericio 16:__ Obtener el año, día y mes de la fecha anterior

In [29]:
fecha.year
fecha.month
fecha.day

15

__Ejericio 17:__ Obtener el nombre del mes en español utilizando la fecha anterior (Ej. "Enero"):

In [30]:
mes = { 1: 'Enero',
        2: 'Febrero',
        3: 'Marzo',
        4: 'Abril',
        5: 'Mayo',
        6: 'Junio',
        7: 'Julio', 
        8: 'Agosto',
        9: 'Septiembre',
        10: 'Octubre',
        11: 'Noviembre',
        12: 'Diciembre',
      }

In [31]:
def mes_del_año(x):
    return mes[x]

In [32]:
mes_del_año(fecha.month)

'Mayo'

__Ejercicio 18:__ Obtener una lista con todas las fechas entre "2022-8-13" y "2022-8-24" con pd.date_range

In [33]:
inicio = pd.Timestamp("2022-08-13")
fin = pd.Timestamp("2022-08-24")
pd.date_range(inicio,fin)

DatetimeIndex(['2022-08-13', '2022-08-14', '2022-08-15', '2022-08-16',
               '2022-08-17', '2022-08-18', '2022-08-19', '2022-08-20',
               '2022-08-21', '2022-08-22', '2022-08-23', '2022-08-24'],
              dtype='datetime64[ns]', freq='D')

__Ejercicio 19:__ Obtener una lista con 6 fechas empezando el día "2022-09-15" utilizando pd.date_range, cada fecha debe ser 5 días siguientes a la anterior

In [34]:
inicio = pd.Timestamp("2022-09-15")
pd.date_range(inicio, freq="5D", periods=6)

DatetimeIndex(['2022-09-15', '2022-09-20', '2022-09-25', '2022-09-30',
               '2022-10-05', '2022-10-10'],
              dtype='datetime64[ns]', freq='5D')

__Ejercicio 20:__ Sumar 4 días y 2 semanas a la fecha "2022-12-22"

In [35]:
inicio = pd.Timestamp("2022-12-22")
inicio + pd.Timedelta(days=4,weeks=2)

Timestamp('2023-01-09 00:00:00')

__Ejercicio 21:__ Obtener la el día de la semana en la fecha "2023-02-28" (Ej. Thursday)

In [36]:
fecha=pd.Timestamp("2023-02-28")
fecha.strftime("%A")

'Tuesday'

__Ejercicio 22:__ Utilizar strftime para obtener el nombre del mes (Ej. January) y el dia en la fecha "2020/03/22":

In [37]:
fecha=pd.Timestamp("2020-03-22")

In [38]:
fecha.strftime("%B %d ")

'March 22 '

__Ejercicio 23:__

Importar el archivo "Ejercicio 23.xlsx", utilizando la columna Fecha como indice:

In [39]:
fechas= pd.read_excel("../Ejercicio 23.xlsx",index_col="Fecha")

Utilizando el DataFrame anterior, crear una columna que contenga el mes de cada fecha:

In [40]:
fechas["Mes"]= fechas.index.month

In [41]:
#fechas

__Ejercicio 24:__ Utilizando el DataFrame anterior, crear una columna únicamente con el año y día de cada fecha (Ej. 2020-13)

In [42]:
fechas["FechaDia"]= fechas.index.strftime("%Y-%d")

In [43]:
fechas

            Mes FechaDia
Fecha
2020-01-22    1  2020-22
2020-01-23    1  2020-23
2020-01-24    1  2020-24
2020-01-25    1  2020-25
2020-01-26    1  2020-26
2020-01-27    1  2020-27
2020-01-28    1  2020-28
2020-01-29    1  2020-29
2020-01-30    1  2020-30
2020-01-31    1  2020-31
2020-02-01    2  2020-01
2020-02-02    2  2020-02