# Python: Fechas

Importar pandas y datetime:

In [2]:
import pandas as pd
import datetime as dt

## Crear fechas

__Ejercicio 1:__  Obtener la fecha de hoy con Timestamp.now()

In [2]:
hoy = pd.Timestamp.now()
hoy

Timestamp('2025-09-22 16:13:09.481734')

__Ejercicio 2:__ Obtener la fecha mínima y máxima en pandas Timestamp:

In [3]:
pd.Timestamp.max

Timestamp('2262-04-11 23:47:16.854775807')

In [4]:
pd.Timestamp.min

Timestamp('1677-09-21 00:12:43.145224193')

__Ejercicio 3:__ Crear una variable con la fecha "2022-15-06" utilizando pd.Timestamp

In [5]:
fecha = pd.Timestamp(2022,6,15, 12,0,0)

In [6]:
fecha

Timestamp('2022-06-15 12:00:00')

__Ejercicio 4:__ Sumar 5 días y 2 semanas a la fecha anterior:

In [7]:
fecha + pd.Timedelta(weeks=2,days=5)

Timestamp('2022-07-04 12:00:00')

__Ejercicio 5__: Crear una lista de fechas con los días entre "2020/6/13" y "2020/6/16" utilizando date_range

In [8]:
incio = pd.Timestamp(2020,6,13)
final = pd.Timestamp(2020,6,16)

In [10]:
pd.date_range(incio,final)

DatetimeIndex(['2020-06-13', '2020-06-14', '2020-06-15', '2020-06-16'], dtype='datetime64[ns]', freq='D')

__Ejercicio 6:__ Crear una lista con los 5 días siguientes a la fecha "2020-6-13"

In [11]:
pd.date_range(incio,periods=5)

DatetimeIndex(['2020-06-13', '2020-06-14', '2020-06-15', '2020-06-16',
               '2020-06-17'],
              dtype='datetime64[ns]', freq='D')

__Ejercicio 7:__ Crear una lista con 4 fechas utilizando date_range, a partir del día "2020-6-13", con una frecuencia de 3 días (Ej. "2020-6-13","2020-6-16","2020-6-19",...)

In [14]:
pd.date_range(incio,periods=4,freq="3D")

DatetimeIndex(['2020-06-13', '2020-06-16', '2020-06-19', '2020-06-22'], dtype='datetime64[ns]', freq='3D')

## Inspeccionar fechas

__Ejercicio 8:__

Guardar en una variable llamada "hoy" la fecha actual:

In [2]:
today = pd.Timestamp.now()
today

Timestamp('2025-09-23 15:41:30.108895')

Utilizando la variable hoy calcular el día, el mes y el año:

In [3]:
today.day

23

In [4]:
today.month

9

In [5]:
today.year

2025

In [6]:
today.hour

15

__Ejercicio 9:__

Utilizando la variable hoy obtener el día de la semana(Ej. Si es lunes el resultado será 0):

In [7]:
today.day_of_week

1

In [8]:
today.day_name()

'Tuesday'

Traducir el día de la semana al español (Ej. Martes):

In [9]:
dia_esp = {0: 'Lunes', 
           1: 'Martes',
           2: 'Miercoles',
           3: 'Jueves',
           4: 'Viernes',
           5: 'Sabado',
           6: 'Domingo'}

In [11]:
def diadelasemana(x):
    return dia_esp[x]


diadelasemana(today.day_of_week)

'Martes'

__Ejercicio 10:__ Utilizar strftime para obtener la fecha de hoy en el formato "dd/mm/yy" (Ej. 15/01/98):

In [13]:
today.strftime("%d/%m/%Y")

'23/09/2025'

__Ejercicio 11:__ Obtener la hora de la variable hoy en el formato "hh AM/PM" (Ej. 11 AM):

In [14]:
today.strftime("%H %p")

'15 PM'

## Crear fechas 2

__Ejercicio 12:__ Crear una fecha utilizando pd.to_datetime con el formato "mm/dd/yyyy"

In [15]:
fecha = pd.to_datetime("12/30/2024", format="%m/%d/%Y")
fecha

Timestamp('2024-12-30 00:00:00')

__Ejercicio 13:__ Crear una fecha utilizando pd.to_Datetime con el formato "dd/mm/yyyy"

In [16]:
fecha_EUR = pd.to_datetime("14/06/2022",format="%d/%m/%Y")
fecha_EUR

Timestamp('2022-06-14 00:00:00')

## Trabajar fechas en series

__Ejercicio 14:__

Crear una serie llamada "fechas" en base a la siguiente lista

In [17]:
lista=["2021-12-31","2022-01-01","2022-01-02"]

In [18]:
fechas = pd.to_datetime(lista)

In [19]:
fechas

DatetimeIndex(['2021-12-31', '2022-01-01', '2022-01-02'], dtype='datetime64[ns]', freq=None)

Obtener el día, mes y año de la serie

In [20]:
fechas.day

Index([31, 1, 2], dtype='int32')

In [21]:
fechas.month

Index([12, 1, 1], dtype='int32')

In [22]:
fechas.year

Index([2021, 2022, 2022], dtype='int32')

__Ejercicio 15:__

Sumar 5 dias y dos semanas a cada fecha de la serie anterior

In [23]:
fechas + pd.Timedelta(weeks=2,days=5)

DatetimeIndex(['2022-01-19', '2022-01-20', '2022-01-21'], dtype='datetime64[ns]', freq=None)

__Ejercicio 16:__

Utilizar strftime para convertir todas las fechas en la variable "fechas" al formato estadounidense (mm/dd/yy)

In [24]:
fechas.strftime("%m/%d/%y")

Index(['12/31/21', '01/01/22', '01/02/22'], dtype='object')

## Trabajar fechas en DataFrames

__Ejercicio 17:__

Importar los datos del archivo "Fechas.xlsx", utilizar la columna Fecha como indice

In [7]:
Dates = pd.read_excel("./fecha.xlsx")

In [8]:
Dates

        Fecha
0  2020-10-22
1  2020-10-23
2  2020-10-24
3  2020-10-25
4  2020-10-26
5  2020-10-27
6  2020-10-28
7  2020-10-29
8  2020-10-30
9  2020-10-31
10 2020-11-01
11 2020-11-02
12 2020-11-03
13 2020-11-04

Agregar una columna al DataFrame anterior con el año en cada fecha:

In [13]:
Dates["Año"] = Dates.Fecha.dt.year

Dates

        Fecha   Año
0  2020-10-22  2020
1  2020-10-23  2020
2  2020-10-24  2020
3  2020-10-25  2020
4  2020-10-26  2020
5  2020-10-27  2020
6  2020-10-28  2020
7  2020-10-29  2020
8  2020-10-30  2020
9  2020-10-31  2020
10 2020-11-01  2020
11 2020-11-02  2020
12 2020-11-03  2020
13 2020-11-04  2020

__Ejercicio 18:__ Crear una columa que obtenga el mes y el día en la fecha (Ej. 10/15)

In [14]:
Dates["Mes/Dia"] = Dates.Fecha.dt.strftime("%m/%d")

In [15]:
Dates

        Fecha   Año Mes/Dia
0  2020-10-22  2020   10/22
1  2020-10-23  2020   10/23
2  2020-10-24  2020   10/24
3  2020-10-25  2020   10/25
4  2020-10-26  2020   10/26
5  2020-10-27  2020   10/27
6  2020-10-28  2020   10/28
7  2020-10-29  2020   10/29
8  2020-10-30  2020   10/30
9  2020-10-31  2020   10/31
10 2020-11-01  2020   11/01
11 2020-11-02  2020   11/02
12 2020-11-03  2020   11/03
13 2020-11-04  2020   11/04

__Ejercicio 19:__

Importar los datos del archivo "Fechas.xlsx", no utilizar una columna como indice

In [21]:
df_date = pd.read_excel("./fecha.xlsx")

In [22]:
df_date

        Fecha
0  2020-10-22
1  2020-10-23
2  2020-10-24
3  2020-10-25
4  2020-10-26
5  2020-10-27
6  2020-10-28
7  2020-10-29
8  2020-10-30
9  2020-10-31
10 2020-11-01
11 2020-11-02
12 2020-11-03
13 2020-11-04

Crear una columa que obtenga el mes y el dia en la fecha (Ej. 10/15)

In [23]:
df_date["mes/dia"] = df_date.Fecha.dt.strftime("%m/%d")

In [24]:
df_date

        Fecha mes/dia
0  2020-10-22   10/22
1  2020-10-23   10/23
2  2020-10-24   10/24
3  2020-10-25   10/25
4  2020-10-26   10/26
5  2020-10-27   10/27
6  2020-10-28   10/28
7  2020-10-29   10/29
8  2020-10-30   10/30
9  2020-10-31   10/31
10 2020-11-01   11/01
11 2020-11-02   11/02
12 2020-11-03   11/03
13 2020-11-04   11/04

__Ejercicio 20:__

Crear una columa que obtenga el mes, dia y año  en la fecha (Ej. 10/15/2030)

In [26]:
df_date["mes/dia/año"] = df_date.Fecha.dt.strftime("%m/%d/%Y")

In [27]:
df_date

        Fecha mes/dia mes/dia/año
0  2020-10-22   10/22  10/22/2020
1  2020-10-23   10/23  10/23/2020
2  2020-10-24   10/24  10/24/2020
3  2020-10-25   10/25  10/25/2020
4  2020-10-26   10/26  10/26/2020
5  2020-10-27   10/27  10/27/2020
6  2020-10-28   10/28  10/28/2020
7  2020-10-29   10/29  10/29/2020
8  2020-10-30   10/30  10/30/2020
9  2020-10-31   10/31  10/31/2020
10 2020-11-01   11/01  11/01/2020
11 2020-11-02   11/02  11/02/2020
12 2020-11-03   11/03  11/03/2020
13 2020-11-04   11/04  11/04/2020