# Ejercicios con fechas Pandas

In [1]:
import pandas as pd
import datetime as dt

__Ejercicio 1:__ Obtener la fecha de hoy con Timestamp.now:

In [3]:
hoy = pd.Timestamp.now()

hoy

Timestamp('2025-09-24 15:20:12.645892')

__Ejercicio 2:__ Crear una variable llamada "hoy" con la fecha actual:

In [4]:
hoy

Timestamp('2025-09-24 15:20:12.645892')

__Ejercicio 3:__ Obtener el año, mes y día de la fecha de hoy utilizando la variable anterior:

In [5]:
hoy.year

2025

In [6]:
hoy.month

9

In [9]:
hoy.month_name()

'September'

In [7]:
hoy.day

24

__Ejercicio 4:__ Obtener el mes en español

In [8]:
meses_esp = {1: 'Enero', 
             2: 'Febrero',
             3: 'Marzo',
             4: 'Abril',
             5: 'Mayo',
             6: 'Junio',
             7: 'Julio',
             8: 'Agosto',
             9: 'Septiembre',
             10: 'Octubre',
             11: 'Noviembre',
             12: 'Diciembre'}

In [10]:
def meses(x):
    return meses_esp[x]

In [11]:
meses(hoy.month)

'Septiembre'

__Ejercicio 5__ Nombrar todos los días de la siguiente semana utilizando pandas date_range:

In [14]:
inicio = pd.Timestamp(2025,9,28)
final = pd.Timestamp(2025,10,4)


pd.date_range(inicio,final)

DatetimeIndex(['2025-09-28', '2025-09-29', '2025-09-30', '2025-10-01',
               '2025-10-02', '2025-10-03', '2025-10-04'],
              dtype='datetime64[ns]', freq='D')

__Ejercicio 6:__ Crear un dataframe de fechas con una diferencia de 5 días entre cada elemento

In [16]:
pd.date_range(inicio, periods= 6 , freq="5D")

DatetimeIndex(['2025-09-28', '2025-10-03', '2025-10-08', '2025-10-13',
               '2025-10-18', '2025-10-23'],
              dtype='datetime64[ns]', freq='5D')

__Ejercicio 7:__ Sumar 2 días y 9 semanas a la fecha de hoy:

In [17]:
hoy + pd.Timedelta(weeks=9,days=2)

Timestamp('2025-11-28 15:20:12.645892')

__Ejercicio 8:__ Obtener el día de la semana en letras (en inglés) del día de hoy

In [18]:
hoy.day_name()

'Wednesday'

__Ejercicio 9:__

Utilizar datetime.strftime para obtener la fecha en un formato personalizado (Ej. "Fecha: 10/02/15")

In [19]:
hoy.strftime("%y/%m/%d")

'25/09/24'

__Ejercicio 10__:

Importar el archivo fecha.xlsx

In [20]:
fecha = pd.read_excel("./fecha.xlsx")

In [21]:
fecha

        Fecha
0  2020-10-22
1  2020-10-23
2  2020-10-24
3  2020-10-25
4  2020-10-26
5  2020-10-27
6  2020-10-28
7  2020-10-29
8  2020-10-30
9  2020-10-31
10 2020-11-01
11 2020-11-02
12 2020-11-03
13 2020-11-04

Agregar al dataframe una columna con el día, otra con el mes y finalmente una con el año de cada fecha:

In [24]:
fecha["Dia"] = fecha.Fecha.dt.day
fecha

        Fecha  Dia
0  2020-10-22   22
1  2020-10-23   23
2  2020-10-24   24
3  2020-10-25   25
4  2020-10-26   26
5  2020-10-27   27
6  2020-10-28   28
7  2020-10-29   29
8  2020-10-30   30
9  2020-10-31   31
10 2020-11-01    1
11 2020-11-02    2
12 2020-11-03    3
13 2020-11-04    4

In [25]:
fecha["Mes"] = fecha.Fecha.dt.month
fecha

        Fecha  Dia  Mes
0  2020-10-22   22   10
1  2020-10-23   23   10
2  2020-10-24   24   10
3  2020-10-25   25   10
4  2020-10-26   26   10
5  2020-10-27   27   10
6  2020-10-28   28   10
7  2020-10-29   29   10
8  2020-10-30   30   10
9  2020-10-31   31   10
10 2020-11-01    1   11
11 2020-11-02    2   11
12 2020-11-03    3   11
13 2020-11-04    4   11

In [26]:
fecha["Año"] = fecha.Fecha.dt.year
fecha

        Fecha  Dia  Mes   Año
0  2020-10-22   22   10  2020
1  2020-10-23   23   10  2020
2  2020-10-24   24   10  2020
3  2020-10-25   25   10  2020
4  2020-10-26   26   10  2020
5  2020-10-27   27   10  2020
6  2020-10-28   28   10  2020
7  2020-10-29   29   10  2020
8  2020-10-30   30   10  2020
9  2020-10-31   31   10  2020
10 2020-11-01    1   11  2020
11 2020-11-02    2   11  2020
12 2020-11-03    3   11  2020
13 2020-11-04    4   11  2020

__Ejercicio 11:__ Obtener el año y el mes en una sola columna utilizando el indice del DataFrame anterior

In [27]:
fecha["año/mes"] = fecha.Fecha.dt.strftime("%Y/%m")
fecha

        Fecha  Dia  Mes   Año  año/mes
0  2020-10-22   22   10  2020  2020/10
1  2020-10-23   23   10  2020  2020/10
2  2020-10-24   24   10  2020  2020/10
3  2020-10-25   25   10  2020  2020/10
4  2020-10-26   26   10  2020  2020/10
5  2020-10-27   27   10  2020  2020/10
6  2020-10-28   28   10  2020  2020/10
7  2020-10-29   29   10  2020  2020/10
8  2020-10-30   30   10  2020  2020/10
9  2020-10-31   31   10  2020  2020/10
10 2020-11-01    1   11  2020  2020/11
11 2020-11-02    2   11  2020  2020/11
12 2020-11-03    3   11  2020  2020/11
13 2020-11-04    4   11  2020  2020/11

__Ejercicio 12:__ Obtener el día de la semana (en inglés) de las fechas en el DataFrame anterior

In [28]:
fecha["Dia Semana"] = fecha.Fecha.dt.day_name()

In [29]:
fecha

        Fecha  Dia  Mes   Año  año/mes Dia Semana
0  2020-10-22   22   10  2020  2020/10   Thursday
1  2020-10-23   23   10  2020  2020/10     Friday
2  2020-10-24   24   10  2020  2020/10   Saturday
3  2020-10-25   25   10  2020  2020/10     Sunday
4  2020-10-26   26   10  2020  2020/10     Monday
5  2020-10-27   27   10  2020  2020/10    Tuesday
6  2020-10-28   28   10  2020  2020/10  Wednesday
7  2020-10-29   29   10  2020  2020/10   Thursday
8  2020-10-30   30   10  2020  2020/10     Friday
9  2020-10-31   31   10  2020  2020/10   Saturday
10 2020-11-01    1   11  2020  2020/11     Sunday
11 2020-11-02    2   11  2020  2020/11     Monday
12 2020-11-03    3   11  2020  2020/11    Tuesday
13 2020-11-04    4   11  2020  2020/11  Wednesday

__Ejercicio 13:__

Importar los datos del archivo "columna.xlsx"

In [30]:
columna_df = pd.read_excel("./columna.xlsx")
columna_df

        Fecha
0  2020-10-22
1  2020-10-23
2  2020-10-24
3  2020-10-25
4  2020-10-26
5  2020-10-27
6  2020-10-28
7  2020-10-29
8  2020-10-30
9  2020-10-31
10 2020-11-01
11 2020-11-02
12 2020-11-03
13 2020-11-04

Obtener el año y el mes en una sola columna utilizando el indice del DataFrame anterior

In [32]:
columna_df["Año/Mes"] = columna_df.Fecha.dt.strftime("%Y/%m") 

columna_df

        Fecha  Año/Mes
0  2020-10-22  2020/10
1  2020-10-23  2020/10
2  2020-10-24  2020/10
3  2020-10-25  2020/10
4  2020-10-26  2020/10
5  2020-10-27  2020/10
6  2020-10-28  2020/10
7  2020-10-29  2020/10
8  2020-10-30  2020/10
9  2020-10-31  2020/10
10 2020-11-01  2020/11
11 2020-11-02  2020/11
12 2020-11-03  2020/11
13 2020-11-04  2020/11

__Ejercicio 14__:

Importar la información del archivo "datos.xlsx"

In [33]:
df_datos = pd.read_excel("./datos.xlsx")
df_datos

    year  month  day
0   2018      6   14
1   2018     11   16
2   2018      6   22
3   2018     12   13
4   2020     10   12
5   2021      9    4
6   2018      6   22
7   2018      3    7
8   2019     11   10
9   2019     12   16
10  2019      6   21
11  2021      2   19
12  2019      8   22
13  2019      3   22

Crear una columna llamada fecha, que sea la unión del año, mes y día del dataframe anterior:

In [35]:
df_datos["fecha"] = pd.to_datetime(df_datos[["year","month","day"]])

In [36]:
df_datos

    year  month  day      fecha
0   2018      6   14 2018-06-14
1   2018     11   16 2018-11-16
2   2018      6   22 2018-06-22
3   2018     12   13 2018-12-13
4   2020     10   12 2020-10-12
5   2021      9    4 2021-09-04
6   2018      6   22 2018-06-22
7   2018      3    7 2018-03-07
8   2019     11   10 2019-11-10
9   2019     12   16 2019-12-16
10  2019      6   21 2019-06-21
11  2021      2   19 2021-02-19
12  2019      8   22 2019-08-22
13  2019      3   22 2019-03-22

__Ejercicio 15:__ Crear una variable con la funcion pd.Timestamp que contenga la fecha "15-05-2022"

In [38]:
date = pd.Timestamp(2022,5,15)

In [39]:
date

Timestamp('2022-05-15 00:00:00')

__Ejericio 16:__ Obtener el año, día y mes de la fecha anterior

In [41]:
date.year

2022

In [42]:
date.month

5

In [43]:
date.day

15

__Ejericio 17:__ Obtener el nombre del mes en español utilizando la fecha anterior (Ej. "Enero"):

In [44]:
mes = { 1: 'Enero',
        2: 'Febrero',
        3: 'Marzo',
        4: 'Abril',
        5: 'Mayo',
        6: 'Junio',
        7: 'Julio', 
        8: 'Agosto',
        9: 'Septiembre',
        10: 'Octubre',
        11: 'Noviembre',
        12: 'Diciembre',
      }

In [45]:
def name_month(x):
    return mes[x]

In [46]:
name_month(date.month)

'Mayo'

__Ejercicio 18:__ Obtener una lista con todas las fechas entre "2022-8-13" y "2022-8-24" con pd.date_range

In [47]:
fch1 = pd.Timestamp(2022,8,13)
fch2 = pd.Timestamp(2022,8,24)

In [48]:
pd.date_range(fch1,fch2)

DatetimeIndex(['2022-08-13', '2022-08-14', '2022-08-15', '2022-08-16',
               '2022-08-17', '2022-08-18', '2022-08-19', '2022-08-20',
               '2022-08-21', '2022-08-22', '2022-08-23', '2022-08-24'],
              dtype='datetime64[ns]', freq='D')

__Ejercicio 19:__ Obtener una lista con 6 fechas empezando el día "2022-09-15" utilizando pd.date_range, cada fecha debe ser 5 días siguientes a la anterior

In [50]:
inicio1 = pd.Timestamp(2022,9,15)

pd.date_range(inicio1,periods=6,freq="5D")

DatetimeIndex(['2022-09-15', '2022-09-20', '2022-09-25', '2022-09-30',
               '2022-10-05', '2022-10-10'],
              dtype='datetime64[ns]', freq='5D')

__Ejercicio 20:__ Sumar 4 días y 2 semanas a la fecha "2022-12-22"

In [51]:
pd.Timestamp(2022,12,22) + pd.Timedelta(weeks=2,days=4)

Timestamp('2023-01-09 00:00:00')

__Ejercicio 21:__ Obtener la el día de la semana en la fecha "2023-02-28" (Ej. Thursday)

In [ ]:

fecha1 = pd.Timestamp(2023,2,28)
fecha1.day_name()

'Tuesday'

__Ejercicio 22:__ Utilizar strftime para obtener el nombre del mes (Ej. January) y el dia en la fecha "2020/03/22":

In [54]:

fecha2 = pd.Timestamp(2020,3,22)

In [55]:
fecha2.strftime("%B")

'March'

__Ejercicio 23:__

Importar el archivo "Ejercicio 23.xlsx", utilizando la columna Fecha como indice:

In [59]:
df = pd.read_excel("./Ejercicio 23.xlsx")

In [60]:
df

        Fecha
0  2020-01-22
1  2020-01-23
2  2020-01-24
3  2020-01-25
4  2020-01-26
5  2020-01-27
6  2020-01-28
7  2020-01-29
8  2020-01-30
9  2020-01-31
10 2020-02-01
11 2020-02-02

Utilizando el DataFrame anterior, crear una columna que contenga el mes de cada fecha:

In [61]:
df["Mes"] = df.Fecha.dt.month

In [62]:
df

        Fecha  Mes
0  2020-01-22    1
1  2020-01-23    1
2  2020-01-24    1
3  2020-01-25    1
4  2020-01-26    1
5  2020-01-27    1
6  2020-01-28    1
7  2020-01-29    1
8  2020-01-30    1
9  2020-01-31    1
10 2020-02-01    2
11 2020-02-02    2

__Ejercicio 24:__ Utilizando el DataFrame anterior, crear una columna únicamente con el año y día de cada fecha (Ej. 2020-13)

In [63]:
df["Mes/Año"] = df.Fecha.dt.strftime("%m/%Y")

In [64]:
df

        Fecha  Mes  Mes/Año
0  2020-01-22    1  01/2020
1  2020-01-23    1  01/2020
2  2020-01-24    1  01/2020
3  2020-01-25    1  01/2020
4  2020-01-26    1  01/2020
5  2020-01-27    1  01/2020
6  2020-01-28    1  01/2020
7  2020-01-29    1  01/2020
8  2020-01-30    1  01/2020
9  2020-01-31    1  01/2020
10 2020-02-01    2  02/2020
11 2020-02-02    2  02/2020