# Ejercicios con fechas Pandas

In [1]:
import pandas as pd

__Ejercicio 1:__ Obtener la fecha de hoy con Timestamp.now:

__Ejercicio 2:__ Crear una variable llamada "hoy" con la fecha actual:

__Ejercicio 3:__ Obtener el año, mes y día de la fecha de hoy utilizando la variable anterior:

__Ejercicio 4:__ Obtener el mes en español

In [2]:
meses_esp = {1: 'Enero', 
             2: 'Febrero',
             3: 'Marzo',
             4: 'Abril',
             5: 'Mayo',
             6: 'Junio',
             7: 'Julio',
             8: 'Agosto',
             9: 'Septiembre',
             10: 'Octubre',
             11: 'Noviembre',
             12: 'Diciembre'}

__Ejercicio 5__ Nombrar todos los días de la siguiente semana utilizando pandas date_range:

__Ejercicio 6:__ Crear un dataframe de fechas con una diferencia de 5 días entre cada elemento

__Ejercicio 7:__ Sumar 2 días y 9 semanas a la fecha de hoy:

__Ejercicio 8:__ Obtener el día de la semana en letras (en inglés) del día de hoy

__Ejercicio 9:__

Utilizar datetime.strftime para obtener la fecha en un formato personalizado (Ej. "Fecha: 10/02/15")

__Ejercicio 10__:

Importar el archivo fecha.xlsx

Agregar al dataframe una columna con el día, otra con el mes y finalmente una con el año de cada fecha:

__Ejercicio 11:__ Obtener el año y el mes en una sola columna utilizando el indice del DataFrame anterior

__Ejercicio 12:__ Obtener el día de la semana (en inglés) de las fechas en el DataFrame anterior

__Ejercicio 13:__

Importar los datos del archivo "columna.xlsx"

Obtener el año y el mes en una sola columna utilizando el indice del DataFrame anterior

__Ejercicio 14__:

Importar la información del archivo "datos.xlsx"

Crear una columna llamada fecha, que sea la unión del año, mes y día del dataframe anterior:

__Ejercicio 15:__ Crear una variable con la funcion pd.Timestamp que contenga la fecha "15-05-2022"

__Ejericio 16:__ Obtener el año, día y mes de la fecha anterior

__Ejericio 17:__ Obtener el nombre del mes en español utilizando la fecha anterior (Ej. "Enero"):

In [3]:
mes = { 1: 'Enero',
        2: 'Febrero',
        3: 'Marzo',
        4: 'Abril',
        5: 'Mayo',
        6: 'Junio',
        7: 'Julio', 
        8: 'Agosto',
        9: 'Septiembre',
        10: 'Octubre',
        11: 'Noviembre',
        12: 'Diciembre',
      }

__Ejercicio 18:__ Obtener una lista con todas las fechas entre "2022-8-13" y "2022-8-24" con pd.date_range

__Ejercicio 19:__ Obtener una lista con 6 fechas empezando el día "2022-09-15" utilizando pd.date_range, cada fecha debe ser 5 días siguientes a la anterior

__Ejercicio 20:__ Sumar 4 días y 2 semanas a la fecha "2022-12-22"

__Ejercicio 21:__ Obtener la el día de la semana en la fecha "2023-02-28" (Ej. Thursday)

__Ejercicio 22:__ Utilizar strftime para obtener el nombre del mes (Ej. January) y el dia en la fecha "2020/03/22":

__Ejercicio 23:__

Importar el archivo "Ejercicio 23.xlsx", utilizando la columna Fecha como indice:

Utilizando el DataFrame anterior, crear una columna que contenga el mes de cada fecha:

__Ejercicio 24:__ Utilizando el DataFrame anterior, crear una columna únicamente con el año y día de cada fecha (Ej. 2020-13)